<div class="de-SlideViews js-de-SlideViews">
	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-narrow">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-account' %}
			<li class="de-u-spaceNone">
				<a class="de-MenuList-item de-MenuList-item--brand" href="/pages/our-story">
				<div class="de-MenuList-content">
					<h5 class="de-MenuList-heading">Meet Decathlon</h5>
					<p class="de-MenuList-summary">Our Mission, Our Story</p>
				</div>
				{% include 'patterns-icons-chevron',
					class: "de-MenuList-icon"
					role: 'presentation' %}
				</a>
			</li>
		</ul>
		<ul class="de-MenuList de-u-listReset">
	    	<li class="de-u-spaceNone">
				<button class="de-MenuList-item" href="#"
					data-de-slideViews-target="menu-list-all-sports">
					<div class="de-MenuList-content">
						<h5 class="de-MenuList-heading">
							All Sports
						</h5>
						<p class="de-MenuList-summary">A-Z</p>
					</div>
					<p class="de-MenuList-badge">
						{{ linklists["shop"].links.size }}
					</p>
					{% include 'patterns-icons-chevron',
						class: "de-MenuList-icon",
						role: 'presentation' %}
				</button>
			</li>

			{% include 'navigation-menu-list',
				list: linklists["activities"],
				menuChild: "menu-list" %}

			{% include 'navigation-menu-list-collection',
				list: linklists["womens"],
				menuChild: "menu-list" %}

			{% include 'navigation-menu-list-collection',
				list: linklists["mens"],
				menuChild: "menu-list" %}
		</ul>
		<ul class="de-MenuList">
			{% include 'navigation-menu-list',
				list: linklists["additional-shopping"] %}
		</ul>
		<ul class="de-MenuList">
			{% include 'navigation-menu-list',
				list: linklists["brand-menu"] %}
		</ul>
	</section>

	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-all-sports">
	    <ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-narrow",
				linkLabel: "Home" %}
	      	{% include 'navigation-menu-list',
				list: linklists["shop"],
				showCaret: false %}
	    </ul>
	</section>

	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-womens">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-narrow",
				linkLabel: "Home" %}
			{% include 'navigation-menu-list',
				list: linklists["womens"],
				menuChild: "menu-list" %}
	    </ul>
	</section>

	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-mens">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-narrow",
				linkLabel: "Home" %}
			{% include 'navigation-menu-list',
				list: linklists["mens"],
				menuChild: "menu-list" %}
	    </ul>
	</section>

	{% for link in linklists.activities.links %}
	{% if link.links != blank %}
	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ link.handle }}">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-narrow",
				linkLabel: "Home" %}
	    </ul>
	    <ul class="de-MenuList">
		    {% for child_link in link.links %}
		    <li class="de-u-spaceNone">
		      <a class="de-MenuList-item" href= "{{ child_link.url }}">
		        {{ child_link.title }}
		      </a>
		    </li>
		    {% endfor %}
	    </ul>
	</section>
  	{% endif %}
  	{% endfor %}

	{% for link in linklists.womens.links %}
	{% assign menuCrumbLabel = linklists.womens.title | remove: "'s" | prepend: "For " %}
	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ link.handle }}">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-list-womens",
				linkLabel: menuCrumbLabel %}
			<ul class="de-MenuList">
			    {% for child_link in link.links %}
			    <li class="de-u-spaceNone">
			      <a class="de-MenuList-item" href= "{{ child_link.url }}">
			        {{ child_link.title }}
			      </a>
			    </li>
			    {% endfor %}
		    </ul>
		</ul>
	</section>
	{% endfor %}

	{% for link in linklists.mens.links %}
	{% assign menuCrumbLabel = linklists.mens.title | remove: "'s" | prepend: "For " %}
	{% assign menuName%}
	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ link.handle }}">
		<ul class="de-MenuList">
			{% include 'navigation-menu-mobile-crumb',
				slideTarget: "menu-list-mens",
				linkLabel: menuCrumbLabel %}
			<ul class="de-MenuList">
			    {% for child_link in link.links %}
			    <li class="de-u-spaceNone">
			      <a class="de-MenuList-item" href= "{{ child_link.url }}">
			        {{ child_link.title }}
			      </a>
			    </li>
			    {% endfor %}
		    </ul>
	</ul>
	</section>
	{% endfor %}

</div>
