<li class="de-TextGrid-cell de-u-spaceNone">
  <h3 class="de-u-textGrow1 de-u-textSemibold de-u-lineHeight3 de-u-spaceNone">
    {% if 'item.url' %}
      <a class="de-u-linkClean" href="{{ item.url }}">{{ item.title }}</a>
    {% else %}
      {{ item.title }}
    {% endif %}
  </h3>
  <ul class="de-u-listReset de-u-spaceNone de-u-lineHeight3">
    {% for list-item in item.links %}
      <li class="de-u-spaceNone">
        <a class="de-u-linkClean de-u-textShrink1" href="{{ list-item.url }}">{{ list-item.title }}</a>
      </li>
    {% endfor %}
  </ul>
</li>
