<!-- /snippets/added-item-popup-template.liquid -->
<script id="AddedItemTemplate" type="text/template">
{% raw %}
<div id="AddedItemPopup" class="de-AddedItemPopup {{#if multiple_products}}itemPopup--multipleProducts{{/if}}{{#if isWishlist}} itemPopup--wishlist{{/if}}">
  <div class="close-itemPopup-btn"></div>
  <div class="wrapper">
    <div class="u-flex-list u-flex-list--line">
      <div class="u-flex-listItem itemPopup-headerFlex">
        <h4 class="itemPopup-header">Added to {{#if isWishlist}}wishlist{{else}}cart{{/if}}:</h4>
      </div>
      <div class="u-flex-listItem itemPopup-productFlex">
        <div class="itemPopup-productCenter">
          {{#each multiple_products}}
            <p class="itemPopup-title">{{this}}</p>
          {{/each}}
          {{#unless multiple_products}}
          <img class="itemPopup-image" src="{{image}}" alt="{{product_title}}" />

          <div class="starRating itemPopup-rating">
          {{{rating}}}
          </div>

          <p class="itemPopup-title">{{product_title}}</p>

          <p class="itemPopup-details">
            <span class="itemPopup-options">
            {{#each variant_options}}
              <span class="itemPopup-option">{{this}}</span>
            {{/each}}
            </span>
            <span class="itemPopup-nowrap">
              <span class="itemPopup-qty">Qty: {{added_quantity}}</span>
              <span class="itemPopup-price">{{price_dollars}}</span>
            </span>
          </p>
          {{/unless}}
        </div>
      </div>
      <div class="u-flex-listItem itemPopup-infoFlex">
        <div class="itemPopup-image"></div>
        <div class="itemPopup-infoWrap u-block">
          {{#unless isWishlist}}
          <h5 class="itemPopup-subtotal">Subtotal: {{subtotal}}</h5>
          <p class="itemPopup-shipInfo">Shipping &amp; taxes calculated at checkout</p>
          {{/unless}}
          <p>
            {{#if isWishlist}}
            <a class="itemPopup-submitCart btn btn--full" href="/pages/wishlist">View Wishlist</a>
            {{else}}
            <a class="itemPopup-viewCart btn" href="/cart">View Cart</a>
            <a class="itemPopup-submitCart btn js-submitCart js-de-checkout" href="/checkout">Checkout</a>
            {{/if}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endraw %}
</script>
