{% comment %}
{% if collection.image %}
  <div class="collectionImage" style="background-image:url('{{ collection.image | img_url: '1024x' }}'); " data-background-image="{{ collection.image | img_url: '1024x' }}">
    <div class="wrapper">
      {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}
      <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
    </div>
  </div>
{% endif %}
{% endcomment %}{% if collection.image %} <div class="collectionImage" style="background-image:url('{{ collection.image | img_url: '1024x' }}'); " data-background-image="{{ collection.image | img_url: '1024x' }}"> <div class="wrapper"> <h1 class="collectionImage-header text-center">{{ collection.title }}</h1> </div> </div> {% endif %}