{% comment %} top_level is determined in {% include 'find-top-level-collection' %}{% endcomment %}{% comment %}
<div>
  <ul style='list-style: none'>
    <li class="custom-menu accordion">
      <div class="accordion-head">
        <a class="breadcrumb-item top-level" href="{{ shop.url }}/collections/{{ top_level.handle }}">{{ top_level.title }}</a>
      </div>
      <ul style='list-style: none' class="accordion-body">
        {% for link in top_level.links %}
          <li>
            <a class="{% if link.active or link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{ link.url }}">
              {{ link.title }}
            </a>
            {% if link.child_active or link.active and link.links != blank %}
              <ul style='list-style: none'>
                {% for sub_link in link.links %}
                  <li>
                    <a class="{% if sub_link.active or sub_link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{ sub_link.url }}">{{ sub_link.title }}</a>
                    {% if sub_link.child_active or sub_link.active and sub_link.links != blank %}
                      <ul style='list-style: none'>
                        {% for sub_sub_link in sub_link.links %}
                          <li>
                            <a class="{% if sub_sub_link.active or sub_sub_link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{ sub_sub_link.url }}">{{ sub_sub_link.title }}</a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
{% endcomment %}<div> <ul style='list-style: none'> <li class="custom-menu accordion medium-down--hide"> <div class="accordion-head"> <a class="breadcrumb-item top-level" href="{{shop.url}}/collections/{{top_level.handle}}">{{top_level.title}}</a> </div><ul style='list-style: none' class="accordion-body">{% for link in top_level.links %}<li> <a class="{% if link.active or link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{link.url}}">{{link.title}}</a>{% if link.child_active or link.active and link.links != blank %}<ul style='list-style: none'>{% for sub_link in link.links %}<li> <a class="{% if sub_link.active or sub_link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{sub_link.url}}">{{sub_link.title}}</a>{% if sub_link.child_active or sub_link.active and sub_link.links != blank %}<ul style='list-style: none'>{% for sub_sub_link in sub_link.links %}<li> <a class="{% if sub_sub_link.active or sub_sub_link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}" href="{{sub_sub_link.url}}">{{sub_sub_link.title}}</a> </li>{% endfor %}</ul>{% endif %}</li>{% endfor %}</ul>{% endif %}</li>{% endfor %}</ul> </li></ul></div>
