{%- if collection.metafields.merchandising.link_2 -%}
  <a href="{{ collection.metafields.merchandising.link_2 }}" id="{{ viewport }}AlgoliaCollectionBanner_2">
{%- endif -%}
  {%- case viewport -%}
    {%- when 'desktop' -%}
      {%- if collection.metafields.merchandising.desktop_2 -%}
        <div class="collection-custom-banner-desktop-2">
          <img src="{{ collection.metafields.merchandising.desktop_2 }}" alt="{{ collection.title }} desktop banner">
        </div>
      {%- endif -%}
    {%- when 'mobile' -%}
      {%- if collection.metafields.merchandising.mobile_2 -%}
        <div class="collection-custom-banner-mobile-2">
          <img src="{{ collection.metafields.merchandising.mobile_2 }}" alt="{{ collection.title }} mobile banner">
        </div>
      {%- endif -%}
  {%- endcase -%}
{%- if collection.metafields.merchandising.link_2 -%}
  </a>
{%- endif -%}
