<div class="banner banner--billboard loading{{ banner_adtl_classes }}"{% if banner_bg_image %} data-background-image="{{ banner_bg_image }}"{% endif %}{% if banner_bg_position != blank %} style="background-position:{{ banner_bg_position }}"{% endif %}{% if banner_id %} id="{{banner_id}}"{% endif %}>
  {% comment %} <div id="bannerOverlay" class="banner--billboard__overlay loading"></div> {% endcomment %}

  <div class="wrapper{{ banner_wrapper_adtl_classes }}">
    <div class="banner-content">
      {%- if banner_intro -%}
        <p class="banner-intro">{{ banner_intro }}</p>
      {%- endif -%}

      {%- if banner_title -%}
        <h2 class="banner-title{{ banner_title_adtl_classes }}">{{ banner_title }}</h2>
      {%- endif -%}

      {%- if banner_subtitle -%}
        <p class="banner-subtitle{% unless button_url %} u-marginBottom0x{% endunless %}">{{ banner_subtitle }}</p>
      {%- endif -%}

      {%- if button_url -%}
        {%- include 'button' -%}
      {%- endif -%}
    </div>
  </div>
</div>