{% assign author_prefix = 'Author: '%}

{% if featured_tags %}
  {% assign tag_list = featured_tags %}
{% else %}
  {% assign tag_list = blog.all_tags %}
{% endif %}

  <select class="authorSelect right js-authorSelect">
    <option value="{{ blog.url }}">AUTHOR: ALL</option>
  {% for tag in tag_list %}
    {% capture tag_url %}{{ blog.url }}/tagged/{{ tag | handleize }}{% endcapture %}
    {% if tag contains author_prefix %}
    <option value="{{ tag_url }}">{{ tag | split: author_prefix }}</option>
    {% endif %}
  {% endfor %}
  </select>
