<div class="blue-band{% if footer_blue_banner %} blue-band--footer{% endif %}">
  <div class="wrapper">
    {% comment %} {%- if footer_blue_banner -%}<div class="attachHikers u-block"></div>{%- endif -%} {% endcomment %}
    <div class="grid--full">
      <div class="grid__item large--one-fifth{% if footer_blue_banner %} blue-band--footer-logo{% endif %}">
        {%- if footer_blue_banner -%}
        <div class="yellowgram">
			<div class="yellowgram-item-wrapper">
				 <div class="yellowgram-icon">
					{% if settings.blue_band__yellowgram_icon != blank %}
  	   					<img src="{{ settings.blue_band__yellowgram_icon | img_url: 'master' }}" alt="{{ settings.blue_band__yellowgram_text }}" />
  	   				{% else %}
  	   			  		<i class="ico ico--star"></i>
  	   				{% endif %}
		   		 </div>
		   		 <div class="yellowgram-content">
		   		   <p class="">{{ settings['blue_band__yellowgram_text'] }}</p>
		   		 </div>
			 </div>
        </div>
        {%- else -%}
        <p class="blue-band-title u-textUppercase u-textBold text-center blue-band-item-wrapper">{{ settings['blue_band__home_title'] }}</p>
        {%- endif -%}
      </div>
      <div class="grid__item large--one-fifth medium--one-half">
        {% if settings['blue_band__fact_one_link'] == blank %}
        	<div class="blue-band-item-wrapper">
        {% else %}
        	<div class="blue-band-item-wrapper blue-band-link" data-href="{{ settings['blue_band__fact_one_link'] }}">
        {% endif %}
			<div class="blue-band-icon">

			  	<i class="ico{% if settings.blue_band__fact_one_icon == blank %} ico--star{% endif %}">
					{% if settings.blue_band__fact_one_icon != blank %}
						<img src="{{ settings.blue_band__fact_one_icon | img_url: 'master' }}" alt="{{ settings.blue_band__fact_one_text }}" />
					{% endif %}
				</i>

			</div>
			<div class="blue-band-content">
			  	<p class="">{{ settings['blue_band__fact_one_text'] }}</p>
			</div>
        </div>
      </div>
      <div class="grid__item large--one-fifth medium--one-half">
        {% if settings['blue_band__fact_two_link'] == blank %}
        	<div class="blue-band-item-wrapper">
        {% else %}
        	<div class="blue-band-item-wrapper blue-band-link" data-href="{{ settings['blue_band__fact_two_link'] }}">
        {% endif %}
          <div class="blue-band-icon">

            <i class="ico{% if settings.blue_band__fact_two_icon == blank %} ico--star{% endif %}">
				{% if settings.blue_band__fact_two_icon != blank %}
					  <img src="{{ settings.blue_band__fact_two_icon | img_url: 'master' }}" alt="{{ settings.blue_band__fact_two_text }}" />
				{% endif %}
			</i>

          </div>
          <div class="blue-band-content">
            	<p>{{ settings['blue_band__fact_two_text'] }}</p>
          </div>
        </div>
      </div>
      <div class="grid__item large--one-fifth medium--one-half">
        {% if settings['blue_band__fact_three_link'] == blank %}
        	<div class="blue-band-item-wrapper">
        {% else %}
        	<div class="blue-band-item-wrapper blue-band-link" data-href="{{ settings['blue_band__fact_three_link'] }}">
        {% endif %}
          	<div class="blue-band-icon">

            	<i class="ico{% if settings.blue_band__fact_three_icon == blank %} ico--star{% endif %}">
				{% if settings.blue_band__fact_three_icon != blank %}
					<img src="{{ settings.blue_band__fact_three_icon | img_url: 'master' }}" alt="{{ settings.blue_band__fact_three_text }}" />
				{% endif %}
				</i>

          	</div>
          	<div class="blue-band-content">
            	<p>{{ settings['blue_band__fact_three_text'] }}</p>
          	</div>
        </div>
      </div>
      <div class="grid__item large--one-fifth medium--one-half">
        {% if settings['blue_band__fact_four_link'] == blank %}
        <div class="blue-band-item-wrapper">
        {% else %}
        <div class="blue-band-item-wrapper blue-band-link" data-href="{{ settings['blue_band__fact_four_link'] }}">
        {% endif %}
          <div class="blue-band-icon">

             <i class="ico{% if settings.blue_band__fact_four_icon == blank %} ico--star{% endif %}">
				{% if settings.blue_band__fact_four_icon != blank %}
				  <img src="{{ settings.blue_band__fact_four_icon | img_url: 'master' }}" alt="{{ settings.blue_band__fact_four_text }}" />
				 {% endif %}
			 </i>

          </div>
          <div class="blue-band-content">
            <p>{{ settings['blue_band__fact_four_text'] }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
