{% assign option_type = 'size' %}
{% assign sizes_delimiter = '\,' %}

{% capture sizes %}
  {% for product_option in product.options_with_values %}
    {% assign product_option_name = product_option.name | downcase %}
    {% if product_option_name == option_type %}
      {% for value in product_option.values %}
        {{- value -}}
        {%- unless forloop.last -%}{{sizes_delimiter}}{%- endunless -%}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign all_sizes = sizes | split: sizes_delimiter %}

<div class="de-ProductPageTopShelf-sizeSwatches">
  <div class="de-u-flex de-u-flexAlignItemsCenter de-u-flexJustifyBetween">
    <div
      class="{% if all_sizes.size == 1 %}
             de-u-hidden de-u-md-block
             {% endif %}">
      <strong>{{ 'products.options.size' | t | capitalize }}: </strong>
      <span class="de-u-textDarkGray de-u-textMedium js-de-SizeInfo">
        Select a {{ 'products.options.size' | t }}
      </span>
    </div>
    {%- if product_has_size_chart -%}
      <a
        href="#size-and-fit"
        data-drawer-id="size-guide-drawer"
        data-drawer-toggle-aria-label="Open the size guide dialog."
        data-drawer-action="open"
        class="de-u-flex de-u-flexAlignItemsCenter
              de-u-textBlue de-u-textMedium de-u-textSelectNone
              js-de-Drawer-toggle"
        data-test="size-and-fit-toggle">
        {% include 'assets-icons-ruler' %}
        {{ 'products.options.size' | t | capitalize }} Guide
      </a>
    {%- endif -%}
  </div>

  <div class="de-SwatchObjects
              de-Wrapper--fullwidth de-u-padEnds06
              js-de-SizeSwatches">
    {% for size in all_sizes %}
      {% assign cleanSize = size | strip | escape %}
      <button
        class="de-SwatchObjects-item de-SwatchObjects--size de-u-textMedium
               js-de-SizeSwatches-option"
        value="{{ cleanSize }}">
        <span class="de-u-hiddenVisually">
          Select the {{ 'products.options.size' | t }} {{ cleanSize }} before adding this product to
          your cart.
        </span>
        <span aria-hidden>
          {{ cleanSize }}
        </span>
      </button>
    {% endfor %}
  </div>
</div>
