{% comment %}
When page is not home, blue-band should be loaded in the footer instead within banner-hero
as blue-band is used on pages like https://decathlon.com.au/collections/womens-overtrousers
{% endcomment %}
{% if template != "index" %}
{% include 'blue-band', footer_blue_banner: true %}
{% endif %}

<!-- begin site-footer -->
<footer class="site-footer small--text-center" role="contentinfo">
  <div class="wrapper">

    <div class="mobile-footer">
      {% if settings.footer_newsletter_enable %}
          {% include 'compositions-footer-newsletter', adtl_newsletter_classes: ' large--one-third' %}
      {% endif %}
      <div class="footer-mobile-logo">
         <a href="/" itemprop="url">
            <img src="{{ 'logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
          </a>
      </div>
      {% if settings.footer_social_enable %}
        {% include 'compositions-footer-social', adtl_social_classes: ' large--one-third mobile-footer-social' %}
      {% endif %}
    <ul class="grid--full mobile-footer footerNav__accordion u-paddingTopBottom4x">
      {% for link in linklists['footer'].links %}
      <li class="grid__item footerNav-item">
        <p class="footerNav-link footerNav__header">{{ link.title }}
        {% include 'patterns-icons-chevron',
        class: "de-MenuList-icon"
        role: 'presentation' %}
        </p>
        {% if link.links != blank %}
          <ul class="footerNav__content footerNav__child">
            {% for child_link in link.links %}
              <li class="footerNav-item {% if link.active %} footerNav-item--active{% endif %}">
                <a href="{{ child_link.url }}" class="footerNav-link">{{ child_link.title }}</a>
              </li>
            {% endfor %}
          </ul>
          <hr class="footerNav__hr">
        {% endif %}
      </li>

      {% endfor %}
    </ul>

    <div class="u-block mobile-footer-copyright footer-copyright">
        <img class="u-marginLeft1x" src="{{ "afterpay.svg" | asset_url }}" alt="Afterpay"></a>
        <img class="u-marginLeft1x" src="{{ "zip-new1.svg" | asset_url }}" alt="Zip"></a>
        <img class="u-marginLeft1x" src="{{ "visa-new.svg" | asset_url }}" alt="VISA"></a>
        <img class="u-marginLeft1x" src="{{ "paypal-new.svg" | asset_url }}" alt="Paypal"></a>
        <img class="u-marginLeft1x" src="{{ "mastercard-new.svg" | asset_url }}" alt="Mastercard"></a>
        <img class="u-marginLeft1x" src="{{ "amex-new.svg" | asset_url }}" alt="AMEX"></a>
        <img class="u-marginLeft1x" src="{{ "giftcard.svg" | asset_url }}" alt="Giftcard"></a>
      </div>
      <div class="u-block mobile-footer-countries footerCountriesLink">
        <a href="https://www.decathlon-united.com/en/about/" target="_blank">Explore Decathlon in other countries: <img class="u-marginLeft1x" src="{{ "icon-flag-au.svg" | asset_url }}" alt="AU Flag"></a>
      </div>
      <p class="u-block mobile-footer-copyright footer-copyright">&copy; {{ 'now' | date: "%Y" }} Decathlon | ABN 64 608 596 069 </p>
    </div> <!-- end of mobile-footer -->

    <div class="grid--full desktop-footer">
      <div class="grid__item ">
        <ul class="grid--full footerNav">
          {% for link in linklists.footer.links %}
          <li class="grid__item footerNav-item">
            <p class="footerNav-link __header">{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="footerNav__child">
                {% for child_link in link.links %}
                <li class="footerNav-item {% if link.active %} footerNav-item--active{% endif %}">
                  <a href="{{ child_link.url }}" class="footerNav-link">{{ child_link.title }}</a>
                </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
          {% endfor %}
        </ul>
      </div>

      {% if settings.footer_newsletter_enable %}
        {% include 'compositions-footer-newsletter', adtl_newsletter_classes: ' large--four-tenths' %}
      {% endif %}

    </div>
    <div class="grid desktop-footer">
      {% if settings.footer_social_enable %}
        {% include 'compositions-footer-social', adtl_social_classes: ' large--one-half' %}
      {% endif %}

      <div class="grid__item large--one-half u-textRight">
        <div class="footerCountriesLink u-marginTop2x">
          <a href="https://www.decathlon-united.com/en/about/" target="_blank">Explore Decathlon in other countries: <img class="u-marginLeft1x" src="{{ "icon-flag-au.svg" | asset_url }}" alt="AU Flag"></a>
        </div>
      </div>
      <div style="padding-right:600px">
        <div>
          <img class="u-marginLeft1x" src="{{ "afterpay.svg" | asset_url }}" alt="Afterpay"></a>
          <img class="u-marginLeft1x" src="{{ "zip-new1.svg" | asset_url }}" alt="Zip"></a>
          <img class="u-marginLeft1x" src="{{ "visa-new.svg" | asset_url }}" alt="VISA"></a>
          <img class="u-marginLeft1x" src="{{ "paypal-new.svg" | asset_url }}" alt="Paypal"></a>
          <img class="u-marginLeft1x" src="{{ "mastercard-new.svg" | asset_url }}" alt="Mastercard"></a>
          <img class="u-marginLeft1x" src="{{ "amex-new.svg" | asset_url }}" alt="AMEX"></a>
          <img class="u-marginLeft1x" src="{{ "giftcard.svg" | asset_url }}" alt="Giftcard"></a>
        </div>
      </div>
    </div>
  </div>

   <script type="text/javascript">
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = ('https:' == document.location.protocol ? 'https://' : 'http://' )+'bp-1c51.kxcdn.com/prj/AS-2315210.js';
    var x = document.getElementsByTagName('script')[0];
    x.parentNode.insertBefore(s, x);
  }
  )();
</script>

</footer>

<script>
var sports = [{%- for link in linklists['all-sports'].links -%}
{ "title": "{{ link.object.title | capitalize }}", "url": "{{ link.object.url }}", "image": "{{ link.object.title | downcase | prepend: 'sportsSearch-' | append: '.jpg' | file_url }}" }{%- if forloop.last != true -%},{%- endif -%}
{%- endfor -%}]
</script>
