<!-- create-breadcrumbs.liquid Start -->
<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  {% comment %} Hiding "All Sports" per DEC-643
  <a href="/collections" title="All Sports">All Sports</a>
  <span aria-hidden="true" class="breadcrumb__sep">/</span>
  {% endcomment %}
  <a href="{{shop.url}}/collections/{{top_level.handle}}"{% if top_level.title == collection.title and template contains 'collection' %} class="mobile-hide"{% endif %} title="{{top_level.title}}">{{top_level.title}}</a>
  {% for link in top_level.links %}
  	{% if link.active or link.child_active %}
  		<span aria-hidden="true" class="breadcrumb__sep{% if link.active and template contains 'collection' %} mobile-hide{% endif %}">/</span>
 		 <a href="{{link.url}}"{% if link.url == collection.url and template contains 'collection' %} class="mobile-hide"{% endif %} title="{{link.title}}">{{link.title}}</a>
  			{% if link.child_active %}
  				<span aria-hidden="true" class="breadcrumb__sep{% if template contains 'collection' %} mobile-hide{% endif %}">/</span>
  			{% endif %}
 			{% if link.links != blank %}
  				{% for sub in link.links %}
  					{% if sub.active %}
  						<a href="{{sub.url}}"{% if template contains 'collection' %} class="mobile-hide"{% endif %} title="{{sub.title}}">{{sub.title}}</a>
  					{% endif %}
  				{% endfor %}
  			{% endif %}
  	{% endif%}
  {% endfor %}
</nav>
<!-- create-breadcrumbs.liquid End -->