<!-- create-breadcrumbs.liquid Start -->
{% assign breadcrumbs_top = false %}
{% assign breadcrumbs = false %}

{% assign sports_nav = linklists.sports %}

{% for menu in sports_nav.links %}
  {% capture sport_menu %}{{ menu.handle }}{% endcapture %}

  {% if menu.current %}
    {% if linklists[sport_menu].links.size > 0 %}
      {% assign breadcrumbs_top = menu %}
      {% assign breadcrumbs = linklists[sport_menu].links %}
    {% else %}
      {% assign breadcrumbs_top = menu %}
      {% assign breadcrumbs = sports_nav.links %}
    {% endif %}
  {% else %}

    {% for link in hierarchy %}
    {{ link.title }}
      {% if link.current or link.child_current %}
        {% if link.links.size > 0 %}
          {% assign breadcrumbs_top = link %}
          {% assign breadcrumbs = link.links %}
        {% else %}
          {% assign breadcrumbs_top = menu %}
          {% assign breadcrumbs = linklists[sport_menu].links %}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}

  {% endif %}
{% endfor %} 

<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
  
  <a href="{{shop.url}}/collections/{{top_level.handle}}"{% if top_level.title == collection.title and template contains 'collection' %} class="mobile-hide"{% endif %} title="{{top_level.title}}">{{top_level.title}}</a>

  {% assign sep_class = '' %}

  {% for link in top_level.links %}
    {% if link.current or link.child_current %}
      
      {% if link.current and template.name == 'collection' %}
        {% assign sep_class = 'mobile-hide' %}
      {% endif %}
      <span aria-hidden="true" class="breadcrumb__sep{% if link.active and template contains 'collection' %} mobile-hide{% endif %}">/</span>
      <a href="{{ link.url }}"
        class="{{ sep_class }}" 
        title="{{ link.title }}">
        {{ link.title }}
      </a>

      {% for sub in link.links %}
        {% if sub.current or sub.child_current %}

          {% if sub.current %}
            {% assign sep_class = 'mobile-hide' %}
          {% endif %}
          <span aria-hidden="true" class="breadcrumb__sep{% if link.active and template contains 'collection' %} mobile-hide{% endif %}">/</span>
          <a href="{{ sub.url }}"
            class="{{ sep_class }}" 
            title="{{ sub.title }}">
            {{ sub.title }}
          </a>

          {% for subsub in sub.links %}
            {% if subsub.current or subsub.child_current %}

              {% if subsub.current %}
                {% assign sep_class = 'mobile-hide' %}
              {% endif %}
              <span aria-hidden="true" class="breadcrumb__sep{% if link.active and template contains 'collection' %} mobile-hide{% endif %}">/</span>
              <a href="{{ subsub.url }}"
                class="{{ sep_class }}" 
                title="{{ subsub.title }}">
                {{ subsub.title }}
              </a>

            {% endif %}
          {% endfor %}

        {% endif %}
      {% endfor %}

    {% endif %}
  {% endfor %}

  {% for link in breadcrumbs %}
    {% if link.active or link.child_active %}
      <span aria-hidden="true" class="breadcrumb__sep{% if link.active and template contains 'collection' %} mobile-hide{% endif %}">/</span>
      <a href="{{link.url}}"{% if link.url == collection.url and template contains 'collection' %} class="mobile-hide"{% endif %} title="{{link.title}}">Breadcrumbs{{link.title}}</a>
        {% if link.child_active %}
          <span aria-hidden="true" class="breadcrumb__sep{% if template contains 'collection' %} mobile-hide{% endif %}">/</span>
        {% endif %}
        {% if link.links != blank %}
          {% for sub in link.links %}
            {% if sub.active %}
              <a href="{{sub.url}}"{% if template contains 'collection' %} class="mobile-hide"{% endif %} title="{{sub.title}}">Breadcrumbs{{sub.title}}</a>
            {% endif %}
          {% endfor %}
        {% endif %}
    {% endif%}
  {% endfor %}


</nav>
<!-- create-breadcrumbs.liquid End -->
