<div class="accountHeader">
{% if account_title == null %}
  {% assign account_title = 'customer.account.title' | t %}
{% endif %}
{% comment %}
  {% capture account_title %}
  {% if customer.first_name %}
    Hello, {{ customer.first_name }}!
  {% else %}
    {{ 'customer.account.title' | t }}
  {% endif %}
  {% endcapture %}
{% endcomment %}
  {% if customer.metafields.customers.profile_image and customer_home == true %}
    <img src="{{ customer.metafields.customers.profile_image }}" style="height: 30px; margin-right: 0.5em;" />
  {% endif %}

  <h1 class="h3 accountHeading">{{ account_title }}</h1>

  {% assign customer_tags = customer.tags %}
  {% for tag in customer_tags %}
    {% if tag contains "TOKEN_USER" %}
      {% assign user_token = tag | remove: 'TOKEN_USER: ' %}
    {% endif %}
  {% endfor %}

  <p class="accountLogout">
    {% if customer_home %}
      <a class="accountLogout-link btn btn--text js-de-logout" href="{{ settings.logout_portal_url | default: '/account/logout' }}?logout={{ user_token }}">Logout</a>
    {% else %}
      <a class="btn btn--text" href="/account">Back To My Account</a>
    {% endif %}
  </p>
</div>
<hr class="hr--small">
