<li class="de-u-spaceNone">
	{% assign content-element = 'button' %}
  	<{{ content-element }} class="de-MenuList-item{% if class %} {{class}}{% endif %}"{% if item.url %} href="{{ item.url }}{% endif %}" data-de-slideViews-target="{{menuChild}}-{{list.handle}}">
		<div class="de-MenuList-content">
			<h5 class="de-MenuList-heading">
			  For {{ list.handle | capitalize | remove: "s" }}
			</h5>
			<p class="de-MenuList-summary">
				{% for list-item in list.links limit:2 %}
				  {{ list-item.title | remove: "Women's "  | remove: "Men's " | capitalize }}{% if forloop.last %}…{% else %},{% endif %}
				{% endfor %}
			</p>
      	</div>
	<p class="de-MenuList-badge">{{ list.links.size }}</p>
    {% include 'patterns-icons-chevron', class: 'de-MenuList-icon', role: 'presentation' %}
  </{{ content-element }}>
</li>
