{% assign hierarchy_title = false %}
{% assign hierarchy = false %}

{% assign sports_nav = linklists.sports %}

{% for menu in sports_nav.links %}
  {% capture sport_menu %}{{ menu.handle }}{% endcapture %}

  {% if menu.current %}
    {% if linklists[sport_menu].links.size > 0 %}
      {% assign hierarchy_title = menu %}
      {% assign hierarchy = linklists[sport_menu].links %}
    {% else %}
      {% assign hierarchy_title = menu %}
      {% assign hierarchy = sports_nav.links %}
    {% endif %}
  {% else %}

    {% for link in hierarchy %}
      {% if link.current or link.child_current %}
        {% if link.links.size > 0 %}
          {% assign hierarchy_title = link %}
          {% assign hierarchy = link.links %}
        {% else %}
          {% assign hierarchy_title = menu %}
          {% assign hierarchy = linklists[sport_menu].links %}
        {% endif %}
        {% break %}
      {% endif %}
    {% endfor %}

  {% endif %}
{% endfor %} 

<!-- Start Nested Nav -->
<div id="nested-nav" class="medium-down--hide">
  <ul style='list-style: none'>
    <li>
      <a class="breadcrumb-item top-level" href="{{shop.url}}/collections/{{top_level.handle}}">{{top_level.title}}</a>
      <ul style='list-style: none'>
      
      {% for link in top_level.links %}
        <li>
          <a class="{% if link.active or link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
             href="{{link.url}}">{{link.title}}</a>
          {% if link.child_active or link.active and link.links != blank %}
            <ul style='list-style: none'>
              {% for sub in link.links %}
                <li>
                  <a class="{% if sub.active or sub.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
                    href="{{sub.url}}">{{sub.title}}</a>
                  {% if sub.child_active or sub.active and sub.links != blank %}
                    <ul style='list-style: none'>
                    {% for subSub in sub.links %}
                      <li>
                      <a class="{% if subSub.active or subSub.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
                        href="{{subSub.url}}">{{subSub.title}}</a>
                      </li>
                    {% endfor %}
                    </ul>
                  {% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>       
      {% endfor %}
        
        {% for link in hierarchy %}
          <li>
            <a 
              class="{% if link.active or link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
              href="{{ link.url }}">
              {{ link.title }}
            </a>

            {% if link.child_active or link.active and link.links != blank %}
              <ul style='list-style: none'>
                {% for sub in link.links %}
                  <li>
                    <a 
                      class="{% if sub.active or sub.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
                      href="{{ sub.url }}">
                      {{sub.title}}
                    </a>
                    {% if sub.child_active or sub.active and sub.links != blank %}
                      <ul style='list-style: none'>
                        {% for subSub in sub.links %}
                          <li>
                            <a 
                              class="{% if subSub.active or subSub.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
                              href="{{subSub.url}}">
                              {{subSub.title}}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</div>
<!-- End Nested Nav -->
