{% comment %}
  From Shopify Timber Product template START BLOCK 1
{% endcomment %}
<div class="product-single">
  <div class="text-center">
    <div class="product-single__photos de-js-ProductPhoto de-ProductPhoto" id="ProductPhoto">
      {% assign featured_image = current_variant.featured_image | default: product.featured_image %}
      <img src="{{ featured_image | img_url: 'large' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg">
    </div>

    {% comment %}
      Create thumbnails if we have more than one product image
    {% endcomment %}
    {% if product.images.size > 1 %}
      <ul class="product-single__thumbnails grid-uniform" id="ProductThumbs">

        {% for image in product.images %}
          <li class="grid__item one-quarter">
            <a href="{{ image.src | img_url: 'large' }}" class="product-single__thumbnail">
              <img src="{{ image.src | img_url: 'compact' }}" alt="{{ image.alt | escape }}">
            </a>
          </li>
        {% endfor %}

      </ul>
    {% endif %}

  {% comment %}
  Button to toggle from image to video
  {% endcomment %}
  {% if product_video.size > 0 %}
  <div class="text-left de-watch-video-button de-js-watch-video-button large--hide de-u-textBlue de-u-textSizeBase de-u-padSides">
  <span class="de-js-watch-video">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="de-Icon de-u-textGrow3"><path d="M12,22.27539A10.27515,10.27515,0,1,1,22.27539,12,10.28683,10.28683,0,0,1,12,22.27539ZM12,2.7168A9.2832,9.2832,0,1,0,21.28223,12,9.29336,9.29336,0,0,0,12,2.7168ZM9.78223,17.27344a1.58823,1.58823,0,0,1-1.59278-1.65332V8.37988A1.58782,1.58782,0,0,1,9.78223,6.72705a1.7265,1.7265,0,0,1,.85937.23633l6.27149,3.62012a1.6061,1.6061,0,0,1-.002,2.83252l-6.26855,3.62011A1.7262,1.7262,0,0,1,9.78223,17.27344Zm0-9.5542a.612.612,0,0,0-.60059.66113v7.23975a.61111.61111,0,0,0,.60059.66015.72409.72409,0,0,0,.36328-.10254l6.27051-3.6206a.61687.61687,0,0,0,.001-1.11426L10.14648,7.82324A.73569.73569,0,0,0,9.78223,7.71924Z"></path><path d="M12,22.00025a10.00013,10.00013,0,1,1,9.9999-10.00012A10.01126,10.01126,0,0,1,12,22.00025ZM12,2.442a9.55809,9.55809,0,1,0,9.55785,9.55809A9.569,9.569,0,0,0,12,2.442ZM9.78243,16.99777a1.31938,1.31938,0,0,1-1.31782-1.37795V8.38A1.31938,1.31938,0,0,1,9.78243,7.002a1.45333,1.45333,0,0,1,.72261.19971l6.27009,3.62016a1.3318,1.3318,0,0,1-.00023,2.35624l-6.26963,3.61993A1.45405,1.45405,0,0,1,9.78243,16.99777Zm0-9.55348a.8875.8875,0,0,0-.87578.93591v7.23985a.8875.8875,0,0,0,.87578.93591,1.00824,1.00824,0,0,0,.5017-.14074L16.554,12.79529a.8907.8907,0,0,0,.00023-1.59056L10.2839,7.5848A1.00949,1.00949,0,0,0,9.78243,7.44429Z"></path></svg>
  Watch Video
  </span>
  <span class="de-js-view-images hide">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="de-Icon de-u-textGrow3"><path d="M21.90617,5.33333h-3.437L17.54568,3.3284a2.08591,2.08591,0,0,0-1.88642-1.20494H8.34074A2.07877,2.07877,0,0,0,6.45926,3.3284l-.9284,2.00493h-3.437A2.09077,2.09077,0,0,0,0,7.40741V19.80247a2.09077,2.09077,0,0,0,2.09383,2.07407H21.90617A2.094,2.094,0,0,0,24,19.80247V7.40741A2.09077,2.09077,0,0,0,21.90617,5.33333Zm.90864,14.46914a.90865.90865,0,0,1-.90864.88889H2.09383a.90865.90865,0,0,1-.90864-.88889V7.40741a.90865.90865,0,0,1,.90864-.88889H5.91111a.59106.59106,0,0,0,.53827-.34568L7.5358,3.82716a.89289.89289,0,0,1,.80494-.51852H15.6642a.88456.88456,0,0,1,.80494.51852l1.08642,2.34568a.59945.59945,0,0,0,.53827.34568h3.81728a.90536.90536,0,0,1,.90864.88889V19.80247Z"></path><path d="M12,8.19012a5,5,0,1,0,5,5A5.00611,5.00611,0,0,0,12,8.19012Zm0,9.05565a4.05761,4.05761,0,1,1,4.05956-4.05956A4.06543,4.06543,0,0,1,12,17.24577Z"></path></svg>
    View Images
  </span>
  </div>
  {% endif %}

    {% include 'product-size-swatches' %}

  </div>

  <div class="">

    <h1 itemprop="name">{{ product.title }}</h1>

    <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
      <meta itemprop="priceCurrency" content="{{ shop.currency }}">

      <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

      {% comment %}
        ID addToCartForm is a selector for the ajax cart plugin
      {% endcomment %}
      <form action="/cart/add" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical">

        {% comment %}
          Add product variants as a dropdown.
            - By default, each variant (or combination of variants) will display as its own <option>
            - To separate these into multiple steps, which we suggest, use option_selection.js (see below)

          You can leverage jQuery to add a callback on page load and each time the select element changes:
            - Include option_selection.js (as seen at the bottom of this file)
            - This allows you to use JavaScript anytime the variant dropdown changes
            - This also separates out your variant options (ie. size, color, etc.) to separate select elements

          For more information on products with multiple options, visit:
            - http://docs.shopify.com/support/your-website/themes/can-i-make-my-theme-use-products-with-multiple-options#update-product-liquid
        {% endcomment %}
        <select name="id" id="productSelect" class="product-single__variants">
          {% for variant in product.variants %}
            {% if variant.available %}

              {% comment %}
                Note: if you use option_selection.js, your <select> tag will be overwritten, meaning what you have inside <option> will not reflect what you coded below.
              {% endcomment %}
              <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }} - {{ variant.price | money_with_currency }}</option>

            {% else %}
              <option disabled="disabled">
                {{ variant.title }} - {{ 'products.product.sold_out' | t }}
              </option>
            {% endif %}
          {% endfor %}
        </select>

        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <span id="ProductPrice" class="h2" itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden">{{ 'products.general.sale_price' | t }}</span>
          <p id="ComparePrice">
            {{ 'products.product.compare_at' | t }} {{ current_variant.compare_at_price | money }}
          </p>
        {% endif %}

        <label for="Quantity" class="quantity-selector">{{ 'products.product.quantity' | t }}</label>
        <input type="number" id="Quantity" name="quantity" value="1" min="1" class="quantity-selector">

        <button type="submit" name="add" id="AddToCart" class="btn">
          <span id="AddToCartText">{{ 'products.product.add_to_cart' | t }}</span>
        </button>
      </form>

    </div>
  </div>
</div>
{% comment %}
  From Shopify Timber Product template END BLOCK 2
{% endcomment %}
