{% comment %} Title Lockup {% endcomment %}
<div class="de-ProductTitleLockup de-u-lg-padBottom06">

  {% comment %} Product Flag(s) {% endcomment %}
  <div class="de-u-hidden de-u-lg-block">
    {% include 'product-flag' with class: 'de-u-bgSilver de-u-textBlue' %}
  </div>

  <div
    class="de-u-flex de-u-flexJustifyBetween
           de-u-padTop06 de-u-md-padTopNone">
    <div class="de-u-size1of2 de-u-lineHeight1">
     {% include 'product-sub-brand-logo' %}
    </div>
    {% include 'product-rating-reviews-link' %}
  </div>
  <h1
    class="de-u-textGrow1 de-u-md-textGrow2 de-u-textMedium de-u-spaceBottom06 de-u-spaceTop06"
    itemprop="name">
    {{ product.title }}
  </h1>
  <div class="de-ProductTitleLockup-price">
    <div class="de-ProductPrice
      de-u-textMedium de-u-flex de-u-flexAlignItemsEnd">
      <span class="visually-hidden">
        {{ 'products.general.regular_price' | t }}
      </span>
      <span
        class="js-de-ProductPrice de-u-textGrow6 de-u-lineHeight1"
        content="{{ current_variant.price | divided_by: 100.00 }}"
        id="ProductPrice"
        itemprop="price">
        {{ current_variant.price | money }}
      </span>
      <span class="visually-hidden">
        {{ 'products.general.sale_price' | t }}
      </span>
      <span
        class="de-u-textGrow2 de-u-padLeft de-u-lineHeight2"
        id="ComparePrice">
        <del class="js-de-ComparePrice-text">
          {{ current_variant.compare_at_price | money }}
        </del>
      </span>
    </div>
  </div>
</div>
