{% assign option_type = 'color' %}

{% capture colors %}
  {% for product_option in product.options_with_values %}
    {% assign product_option_name = product_option.name | downcase %}
    {% if product_option_name == option_type %}
      {% assign option_index = forloop.index %}
      {% for value in product_option.values %}
        {{- value -}}
        {%- unless forloop.last -%},{%- endunless -%}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% endcapture %}

{% assign all_colors = colors | split: ',' %}

<div class="de-u-spaceTop06">
  <strong>Color: </strong>
  <span class="de-u-textDarkGray de-u-textMedium
               js-de-ColorInfo">
    Select a color
  </span>
</div>

<div class="de-SwatchObjects de-SwatchObjects--sm-rowGap de-Wrapper--fullwidth
            de-u-padEnds06
            js-de-ColorSwatches">
  {% for color in all_colors %}
    {% assign option_thumb = false %}
    {% assign clean_color = color | strip %}
    {% for variant in product.variants %}
      {% if option_index == 1 %}{% assign current_color = variant.option1 %}{% endif %}
      {% if option_index == 2 %}{% assign current_color = variant.option2 %}{% endif %}
      {% if option_index == 3 %}{% assign current_color = variant.option3 %}{% endif %}
      {% if current_color == clean_color %}
        {% if variant.image.src %}
          {% assign option_thumb = variant.image.src | img_url %}
        {% endif %}
      {% endif %}
      {% if option_thumb != false %}{% break %}{% endif %}
    {% endfor %}
      <button
        class="de-SwatchObjects-item de-ColorSwatches-color
               de-SwatchObjects--color
               js-de-ColorSwatches-option "
        value="{{ clean_color }}">
        <span class="de-u-hiddenVisually">Color: {{ clean_color }}</span>
        {% if option_thumb != false %}
          <img class="de-u-block" src="{{ option_thumb }}" alt="">
        {% else %}
          <div class="de-SwatchObjects-noimage
                      option--color-{{ clean_color | downcase }}">
          </div>
        {% endif %}
      </button>
  {% endfor %}
</div>
