{% comment %}
  Review Summary
{% endcomment %}

{% comment %}
  The rating variable should be a number between 0 and 5 inclusive.
  The number of stars filled in will be the ceiling integer of the rating.
{% endcomment %}

{% comment %}
  Add zero to convert the string to a number, which is stored as a string
  because metafields can't be floats
{% endcomment %}
{% assign product_rating = product.metafields.ratings.product_rating | plus: 0 %}
{% assign rating_average = product_rating | times: 20 %}
{% assign total_item_count = product.metafields.reviews.recent_reviews_object.total_item_count | plus: 0 %}
<div class="de-Grid de-u-padTop3">

  <div class="de-u-md-size1of2 de-u-lg-size1of3 de-u-padSides
    de-u-md-padSidesNone">
    <div class="de-ReviewSummary de-u-padBottom06">
      <div class="de-StarRating de-u-textGrow1">
        <div class="de-StarRating-fill" style="width: {{ rating_average }}%"></div>
      </div>

      <div class="de-u-textGrow2 de-u-flex de-u-flexJustifyBetween
        de-u-flexAlignItemsBaseline">
        <div>
          <span class="de-u-textBold">{{ product_rating }}</span> out of 5 stars
        </div>
        <div class="de-u-textNormal de-u-textAlignRight">{{ total_item_count }} <span class="de-u-hidden de-u-md-inlineBlock">{{ total_item_count | pluralize: 'Review', 'Reviews' }}</div>
      </div>
    </div>

    {% comment %}
      Review Matrix
    {% endcomment %}
    {% assign ratings = product.metafields.reviews.recent_reviews_object.notes %}
    {% comment %}
      Multiply the total_ratings_count by 1.0 so that stars_percentage will not be rounded (the result will be something between 0 and 100%)
    {% endcomment %}
    {% assign total_ratings_count = product.metafields.reviews.recent_reviews_object.total_item_rating_count | times: 1.0 %}
    {% assign STAR_RATING_PERCENTAGE_MULTIPLIER = 20 %}
    <div class="de-ReviewMatrix de-u-padTop03">
      <div class="de-u-flex" id="de-ReviewMatrix-container">
        <div class="de-ReviewMatrix-stars-container">
          {% for rating in ratings %}
            {% assign stars_fill = rating.number | times: STAR_RATING_PERCENTAGE_MULTIPLIER %}
            <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
              <div class="de-StarRating">
                <div class="de-StarRating-fill"
                  style="width: {{ stars_fill }}%">
                </div>
              </div>
              <div class="de-u-textDarkGray de-u-padLeft06"
                  style="position: relative; bottom: 3px;">
                {{ rating.count }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="de-ReviewMatrix-graph-container de-u-flexAuto">
          {% for rating in ratings %}
            {% assign stars_percentage = rating.count | divided_by: total_ratings_count | times: 100 %}
            <div class="de-ReviewMatrix-graph">
              <svg height="10px" width="100%">
                <rect class="total"
                  width="100%"
                  height="7px"
                  fill="#d8d8d8">
                </rect>
                <rect class="completed"
                  width="{{ stars_percentage }}%"
                  height="7px"
                  fill="#0082c3">
                </rect>
              </svg>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <a class="btn btn--productReviews de-u-block de-u-spaceTop2
      de-u-textGrow1 de-u-padEnds" href="{% if customer %}/account?view=review-products{% else %}/account/login?checkout_url=/account?view=review-products{% endif %}">
      Write a Review
    </a>

    <img
      src="{{ product.featured_image | img_url: 'large' }}"
      class="de-u-spaceTop6 de-u-hidden de-u-md-block"
      alt="{{ product.featured_image.alt }}">

  </div>

  {% comment %}
  Customer Reviews
  {% endcomment %}

  <div class="de-u-md-size1of2 de-u-lg-size2of3 de-u-padTop6 de-u-md-padTopNone
    de-u-padSides de-u-md-padRightNone de-u-md-padLeft6">

    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-spaceBottom6">
      <div class="de-u-padRight de-u-textBold de-u-textSizeBase">Sort by</div>
      <select name="ReviewSort" id="ReviewSort" class="de-u-textSizeBase">
        <option value="Newest">Newest</option>
        <option value="Newest">Oldest</option>
      </select>
    </div>

    {% comment %}
      Defaults to most recent X number of reviews sorted descending by posting date and time
      Assigns a `looplimit` value at the top, which could come from a value set in a liquid variable
    {% endcomment %}
    {% assign looplimit = 5 %}
    {% for review in product.metafields.reviews.recent_reviews_object.items %}
      {% if forloop.index <= looplimit %}
        {% assign rating_percentage = review.note | plus: 0 | times: 20 %}
        <div class="de-CustomerReview de-u-padBottom3 de-u-spaceBottom3">
          {% if review.note || review.title %}
            <div class="de-u-flex de-u-flexAlignItemsBaseline de-u-flexCol de-u-lg-flexRow">
              {% if review.note %}
                <div class="de-u-textGrow1 de-u-padRight06 de-u-padBottom06
                  de-lg-padBottomNone de-u-flex de-u-flexAlignItemsCenter">
                  <div class="de-StarRating">
                    <div class="de-StarRating-fill" style="width: {{ rating_percentage }}%"></div>
                  </div>
                </div>
              {% endif %}
              {% if review.title %}
                <div class="de-u-textGrow3 de-u-textMedium
                  de-u-lineHeight2 de-u-padBottom06">
                  {{ review.title }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          <p class="de-u-spaceNone">
            {{ review.body }}
          </p>

          <div class="de-Grid de-u-padTop06">
            <div class="de-u-size4of6 de-u-textDarkGray">
              {% if review.firstname %}
                <div class="de-u-textMedium">
                  {{ review.firstname }}
                </div>
              {% endif %}
              {% comment %}
                @TODO - verify whether product variant information can be made available here
              {% endcomment %}
              {% comment %}
                <span class="de-u-textMedium">Size:</span>
                  M |
                <span class="de-u-textMedium">
                  Color:
                </span> chartreuse
              {% endcomment %}
              {% if review.purchase_checked %}
                <div class="de-u-flex de-u-flexAlignItemsCenter">
                  {% include 'icon-checkmark-badge' with class: 'de-Icon de-u-textGrow5 de-u-padRight06' %}
                  {% comment %}
                    @TODO - Verify whether purchase date is can be made available here
                  {% endcomment %}
                  verified purchase
                </div>
              {% endif %}
            </div>

            <div class="de-u-size2of6 de-u-flex de-u-flexJustifyEnd de-u-flexAlignItemsEnd">
              <a class="de-u-textBlue de-u-textMedium de-CustomerReviewVote js-de-CustomerReviewVote" data-review-vote-url="{{review.url_vote}}" href="{{review.url_vote}}">
                Helpful?
                {% include 'icon-upvote-thumb' with class: 'de-Icon de-u-spaceLeft06 de-u-textGrow1' %}
              </a>
            </div>
          </div>

        </div>
      {% endif %}
    {% endfor %}
  </div>
  <div class="de-u-flex de-u-flexJustifyCenter">
    <button class="de-u-textBlue de-u-textSizeBase de-u-textMedium js-de-moreReviews">More reviews</button>
  </div>
</div>
