<section
  class="ProductInformation-entry de-u-spaceBottom6"
  aria-labelledby="ProductInfo-{{forloop.index}}"
  itemprop="additionalProperty"
  itemscope
  itemtype="http://schema.org/PropertyValue"
>
  <header>
    <h3
      class="de-u-textGrow2"
      id="ProductInfo-{{forloop.index}}"
      itemprop="name"
    >
      {{ spec['name'] | capitalize }}
    </h3>
  </header>
  {%- assign description_words = spec['description'] | split: ' ' -%}
  <p class="de-u-spaceNone" itemprop="value">
    {%- for word in description_words -%}
      {%- assign protocol = word | split: '://' -%}
      {%- if protocol[0] == 'http' or protocol[0] == 'https' -%}
        {{ ' ' }}<a href="{{ word }}">{{ word }}</a>
      {%- else -%}
        {{ ' ' }}{{- word -}}
      {%- endif -%}
    {%- endfor -%}
  </p>
</section>
