{% comment %}
  The Drawer has the following data requirements:

  - drawer_id (string): The ID of the drawer, must be unique ("size-guide-drawer", "reviews-drawer", etc.)
  - drawer_label (string): A string label for better accessibility ("Size Guide", "Reviews", etc.)
  - content: The captured content block to be rendered in the drawer
{% endcomment %}
<div
  role="dialog"
  id="{{ drawer_id }}"
  aria-label="{{ drawer_label }}"
  class="de-Drawer js-de-Drawer"
>
  <header class="de-Drawer-header de-u-padSides de-u-padEnds06 de-u-spaceNone de-u-bgSilver">
    <button
      class="de-u-flex de-u-flexAlignItemsCenter de-u-textBold de-u-textGrow2 js-de-Drawer-toggle"
      data-drawer-id="{{ drawer_id }}"
      data-drawer-toggle-aria-label="Close the {{ drawer_label }} dialog."
      data-drawer-action="close"
    >
      {% include 'product-icon--chevron-left' %}
      Back
    </button>
  </header>
  <div class="de-Drawer-content de-u-pad">
    {{ content }}
  </div>
</div>
