{% comment %}
  Review Summary
{% endcomment %}

{% comment %}
  The rating variable should be a number between 0 and 5 inclusive.
  The number of stars filled in will be the ceiling integer of the rating.
{% endcomment %}

{% comment %}
  Add zero to convert the string to a number, which is stored as a string
  because metafields can't be floats
{% endcomment %}
{% assign product_rating = product.metafields.ratings.product_rating | plus: 0 %}
{% assign rating_average = product_rating | times: 20 %}
{% assign total_item_count = product.metafields.reviews.recent_reviews_object.total_item_count | plus: 0 %}
<div class="de-Grid de-u-md-padTop3">

  <div class="de-u-md-size1of2 de-u-lg-size1of3 de-u-lg-padSides
    de-u-md-padSidesNone">
    <div class="de-ReviewSummary de-u-padBottom06">
      <div class="de-StarRating de-u-textGrow1">
        <div class="de-StarRating-fill" style="width: {{ rating_average }}%"></div>
      </div>

      <div class="de-u-textGrow2 de-u-flex de-u-flexJustifyBetween
        de-u-flexAlignItemsBaseline">
        <div>
          <span class="de-u-textBold">{{ product_rating }}</span> out of 5 stars
        </div>
        <div class="de-u-textNormal de-u-textAlignRight">
          {{ total_item_count }}
          <span class="de-u-inlineBlock">
            {{ total_item_count | pluralize: 'Review', 'Reviews' }}
          </span>
        </div>
      </div>
    </div>

    {% comment %}
      Review Matrix
    {% endcomment %}
    {% assign ratings = product.metafields.reviews.recent_reviews_object.notes %}
    {% comment %}
      Multiply the total_ratings_count by 1.0 so that stars_percentage will not be rounded (the result will be something between 0 and 100%)
    {% endcomment %}
    {% assign total_ratings_count = product.metafields.reviews.recent_reviews_object.total_item_rating_count | times: 1.0 %}
    {% assign STAR_RATING_PERCENTAGE_MULTIPLIER = 20 %}
    <div class="de-ReviewMatrix de-u-padTop03">
      <div class="de-u-flex" id="de-ReviewMatrix-container">
        <div class="de-ReviewMatrix-stars-container">
          {% for rating in ratings %}
            {% assign stars_fill = rating.number | times: STAR_RATING_PERCENTAGE_MULTIPLIER %}
            <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
              <div class="de-StarRating">
                <div class="de-StarRating-fill"
                  style="width: {{ stars_fill }}%">
                </div>
              </div>
              <div class="de-u-textDarkGray de-u-padLeft06"
                  style="position: relative; bottom: 3px;">
                {{ rating.count }}
              </div>
            </div>
          {% endfor %}
        </div>
        <div class="de-ReviewMatrix-graph-container de-u-flexAuto">
          {% for rating in ratings %}
            {% assign stars_percentage = rating.count | divided_by: total_ratings_count | times: 100 %}
            <div class="de-ReviewMatrix-graph">
              <svg height="10px" width="100%">
                <rect class="total"
                  width="100%"
                  height="7px"
                  fill="#d8d8d8">
                </rect>
                <rect class="completed"
                  width="{{ stars_percentage }}%"
                  height="7px"
                  fill="#0082c3">
                </rect>
              </svg>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <a class="btn btn--productReviews de-u-block de-u-spaceTop2
      de-u-textGrow1 de-u-padEnds" href="{% if customer %}/account?view=review-products{% else %}/account/login?checkout_url=/account?view=review-products{% endif %}">
      Write a Review
    </a>

    <img
      src="{{ product.featured_image | img_url: 'large' }}"
      class="de-u-spaceTop6 de-u-hidden de-u-md-block"
      alt="{{ product.featured_image.alt }}">

  </div>

  {% comment %}
  Customer Reviews
  {% endcomment %}

  <div class="de-u-md-size1of2 de-u-lg-size2of3 de-u-padTop6 de-u-md-padTopNone
    de-u-md-padSides de-u-md-padRightNone de-u-md-padLeft6">

    <div class="de-u-flex de-u-flexAlignItemsCenter de-u-spaceBottom6">
      <div class="de-u-padRight de-u-textBold de-u-textSizeBase">Sort by</div>
      <select name="ReviewSort" id="ReviewSort" class="de-u-textSizeBase">
        <option value="Newest">Newest</option>
        <option value="Newest">Oldest</option>
      </select>
    </div>
    {% comment %}
      @TODO
      1. Determine how default number of pre-loaded reviews is set and try to
      ensure reviews_per_page is evenly divisible into that number
      (default now is 15)
      2. Document the above
    {% endcomment %}
    {% assign total_prerendered_reviews = product.metafields.reviews.recent_reviews_object.items | size %}
    {% assign reviews_per_page = 3 %}
    <div class="js-de-CustomerReviews" id="de-CustomerReviews-container"
         data-model-code="{{model_code}}"
         data-reviews-per-page="{{ reviews_per_page }}"
         data-total-prerendered-reviews="{{ total_prerendered_reviews }}">
      {% comment %}
        Defaults to most recent X number of reviews sorted descending by posting
        date and time Assigns a `looplimit` value at the top, which could come
        from a value set in a liquid variable
      {% endcomment %}
      {% assign looplimit = reviews_per_page %}
      {% for review in product.metafields.reviews.recent_reviews_object.items %}
        {% assign rating_percentage = review.note | plus: 0 | times: 20 %}
        {% assign review_date = review.created_at | date: "%-m/%-e/%Y" %}
        <div class="de-CustomerReview js-de-CustomerReview
                    js-de-CustomerReview-preloaded de-u-padBottom3
                    de-u-spaceBottom3
                    {% if (forloop.index > looplimit) %} de-u-hidden{% endif %}"
                    >
          {% if review.note || review.title %}
            <div class="de-u-flex de-u-flexAlignItemsBaseline de-u-flexCol
                        de-u-lg-flexRow">
              {% if review.note %}
                <div class="de-u-textGrow1 de-u-padRight06 de-u-padBottom06
                  de-lg-padBottomNone de-u-flex de-u-flexAlignItemsCenter">
                  <div class="de-StarRating">
                    <div class="de-StarRating-fill"
                         style="width: {{ rating_percentage }}%">
                    </div>
                  </div>
                </div>
              {% endif %}
              {% if review.title %}
                <div class="de-u-textGrow3 de-u-textMedium
                  de-u-lineHeight2 de-u-padBottom06">
                  {{ review.title }}
                </div>
              {% endif %}
            </div>
          {% endif %}

          <p class="de-u-spaceNone">
            {% comment %}
              @TODO
              Review use of body vs bodyHTML and raw rendering of HTML
            {% endcomment %}
            {{ review.body }}
          </p>

          <div class="de-Grid de-u-padTop06">
            <div class="de-u-size4of6 de-u-textDarkGray">
              {% if review.firstname || review_date %}
                {% if review.firstname %}
                  <div class="de-u-textMedium">
                    {{ review.firstname }}
                  </div>
                {% endif %}
                {% if review_date %}
                  <div class="de-u-textShrink1 de-u-textDarkGray">
                    {{ review_date }}
                  </div>
                {% endif %}
              {% endif %}
              {% if review.purchase_checked %}
                <div class="de-u-flex de-u-flexAlignItemsCenter de-u-spaceTop06">
                  {% include 'icon-checkmark-badge'
                    with class: 'de-Icon de-u-textGrow5 de-u-padRight06' %}
                  verified purchase
                </div>
              {% endif %}
            </div>

            <div class="de-u-size2of6 de-u-flex de-u-flexJustifyEnd
              de-u-flexAlignItemsEnd">
              <button class="de-u-flex de-u-textBlue de-u-textMedium
                        js-de-CustomerReview-vote"
                data-review-vote-url="{{review.url_vote}}"
                href="{{review.url_vote}}">
                Helpful Review?
                {% include 'icon-upvote-thumb'
                  with class: 'de-Icon de-u-spaceLeft06 de-u-textGrow2' %}
              </button>
            </div>
          </div>
          {% if review.answer %}
            {% assign answer_date = review.answer.created_at | date: "%-m/%-e/%Y" %}
            {% assign first_name = review.answer.author.firstname %}
            <div class="de-CustomerReviewResponse">
              <h6 class="u-textBold">
                <i class="ico ico--de"></i>
              </h6>
              <div>
                {{ review.answer.body }}
              </div>
              {% if answer_date || first_name %}
                {% comment %} {% if first_name %}
                  <div class="de-u-textMedium">
                    {{ first_name }}
                  </div>
                {% endif %} {% endcomment %}
                {% if answer_date %}
                  <div class="de-u-textShrink1 de-u-textDarkGray">
                    {{ answer_date }}
                  </div>
                {% endif %}
              {% endif %}
              <div class="de-u-flex de-u-flexJustifyStart">
                {% comment %}
                  @TODO
                  modify review url for answers
                {% endcomment %}
                <button class="de-u-flex de-u-textBlue de-u-textMedium
                          js-de-CustomerReview-vote"
                    data-review-vote-url="{{review.url_vote}}"
                    href="{{review.url_vote}}">
                  Helpful Response?
                  {% include 'icon-upvote-thumb'
                    with class: 'de-Icon de-u-spaceLeft06 de-u-textGrow2' %}
                </button>
              </div>
            </div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
    <script type="x-handlebars-template" id="de-Icon-helpful-template">
      {% include 'icon-upvote-thumb'
        with class: 'de-Icon de-u-spaceLeft06 de-u-textGrow2' %}
    </script>
    <script type="x-handlebars-template" id="de-Icon-verifiedPurchase-template">
      {% include 'icon-checkmark-badge'
        with class: 'de-Icon de-u-textGrow5 de-u-padRight06' %}
    </script>
     <script type="x-handlebars-template" id="de-Icon-verifiedPurchase-template">
      {% include 'icon-checkmark-badge'
        with class: 'de-Icon de-u-textGrow5 de-u-padRight06' %}
    </script>
    <script type="x-handlebars-template" id="de-CustomerReviews-template">
      {% raw %}
      {{#each reviews}}
        <div class="de-CustomerReview js-de-CustomerReview de-u-padBottom3
                    de-u-spaceBottom3">
          {{!-- comment Using custom Hanldebars conditional helper --}}
          {{#if_or note title}}
            <div class="de-u-flex de-u-flexAlignItemsBaseline de-u-flexCol
                        de-u-lg-flexRow">
              {{#if note}}
                <div class="de-u-textGrow1 de-u-padRight06 de-u-padBottom06
                  de-lg-padBottomNone de-u-flex de-u-flexAlignItemsCenter">
                  <div class="de-StarRating">
                    <div class="de-StarRating-fill"
                         style="width: {{ rating_percentage }}%">
                    </div>
                  </div>
                </div>
              {{/if}}
              {{#if title}}
                <div class="de-u-textGrow3 de-u-textMedium
                  de-u-lineHeight2 de-u-padBottom06">
                  {{ title }}
                </div>
              {{/if}}
            </div>
          {{/if_or}}

          <p class="de-u-spaceNone">
            {{!--  @TODO
             review use of body vs bodyHTML and raw rendering of HTML
             --}}
            {{ body }}
          </p>

          <div class="de-Grid de-u-padTop06">
            <div class="de-u-size4of6 de-u-textDarkGray">
              {{#if_or firstname created_at }}
                {{#if firstname}}
                  <div class="de-u-textMedium">
                    {{ firstname }}
                  </div>
                {{/if}}
                {{#if created_at}}
                  <div class="de-u-textShrink1 de-u-textDarkGray">
                    {{date_format created_at }}
                  </div>
                {{/if}}
              {{/if_or}}
              {{#if purchase_checked}}
                <div class="de-u-flex de-u-flexAlignItemsCenter
                            de-u-spaceTop06">
                  {{> verified_purchase_icon }}
                  verified purchase
                </div>
              {{/if}}
            </div>

            <div class="de-u-size2of6 de-u-flex de-u-flexJustifyEnd
                        de-u-flexAlignItemsEnd">
              <button class="de-u-flex de-u-textBlue de-u-textMedium
                        js-de-CustomerReview-vote"
                 data-review-vote-url="{{review.url_vote}}"
                 href="{{review.url_vote}}">
                Helpful Review?
                {{> helpful_icon }}
              </button>
            </div>
          </div>
        {{#if answer}}
          <div class="de-CustomerReviewResponse">
            <h6 class="u-textBold">
              <i class="ico ico--de"></i>
            </h6>
            <div>
              {{{ answer.body }}}
            </div>
            {{#if_or answer.created_at answer.author.firstname }}
              {{!--
              {{#if answer.author.firstname }}
                <div class="de-u-textMedium">
                  {{ answer.author.firstname }}
                </div>
              {{/if}}
              --}}
              {{#if answer.created_at }}
                <div class="de-u-textShrink1 de-u-textDarkGray">
                  {{date_format answer.created_at }}
                </div>
              {{/if}}
            {{/if_or}}
            <div class="de-u-flex de-u-flexJustifyStart">
              {{!--
               @TODO
               modify review url for answers
               --}}
              <button class="de-u-flex de-u-textBlue de-u-textMedium
                        js-de-CustomerReview-vote"
                 data-review-vote-url="{{review.url_vote}}"
                 href="{{review.url_vote}}">
                Helpful Response?
                {{> helpful_icon }}
              </button>
            </div>
          </div>
        {{/if}}
        </div>
      {{/each}}
    {% endraw %}
    </script>
    <div class="de-u-flex de-u-padBottom3 de-u-lg-padEnds3">
      <button class="btn btn--fill
                     de-u-textMedium
                     js-de-moreReviews">
        More reviews
      </button>
    </div>
  </div>
</div>
