
<!-- /snippets/product-grid-item.liquid -->
{% comment %}

  This snippet is used to showcase each product during the loop,
  'for product in collection.products' in collection.liquid.

  A liquid variable (grid_item_width) is set just before the this
  snippet is included to change the size of the container.
  Once the variable is set on a page, all future instances of this
  snippet will use that width. Overwrite the variable to adjust this.

  Example
    - assign grid_item_width = 'large--one-quarter medium--one-half'

{% endcomment %}

{% comment %}
  Set the default grid_item_width if no variable is set
{% endcomment %}
{%- unless grid_item_width -%}
  {%- assign grid_item_width = 'large--one-third one-half' -%}
{%- endunless -%}

{% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{%- assign on_sale = false -%}
{%- if product.compare_at_price > product.price -%}
  {%- assign on_sale = true -%}
{%- endif -%}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{%- assign sold_out = true -%}
{%- if product.available -%}
  {%- assign sold_out = false -%}
{%- endif -%}

{% unless show_add_to_cart %}
  {% assign show_add_to_cart = true %}
{% endunless %}

<div class="grid__item {{ grid_item_width }} collectionProduct js-bln-product" data-product-id="{{ product.id }}">
    <form action="/cart/add" method="post" enctype="multipart/form-data" class="addToCartForm collectionProduct-relative">
    {% if product.tags contains 'Innovation' %}
      <span class="productFlag collectionProduct-flag collectionProduct-flag--innovation">Innovation</span>
    {% elsif (on_sale) %}
      <div class="adept-product-flag adept-product-flag__sale">
        <div class="adept-product-flag__content">
          <div class="adept-product-flag-container">
            <div class="adept-product-flag__label">
              <span>On Sale</span>
            </div>
          </div>
        </div>
      </div>
    {% endif %}


    {% comment %}
      Link to your product with the 'within: collection' filter for the link to be aware of the collection.
      This allows you to create collection-based navigation on the product page.

      Results of using 'within: collection':
      - Instead of a URL with /products/product-handle
        you would get /collections/collection-handle/products/product-handle

      For more info on navigation within a collection
        - http://docs.shopify.com/support/your-store/collections/how-to-navigate-within-a-collection

    {% endcomment %}

    {% assign current_variant = product.selected_or_first_available_variant %}
    {% assign alt = current_variant.image.alt %}
    <div class="u-block">
      <a href="{{ product.url | within: collection }}" class="grid__image collectionProduct-imageLink js-shopNow">
        <img class="collectionProduct-image" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="{{ current_variant.image.src | img_url: 'large' }}" alt="{% include 'func-extract-alt-copy' with alt %}">
      </a>

      {% include 'product-grid-item--colors' %}
      {% include 'product-grid-item--rating', rating_adtl_classes: ' collectionProduct-rating' %}

    </div>

    <p class="collectionProduct-content">
        <a class="collectionProduct-title" href="{{ product.url | within: collection }}">{{ product.title }}</a>
    </p>
    <p class="productPrice collectionProduct-price u-marginBottom0x">

    {% comment %}
    You can show a leading 'from' or 'up to' by checking 'product.price_varies'
    if your variants have different prices.

    The p contents here are essentially a fallback, since this text is set client
    side by the timber variant selector callback function.
    {% endcomment %}
    
    {% if current_variant.price < current_variant.compare_at_price %}
        <span style="color: #E53322;"><strong>{{ products.product.on_sale }}</strong>
        {{ current_variant.price | money }}</span>
    {% else %}      
        {% if product.price_varies %}
            {% assign price = product.price_min | money %}
            {{ 'products.general.from_text_html' | t: price: price }}
        {% else %}
            {{ current_variant.price | money }}
        {% endif %}
    {% endif %}

    {% comment %}
    {% if sold_out %}
    <br><strong>{{ 'products.product.sold_out' | t }}</strong>
    {% endif %}
    {% endcomment %}
    {% if current_variant.price < current_variant.compare_at_price %}
        <span class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>
        <br><s>{{ current_variant.compare_at_price | money }}</s>
    {% endif %}
    </p>

    {% if show_add_to_cart == true %}
    <div class="collectionProduct-hoverWrap">
        <div class="collectionProduct-hoverWrap-shadow">
            <div class="collectionProduct-hoverBox">
                <div class="collectionProduct-hoverBox-shadow">
                  {% comment %}
	                <p class="collectionProduct-hoverBox-description">
                      {{ product.metafields.global.description_tag }}
                    </p>

                    {% include 'product-grid-item--options' %}

                    {% if settings.is_lookbook == true %}
                    <button type="submit" name="add" class="addToCart collectionProduct-addToCart btn js-addToWishlist">
                        <span class="addToCartText">{{ 'products.product.add_to_wishlist' | t }}</span>
                    </button>
                    {% else %}
                    {% if sold_out %}
                    <button type="submit" name="add" class="addToCart collectionProduct-addToCart btn disabled" disabled>
                        <span class="addToCartText">{{ 'products.product.sold_out' | t }}</span>
                    </button>

                    {% else %}
                    <button type="submit" name="add" class="addToCart collectionProduct-addToCart btn">
                        <span class="addToCartText">{{ 'products.product.add_to_cart' | t }}</span>
                    </button>
                    {% endif %}
                    {% endif %}
                    <div class="addons-list">
                        <a class="u-textBold u-marginBottom0x">Included:</a>
                        <small class="addons-list__items"></small>
                    </div>
                  {% endcomment %}
                </div>
            </div>
        </div>
    </div>
    {% else %}
        {% if settings['is_lookbook'] == false %}
            {% assign button_title = 'Shop Now' %}
        {% else %}
            {% assign button_title = 'Explore' %}
        {% endif %}
        {% assign product_url = product.url | within: collection %}
        {% include 'button', button_url: product_url, button_wrapper: 'btn--shopNow u-marginTop1x', button_adtl_classes: ' js-shopNow' %}
    {% endif %}

    <div class="hide">
        <!-- include 'wishlist-button-product' with '{{ product.id }}' -->
    </div>
    <input type="hidden" name="collections" value="{{ product.collections | map: 'handle' | join: ',' }}" />
    <input type="hidden" name="p_handle" value="{{ product.handle }}" />
</form>

{% assign curator_comment = product.metafields.curatorComments[collection.handle] %}
{% if curator_name %}
    {% if curator_comment %}
        <div class="curatorComment{% if curator_comment %} curatorComment--present{% endif %}">
            <div class="curatorComment-image" style="background-image:url('{{ curator_image }}')"></div>
            <p>
                <span class="curatorComment-curator">{{ curator_name | strip_html }} says:</span><br/>
                <span class="curatorComment-quote">{{ curator_comment }}</span>
            </p>
        </div>
    {% endif %}
{% endif %}

</div>
