{% assign features = product.metafields.global['features'] %}
{% assign madefor = product.metafields.global.made_for %}
{% assign catchline = product.metafields.global.catchline %}

{%- assign product_images = product.images -%}
{%- assign context_photo_delimiter = '[[contextphoto]]' -%}
{%- assign feature_photo = false -%}
{%- comment -%}
  `product_image_index` is the position of the product image to show
{%- endcomment -%}
{%- assign product_image_position = 3 -%}
{%- assign product_images_loop_count = 0 -%}

{%- for product_image in product_images -%}
  {% unless product_image.alt contains context_photo_delimiter %}
    {%- assign product_images_loop_count = product_images_loop_count | plus: 1 -%}
    {% if product_images_loop_count == product_image_position %}
      {% assign feature_photo = product_image %}
      {% break %}
    {% endif %}
  {% endunless %}
  {% if feature_photo == false and forloop.last %}
    {% assign feature_photo = product_images[0] %}
  {% endif %}
{%- endfor -%}

{% capture feature_photo_srcset %}
  {{ feature_photo | img_url: "320x", format: "pjpg" }} 320w,
  {{ feature_photo | img_url: "440x", format: "pjpg" }} 440w,
  {{ feature_photo | img_url: "518x", format: "pjpg" }} 518w,
  {{ feature_photo | img_url: "596x", format: "pjpg" }} 596w,
  {{ feature_photo | img_url: "640x", format: "pjpg" }} 640w
 {% endcapture %}
{% capture feature_photo_sizes %}
  (min-width: 60em) 33vw
{% endcapture %}

  <section class="FeaturesContainer de-Grid de-u-lg-spaceTop3
                  de-u-spaceTop">
    <div class="FeaturesContainer-banner de-u-padBottom de-u-spaceBottom
      de-u-md-padBottom6 de-u-md-spaceBottomNone">
      <div class="de-u-lg-size5of6 de-u-xl-size4of6">
       <h3
          class="de-u-textGrow3 de-u-spaceNone de-u-lineHeight2"
          itemprop="description"
        >
          {{ product.title | escape }} is designed for {{ madefor | escape }}
        </h3>
        <p class="de-u-spaceNone de-u-textSizeBase de-u-textDarkGray">
          {{ catchline | escape }}
        </p>
      </div>
    </div>
    <div class="FeaturesContainer-showcase
                de-u-lg-size1of3 de-u-hidden de-u-lg-block">
      <figure>
        <img
          src="{{ feature_photo | img_url: '500x' }}"
          srcset='{{ feature_photo_srcset }}'
          sizes='{{ feature_photo_sizes }}'
          class="de-u-block"
          alt="">
          <figcaption class="de-u-hiddenVisually">
            A photo of the {{ product.title | escape }} in use
          </figcaption>
      </figure>
    </div>
    <div class="FeaturesContainer-info
              de-u-size1of1 de-u-lg-size2of3 de-u-lg-padLeft6"
       aria-labelledby="Section-features">
    <div class="de-Grid">

  {% for feature in features %}
    {% assign featurearray = feature[1] %}
    {% assign featureicon = featurearray['icon'] %}
    {% assign featuretitle = featurearray['title'] %}
    {% unless featurearray == blank or featuretitle == 'Environmental impact' %}
        <section
          class="ProductFeature de-u-size1of1 de-u-md-size1of2 de-u-flex
                 de-u-padRight de-u-padBottom"
          aria-labelledby="ProductFeature-{{ forloop.index }}"
          itemprop="additionalProperty"
          itemscope
          itemtype="http://schema.org/PropertyValue">
          <div class="ProductFeature-icon de-u-spaceRight" aria-hidden="true">

            {% if featureicon contains '.jpg'|'.png' %}
            <img
              src="{{ featureicon | replace: 'http://', 'https://'}}"
              alt=""
            >
            {% endif %}
          </div>
          <div class="Feature-spec">
            <header>
              <h3 id="ProductFeature-{{ forloop.index }}" itemprop="name"
                  class="de-u-spaceBottomNone de-u-textGrow2 de-u-lineHeight3">
                {{ featuretitle | escape }}
              </h3>
            </header>
            <p
              itemprop="value"
              class="de-u-textDarkGray de-u-textSizeBase">
              {{ featurearray['text'] | escape }}
            </p>
          </div>
        </section>
    {% endunless %}
  {% endfor %}
    </div>
  </div>
</section>
