<div id="addToCartButton" v-cloak>
  {%- comment -%} Remove artificially_unavailable since it's not needed anymore after removing dependence to TomIT {%- endcomment -%}
  {% raw %}
    <button 
      v-bind:disabled="!available && (tagged_bis_hidden) && is_size_selected"
      v-bind:class="{ alt: !(!available && (!tagged_bis_hidden) && is_size_selected) }"
      v-on:click="showModal(id, (!available && (!tagged_bis_hidden) && is_size_selected), $event)"
      type="submit"
      name="add"
      id="AddToCart"
      class="de-Button btn btn--fill de-u-sizeFull de-u-textSizeBase js-de-AddToCart-btn addToCart js-de-Drawer-toggle" 
      data-drawer-id="post-add-to-cart-drawer"
      {% endraw %}{% if settings.add_to_cart_drawer_enabled %}data-drawer-action="open"{% endif %}{% raw %}
      data-drawer-prevent-default="false">
      <span v-text="{% endraw %}available ? '{{ 'products.product.add_to_cart' | t }}' : !is_size_selected ?
        '{{ 'products.product.add_to_cart' | t }}' : tagged_bis_hidden ?
        '{{ 'products.product.out_of_stock' | t }}' : '{{ 'products.product.email_when_available' | t }}' {% raw %}">
        {% endraw %}{{ 'products.product.out_of_stock' | t }}{% raw %}
      </span>
    </button>
  {% endraw %}
</div>

<style>
[v-cloak] {
  display: none;
}
</style>
