{{ 'collection_search_preloader.scss.css' | asset_url | stylesheet_tag }}
{% if show_onLoad %}
  {% assign classes = '--full-preloader' %}
{% else %}
  {% assign classes = 'hidden' %}  
{% endif %}

<div class="ais-preloader-container {{classes}}" id="{{id}}">
  <div class="preloader">
    <img class="preloader-gif" src="{{ 'decathlon-loader.gif' | asset_url }}">
    <p class="preloader-copy">
      {% if template contains 'collection' %}
        {{ 'collections.general.products_preloader' | t }}
      {% else %}
        {{ 'general.search.products_preloader' | t }}
      {% endif %}
    </p>
  </div>
</div>
