<div class="wrapper u-paddingTopBottom4x u-marginBottom4x">
  {% assign account_title = 'customer.orders.title' | t  %}
  {% include 'customers--my-account-header' %}

  <div id="order-history" class="account-orderHistory u-marginTop2x u-block">
    <img id="spinningLoad" src="{{ 'Rolling-1s-200px.gif' | asset_url }}" style="height:200px;" alt="simple, lightweight generic loading indicator">

    <div class="table-wrap" id="order-table-wrap">
    {% if customer.orders.size != 0 %}
          <table class="full" id="shopifyOrderTbl">
            <thead>
              <tr>
                <th class="orderTh">{{ 'customer.orders.order_number' | t }}</th>
                <th class="orderTh">{{ 'customer.orders.date' | t }}</th>
                <th class="orderTh">{{ 'customer.orders.payment_status' | t }}</th>
                <th class="orderTh">{{ 'customer.orders.fulfillment_status' | t }}</th>
                <th class="orderTh">{{ 'customer.orders.total' | t }}</th>
              </tr>
            </thead>
            <tbody>
              {% for order in customer.orders %}
                <tr class="orderBodyTr">
                  <td class="orderTd">{{ order.name | link_to: order.customer_url }}</td>
                  <td class="orderTd">{{ order.created_at | date: format: 'month_day_year' }}</td>
                  <td class="orderTd">{{ order.financial_status_label }}</td>
                  <td class="orderTd">{{ order.fulfillment_status_label }}</td>
                  <td class="orderTd">{{ order.total_price | money }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
      {% else %}

        <p  id='noOrders' class="text-center">{{ 'customer.orders.none' | t }}</p>
        <p cid='shopNowBtn' lass="text-center"><a href="/collections" class="btn">Shop Now</a></p>

      {% endif %}
      <table class="full" id="newstoreOrderTbl">
        <thead>
          <tr>
            <th class="orderTh">{{ 'customer.orders.order_number' | t }}</th>
            <th class="orderTh">{{ 'customer.orders.date' | t }}</th>
            <th class="orderTh">{{ 'customer.orders.payment_status' | t }}</th>
            <th class="orderTh">{{ 'customer.orders.fulfillment_status' | t }}</th>
          <th class="orderTh">{{ 'customer.orders.total' | t }}</th>
          </tr>
        </thead>
        <tbody id="newstoreOrderBody">
        </tbody>
      </table>
    </div>
    <p id="order-history-return-btn" class="text-center u-marginTop2x"><a class="btn" href="/pages/returns">Return An Item</a></p>
  </div>
</div>
{% comment %}
Stylesheets
{% endcomment %}
{{ 'account--order-history.css' | asset_url | stylesheet_tag }}
{{ 'https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css' | stylesheet_tag }}
{% comment %}
Save liquid variables to be used in account--order-history.js
{% endcomment %}
<script>
  var shopifyOrders = {{ customer.orders.size }},
      customerId = `{{ customer.id }}`,
      customerEmail = `{{ customer.email }}`;
</script>
<!-- include Javascript -->
{{ 'https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js' | script_tag }}
{{ 'account--order-history.js'| asset_url | script_tag}}