<!-- /templates/customers/order.liquid -->
<div class="wrapper u-paddingTopBottom4x u-marginBottom4x shopify-wrapper">
  {% assign account_title = 'customer.order.title' | t: name: order.name %}
  {% include 'customers--my-account-header' %}
  <img id="spinningLoad" src="{{ 'Rolling-1s-200px.gif' | asset_url }}" alt="loading indicator">
  <div class="grid--full">
    <!-- Order Tables Wrap -->
    <div class="grid__item">
      <div class='account-order--date-and-cancel'>
        <p class="account-order--date">{{ 'customer.order.date' | t: date: order.created_at | date: "%B %d, %Y %I:%M%p" }}</p>
        {% if order.cancelled == true } %}
          {% assign cancelled_at = order.cancelled_at | date: "%B %d, %Y" %}
          <p class="cancelled">Item(s) cancelled by customer or because of out-of-stock inventory. {{ cancelled_at }}</p>          
        {% endif %}
      </div>
      <!-- Pending Items Table -->
      <div class="account-order--table account-order--pending-table">
        <h6>Item(s) Being Processed</h6>
        <table class="full">
          {% include 'order-page--table-header' %}
          <tbody>
          </tbody>
          </table>
      </div>
      <!-- Shipped Home Table -->
      <div class="account-order--table account-order--shipped-home-table">
        <h6>Item(s) Shipped To Home</h6>
        <table class="full">
          {% include 'order-page--table-header' %}
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- Shipped Store Table -->
      <div class="account-order--table account-order--shipped-store-table">\
        <h6>Item(s) Shipped To Store</h6>
        <table class="full">
          {% include 'order-page--table-header' %}
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- Cancelled Table -->
      <div class="account-order--table account-order--cancelled-table">    
        <h6>Cancelled Item(s)</h6>
        <table class="full">
          {% include 'order-page--table-header' %}
          <tbody>
          </tbody>
        </table>
      </div>
      <!-- Returned Table -->
      <div class="account-order--table account-order--returned-table">
        <h6>Returned Item(s)</h6>
        <table class="full">
          {% include 'order-page--table-header' %}
          <tbody>
          </tbody>
        </table>
      </div>
      <br><br>
    </div>

    <!-- Totals Table -->
    <br /><br />
    <div class="account-order--table account-order--totals-table">
      <table class="full">
        <tbody>
          <tr>
            <td class='account-order--td-label text-left'>Subtotal</td>
            <td class="test-right account-order--subtotal text-right"></td>
          </tr>
          <tr class="account-order--cancelled-total-row">
            <td class='account-order--td-label text-left'>Cancelled Item(s)</td>
            <td class="test-right account-order--cancelled-total text-right"></td>
          </tr>
          <tr class="account-order--returned-total-row">
            <td class='account-order--td-label text-left'>Returned Item(s)</td>
            <td class="test-right account-order--returned-total text-right"></td>
          </tr>
          <tr class="oaccount-order--shipping-total-row">
            <td class='account-order--td-label text-left'>Shipping</td>
            <td class="test-right account-order--shipping-total text-right"></td>
          </tr>
          <tr>
            <td class='account-order--td-label text-left'>Taxes</td>
            <td class="test-right account-order--taxes text-right"></td>
          </tr>
          <tr>
            <td class='account-order--td-label account-order--td-totals text-left'>Total</td>
            <td class="test-right account-order--totals text-right"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Shipment Info -->
    <div class="grid__item grid--full u-marginTop4x account-order--shipping">
      <!-- Shipping -->
      <div>
        <div class="grid__item large--one-half u-marginBottom4x">
          <div class="account-order--shipping-address">

            {% comment %} COMMENTED PER REQUIREMENTS - Keeping a reference in case we want to add it back in
            <p><strong>Fulfillment Status:</strong> <span class="account-order--shipping-status"></span></p>
            {% endcomment %}

            <p>
              {% if order.shipping_address.name != '' && order.shipping_address.name != ' ' %}
              <span class="account-order--shipping-name">{{ order.shipping_address.name }}</span><br>
              {% endif %}
              <span class='account-order-shipping-address1'>{{ order.shipping_address.address1 }}</span><br>
              <span class='account-order-shipping-city'>{{ order.shipping_address.city }},</span>
              <span class='account-order-shipping-province'>
              {% if order.shipping_address.province_code != '' %}
                {{ order.shipping_address.province_code }}
              {% elsif order.shipping_address.province != '' %}
                {{ order.shipping_address.province }}
              {% endif %}
              </span>
              <span class='account-order-shipping-zip'>{{ order.shipping_address.zip | upcase }}<br/></span>
              <span class='account-order-shipping-country'>{{ order.shipping_address.country }}<br></span>
              <span class='account-order-shipping-phone'>{{ order.shipping_address.phone }}<span>
            </p>
          </div>
        </div>
      </div>
      <!-- Shipping -->
      <div class="account-order--delivery grid__item large--one-half u-marginBottom4x">
        <h6>Devlivery Method</h6>
        <p><span class="account-order--delivery-method"></span></p>
      </div>

    </div>
    </div>
  </div>

  <div id="shopify-order-bottom-buttons" class="wrapper u-marginBottom4x">
    <p class="order-back-to-cart-btn"><a href="/account?view=order-history">Return To Order History</a></p>
    {% assign returnLink = "https://returns.decathlon.com/start_return?ext_order_number=" | append: {{order.name}} | append: "&customer_id=" | append: {{customer.id}} %}    
    <p class="shopify-order-return-wrap"><a id="shopify-order-return-btn" class="btn" href={{returnLink}}>Return An Item</a></p>
  </div>

</div>
{{ 'account--order.css' | asset_url | stylesheet_tag }}
<script>
// Script to save the order variable as an object that account--order.js.liquid can use
var jsOrder = {
  lineItems : {{ order.line_items | json }},
  cancelled: {{ order.cancelled }},
  financial: `{{ order.financial_status }}`,
  fulfillment: `{{order.fulfillment_status }}`,
  billing : {{ order.billing_address | json }},
  shipping : {{ order.shipping_address | json }},
  shippingMethods : {{ order.shipping_methods | json }},
  shippingLines : {{ order.shipping_lines | json }},
  moneyLines : {
    shipping: {{ order.shipping_price | json }},
    subtotal: {{ order.subtotal_price }},
    tax: {{ order.tax_price }},
    {% if order.total_discounts %}
    discounts: {{ order.total_discounts}},
    {% endif %}
    total: {{ order.total_price }}
  }
}
var defaultImg = `https:{{ 'default--no-image-100_small.jpg' | asset_img_url }}`
</script>
{{ 'account--order.js' | asset_url | script_tag }}