<!-- /templates/customers/register.liquid -->

<div class="u-block u-paddingTopBottom6x">

  <div class="wrapper wrapper--midWidth">
    <h1 class="h3 text-center">{{ 'customer.register.title' | t }}</h1>

    <div class="form-vertical">

      {% form 'create_customer', class: 'customerForm js-createCustomer' %}
        <div class="notifications u-marginBottom1x text-center"></div>

        {{ form.errors | default_errors }}

        <div class="inputWrap">
          <label for="FirstName">{{ 'customer.register.first_name' | t }}*</label>
          <input type="text" name="customer[first_name]" id="FirstName" class="input-full" value="{% if form.first_name %}{{ form.first_name }}{% endif %}"  autofocus placeholder="{{ 'customer.register.first_name' | t }}*">
        </div>

        <div class="inputWrap">
          <label for="LastName">{{ 'customer.register.last_name' | t }}*</label>
          <input type="text" name="customer[last_name]" id="LastName" class="input-full"  value="{% if form.last_name %}{{ form.last_name }}{% endif %}" placeholder="{{ 'customer.register.last_name' | t }}*">
        </div>

        <div class="inputWrap">
          <label for="Email">{{ 'customer.register.email' | t }}*</label>
          <input type="email" name="customer[email]" id="Email" class="input-full{% if form.errors contains 'email' %} error{% endif %}" value="{% if form.email %}{{ form.email }}{% endif %}" autocorrect="off" placeholder="{{ 'customer.register.email' | t }}*">
        </div>

        {% comment %}
        <div class="inputWrap">
          <label for="Password">{{ 'customer.register.password' | t }}*</label>
          <input type="password" name="customer[password]" id="Password" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}*">
        </div>
        {% endcomment %}

      <div class="imageUpload visually-hidden u-block">
        <img class="profilePic" src="{{ customer.metafields.customers.profile_image }}" />
        <p class="text-center"><a class="btn btn--text js-editProfileImage" href="#">Edit Profile Pic</a></p>
      </div>

      <div class="inputWrap inputWrap--imageUpload imageUploadForm">
        <label for="ContactFormResume">Profile Pic</label>
        <input type="file" accept="image/*" id="imageFiles" class="input-full ignore" autocorrect="off" value="">
        <input type="hidden" name="image_upload" class="ignore" />
      </div>

      <div class="account-radioWrapper u-block">
          <label class="h5 text-left" for="AcceptsMarketing">Newsletter subscription</label>

          <div class="account-radioItem">
            <input class="input-radio custom_bam" type="radio" value="1" name="customer[accepts_marketing]" id="custom_bam_true" checked="checked">
            <label class="" for="custom_bam_true">Yes, sign me up</label>
          </div>
          <div class="account-radioItem">
            <input class="input-radio custom_bam" type="radio" value="0" name="customer[accepts_marketing]" id="custom_bam_false">
            <label class="radio__label content-box__emphasis" for="custom_bam_false">No, do not sign me up</label>
          </div>
      </div>

      <p class="disclaimer">{{ 'customer.register.disclaimer_html' | t }}</p>

        <p>
          <input type="submit" value="{{ 'customer.register.submit' | t }}" class="btn btn--fill btn--full">
        </p>
        <p class="u-marginTop2x text-center"><a class="btn btn--text" href="/account/login">Back to {{ 'customer.login.sign_in' | t }}</a></p>

      {% endform %}
    </div>

  </div>

</div>

<script src="https://sdk.amazonaws.com/js/aws-sdk-2.7.6.min.js"></script>
<script>

  AWS.config.region = 'us-west-2'; // Region
  AWS.config.credentials = new AWS.CognitoIdentityCredentials({
      IdentityPoolId: 'us-west-2:9f43914a-b302-49da-90f7-8505b82b918a',
  });
  
  var s3 = new AWS.S3({
    apiVersion: '2006-03-01',
    endpoint: new AWS.Endpoint('s3.amazonaws.com'),
    params: {Bucket: 'decathlon-usa-uploads'}
  });
</script>

