<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">

    <title>{{ page_title }}</title>

    {{ content_for_header }}

    {{ checkout_stylesheets }}
    {{ 'patterns-toolkit.css' | asset_url | stylesheet_tag }}
    {{ checkout_scripts }}
  </head>
  <body>
    {{ skip_to_content_link }}

    {% include 'google-tag-manager' %}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
  {% comment %}
    script for Minubo
  {% endcomment %}
  <script>
    window.dataLayer = window.dataLayer || [];
    dataLayer.push({
      'random': Math.random().toString(36).substr(2,9),
      'timestamp': new Date().getTime()
    });
  </script>
    </div>

    {{ order_summary_toggle }}

    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% comment %}
              The Ship & Pickup buttons start hidden.
              The checkout JS (scripts/checkout/index.js)
              will show and add UI functionality.
            {% endcomment %}
            <div class="clearfix">
              <div class="de-pickship-btn-container">
                <button class="btn js-de-toggle-shipping de-pickship-btn de-u-hidden">
                  <span class="btn__content">{% include 'ship-icon' %} Ship to Home</span>
                </button>
              </div>
              <div class="de-pickship-btn-container">
                <button class="btn js-de-toggle-pickup de-pickship-btn de-u-hidden">
                  <span class="btn__content">{% include 'pickup-icon' %} Pickup in Store</span>
                </button>
              </div>
            </div>

            <div class="js-de-pickup-content de-u-hidden">
              <div class="js-de-pickup-location-map">
                <img src="{{ 'no-selection-map.jpg' | asset_url }}" class="js-de-pickup-location-map-img" alt="">
              </div>
              <ul class="de-u-spaceEnds02 js-de-pickup-locations clearfix"></ul>
            </div>

            {{ content_for_layout }}
            <span class="js-de-payment-continue-container">
              <a href="#" class="btn js-de-payment-continue de-u-hidden">Continue to Payment</a>
            </span>
          </div>
          <div class="main__footer">
            {{ content_for_footer }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {{ content_for_order_summary }}
          </div>
        </div>
      </div>
    </div>
    {{ 'checkout.js' | asset_url | script_tag }}
    {{ tracking_code }}
  </body>
</html>
