<!DOCTYPE html>
<html lang="{{ locale }}" dir="{{ direction }}" class="{{ checkout_html_classes }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, user-scalable=0">
    <meta name="referrer" content="origin">
    <title>{{ page_title }}</title>
    {{ content_for_header }}
    {{ 'patterns-toolkit.css' | asset_url | stylesheet_tag }}
    {{ checkout_stylesheets }}

    {% include 'js-gtm-datalayer-visit' %}
    {% include 'js-gtm-head' %}

    <script>
      window.checkoutID = {{ checkout.id }};
      window.adr_GezSSC9M = "{{ 'adr_GezSSC9M.jpg' | asset_url }}";
      window.adr_K6s3Kaja = "{{ 'adr_K6s3Kaja.jpg' | asset_url }}";
      window.defaultMap = "{{ 'no-selection-map2.jpg' | asset_url }}";
    </script>
    {% include 'polyfills' %}
    {{ checkout_scripts }}

    {% assign login_link_default = 'https://' | append: request.host | append: '/account/login?' %}
    {% assign login_link_override = settings.login_portal_url %}
    {% if login_link_override contains '?' %}
      {% assign login_link_override = login_link_override | append: '&' %}
    {% else %}
      {% assign login_link_override = login_link_override | append: '?' %}
    {% endif %}

  </head>
  <body>
    {% include 'js-gtm-body' %}

    {{ skip_to_content_link }}

    <div class="banner" data-header>
      <div class="wrap">
        {{ content_for_logo }}
      </div>
      {% comment %}
        script for Minubo
      {% endcomment %}
      <script>
        window.dataLayer = window.dataLayer || [];
        dataLayer.push({
          'random': Math.random().toString(36).substr(2,9),
          'timestamp': new Date().getTime(),
          'order_id': '{{checkout.order_id}}',
          'order_amount': '{{order.total_price}}',
          'order_products': '{{order.line_items}}',
          'checkout_email': '{{checkout.email}}',
          'checkout_items': '{{checkout.line_items}}',
          'checkout_amount': '{{checkout.total_price}}',
          'checkout_orderid': '{{checkout.order_id}}',
          'checkout_optin': '{{checkout.buyer_accepts_marketing}}'
        });
      </script>
    </div>
    {{ order_summary_toggle }}
    <div class="content" data-content>
      <div class="wrap">
        <div class="main" role="main">
          <div class="js-de-loading-overlay de-loading-overlay">
            <img
              src="{{ 'decathlon-loader.gif' | asset_url }}"
              class="js-de-checkout-loader de-checkout-loader"
            >
          </div>
          <div class="main__header">
            {{ content_for_logo }}
            {{ breadcrumb }}
            {{ alternative_payment_methods }}
          </div>
          <div class="main__content">
            {% comment %}
              The Ship & Pickup buttons start hidden.
              The checkout JS (scripts/checkout/index.js)
              will show and add UI functionality.
            {% endcomment %}
            <div class="de-Grid de-Grid--withGutter">
              <div
                class="de-pickship-btn-container
                       de-u-size1of2 de-u-spaceBottom"
              >
                <button
                  class="btn de-pickship-btn
                         de-u-hidden
                         js-de-toggle-shipping"
                >
                  {% include 'assets-icons-delivery-truck'
                      with class: 'de-Pickship-icon de-Icon de-u-spaceRight03'
                  %}
                  Ship to Home
                </button>
              </div>
              <div
                class="de-pickship-btn-container
                       de-u-size1of2 de-u-spaceBottom">
                <button
                  class="btn de-pickship-btn
                         de-u-hidden
                         js-de-toggle-pickup"
                >
                  {% include 'assets-icons-store'
                      with class: 'de-Pickship-icon de-Icon de-u-spaceRight03'
                  %} Pickup in Store
                </button>
              </div>
            </div>
            <div class="de-pickup-content de-u-hidden js-de-pickup-content">
              <div class="de-pickup-location-map js-de-pickup-location-map">
                <img
                  src="{{ 'no-selection-map2.jpg' | asset_url }}"
                  class="js-de-pickup-location-map-img"
                  alt="">
              </div>
              <h2 class="de-location-heading de-u-spaceTop2">Select location</h2>
              <hr class="de-u-bgBlue de-location-hr de-u-spaceEnds2">
              <ul class="js-de-pickup-locations de-pickup-locations de-Grid de-Grid--withGutter"></ul>
              <hr class="de-u-bgLime de-location-hr de-u-spaceEnds2">
            </div>

            {% capture layout_content %}{{ content_for_layout }}{% endcapture %}
            {{ layout_content | replace: login_link_default, login_link_override }}

            <div
              class="de-visit-cal-container
                     de-u-hidden de-u-spaceTop de-u-textShrink3"
            >
              <span>
                Planning to be in San Francisco?
                <button href="#"class="de-visit-cal-btn de-u-textBlue">
                  Try Pickup in Store
                </button>
              </span>
            </div>
            <span class="js-de-payment-continue-container">
              <a
                href="#"
                class="btn de-payment-continue
                       de-u-hidden
                       js-de-payment-continue"
              >
                <span class="js-de-payment-continue-copy">
                  Continue to Payment
                </span>
                <svg
                  class="btn__spinner
                         icon-svg icon-svg--size-18 icon-svg--spinner-button
                         js-de-payment-continue-spinner"
                  aria-hidden="true"
                  focusable="false"
                >
                  <use xlink:href="#spinner-button"></use>
                </svg>
              </a>
            </span>
          </div>
          <div class="main__footer">
            {% capture footer_content %}{{ content_for_footer }}{% endcapture %}
            {{ footer_content | replace: login_link_default, login_link_override }}
          </div>
        </div>
        <div class="sidebar" role="complementary">
          <div class="sidebar__header">
            {{ content_for_logo }}
          </div>
          <div class="sidebar__content">
            {% capture order_summary_content %}{{ content_for_order_summary }}{% endcapture %}
            {{ order_summary_content | replace: login_link_default, login_link_override }}
          </div>
        </div>
      </div>
    </div>

    {% if checkout_html_classes contains 'page--thank-you' %}
      {% include 'js-gtm-datalayer-purchase' %}
    {% endif %}

    {% include 'moment.js' %}
    {% include 'moment-timezone.js' %}
    <script defer type="module" src="{{ 'built-checkout.js' | asset_url }}"></script>
    <script defer nomodule src="{{ 'built-checkout-legacy.js' | asset_url }}"></script>
    {{ tracking_code }}
  </body>
</html>
