<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="facebook-domain-verification" content="2tjyg7urynyxfj4553rpfqq6oibs89" />
  {% comment %}Favicon{% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#0080c4">
  <meta name="apple-mobile-web-app-title" content="Decathlon">
  <meta name="application-name" content="Decathlon">
  <meta name="msapplication-TileColor" content="#0080c4">
  <meta name="theme-color" content="#0080c4">
  {% if page_title == 'order-newstore' %}
    <title>
    Order | {{shop.name}}
    </title>
  {% else %}
      <title>
        {% include 'helpers-meta-title' %}
      </title>
  {% endif %}
  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no, user-scalable=0">

 {% include 'helpers-template-analytics' 
  shop: shop
  canonical_url: canonical_url
 %}
  {{ content_for_header }}
  
 
  {% render 'shogun-head' %}

  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
  {% render 'reamaze-config' %}
  {% render 'reamaze-sso' %}
  <!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>
{% comment %}
  Add the page template as a class for easy page or template specific styling.
<{% endcomment %}
<body>
  {{ content_for_layout }}
</body>
</html>
