{%- assign pageUsesAppMate = settings.app_wk_enabled -%}
{%- if template == 'index' or template contains 'collection.' or template == 'search' or template == 'cart' -%}
  {%- assign pageUsesAppMate = false -%}
{%- elsif template == 'product' and product.metafields.global.features != blank -%}
  {% comment %} New Product Page {% endcomment %}
  {% assign pageUsesAppMate = false %}
{%- endif -%}
{% comment %} For Google Tag Manager {% endcomment %}
{% include 'helpers-template-name' %}
<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Qr redirect ================================================== -->
  {% if shop.url == 'https://www.decathlon.com' %}
    {% assign qrRedirectUrl = 'https://shopify-decathlon-proxy-p.herokuapp.com' %}
  {% else %}
    {% assign qrRedirectUrl = 'https://shopify-decathlon-proxy-s.herokuapp.com' %}
  {% endif %}

  <script type="text/javascript">
  (function() {
    var pathname = window.location.pathname;
    if (pathname.substring(0, 3) === '/qr') {
      window.location = "{{qrRedirectUrl}}" + pathname;
    }
  })();
  </script>

  {% include 'layout-account-portal-redirects' %}

  {% include 'js-gtm-datalayer-visit' %}
  {% include 'js-gtm-head' %}

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  {% comment %}Favicon{% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#0080c4">
  {% if template == "index" %}
  <link rel="alternate" href="https://www.decathlon.co.th/th/" hreflang="th-th">
  <link rel="alternate" href="https://www.decathlon.co.th/en/" hreflang="en-th">
  <link rel="alternate" href="https://www.decathlon.cz/" hreflang="cs-cz">
  <link rel="alternate" href="https://www.decathlon.cz/" hreflang="en-cz">
  <link rel="alternate" href="https://www.decathlon.sk/" hreflang="sk-sk">
  <link rel="alternate" href="https://www.decathlon.re/" hreflang="fr-re">
  <link rel="alternate" href="https://www.decathlon.ro/" hreflang="ro-ro">
  <link rel="alternate" href="https://www.decathlon.bg/" hreflang="bg-bg">
  <link rel="alternate" href="https://www.decathlon.hr/" hreflang="hr-hr">
  <link rel="alternate" href="https://www.decathlon.si/" hreflang="sl-si">
  <link rel="alternate" href="https://www.decathlon.com/" hreflang="en-us">
  <link rel="alternate" href="https://www.decathlon.in/" hreflang="en-in">
  <link rel="alternate" href="https://www.decathlon.co.za/" hreflang="en-za">
  <link rel="alternate" href="https://www.decathlon.ma/" hreflang="fr-ma">
  <link rel="alternate" href="https://www.decathlon.com.mx/" hreflang="es-mx">
  <link rel="alternate" href="https://www.decathlon.vn/vi/" hreflang="vi-vn">
  <link rel="alternate" href="https://www.decathlon.vn/en/" hreflang="en-vn">
  <link rel="alternate" href="https://www.decathlon.tn/" hreflang="fr-tn">
  <link rel="alternate" href="https://www.decathlon.mq/" hreflang="fr-mq">
  <link rel="alternate" href="https://www.decathlon.sn/" hreflang="fr-sn">
  <link rel="alternate" href="https://www.decathlon.com.co/es/" hreflang="es-co">
  <link rel="alternate" href="https://www.decathlon.com.gh/" hreflang="en-gh">
  <link rel="alternate" href="https://www.decathlon.fr/" hreflang="fr-fr">
  <link rel="alternate" href="https://www.decathlon.co.uk/" hreflang="en-gb">
  <link rel="alternate" href="https://www.decathlon.be/nl/" hreflang="fr-be">
  <link rel="alternate" href="https://www.decathlon.co.id/in/" hreflang="id-id">
  <link rel="alternate" href="https://www.decathlon.co.id/en/" hreflang="en-id">
  <link rel="alternate" href="https://www.decathlon.com.hk/zh/" hreflang="zh-hk">
  <link rel="alternate" href="https://www.decathlon.com.hk/en/" hreflang="en-hk">
  {% endif %}
  <link rel="alternate" href="https://{{ request.host }}{{ request.path }}" hreflang="en-au">
  <meta name="apple-mobile-web-app-title" content="Decathlon">
  <meta name="application-name" content="Decathlon">
  <meta name="msapplication-TileColor" content="#0080c4">
  <meta name="theme-color" content="#0080c4">


  <!-- Title and description ============================================= -->
  {% if page_title == 'order-newstore' %}
    <title>
    Order | {{shop.name}}
    </title>
  {% else %}
    <title>
      {% include 'helpers-meta-title' %}
    </title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- pinterest -->
  {% if settings.pinterest_id %}<meta name="p:domain_verify" content="{{ settings.pinterest_id }}"/>{% endif %}

  <!-- google -->
  {% if settings.google_site_id %}<meta name="google-site-verification" content="{{ settings.google_site_id }}"/>{% endif %}

  <!-- CSS ================================================== -->
  {{ 'fonts.scss.css' | asset_url | stylesheet_tag }}
  {% include 'slick-styles' %}
  {% if template == "index" %}
  {{ 'home.scss.css' | asset_url | stylesheet_tag }}
  {% else %}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'adeptMind.scss.css' | asset_url | stylesheet_tag }}
  {{ 'legacySupport.scss.css' | asset_url | stylesheet_tag }}
  {{ 'cadence.scss.css' | asset_url | stylesheet_tag }}
  {% if template == "product" and product.metafields.global.features != blank %}
    {{ 'built-product-page.css' | asset_url | stylesheet_tag }}
  {% else %}
    {% comment %}
      TODO - Remove IcoMoon CSS when remaining icons are refactored
      Making conditional to not load on new product page, where it's not needed
    {% endcomment %}
    {{ 'icomoon.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {% if template == "index" or template == "cart" or template.name == "collection" or template.name == "search" %}
    {{ 'built-product-tile.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% if template == "customers/account" %}
    {{ 'built-customer-fields.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {% comment %}
    @TODO
    1. Determine when this was commented out and why.
    {{ 'zoom.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
  {{ 'patterns-toolkit.css' | asset_url | stylesheet_tag }}
  {{ 'shogun-overrides.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'js-rollbar-init' %}
  {% include 'oldIE-js' %}

  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'cart.min.js' | asset_url | script_tag }}
  <script>
    jQuery(function() {
      CartJS.init({{ cart | json }}, {
        dataAPI: true,
        currency: '{{ shop.currency }}',
        moneyFormat: '{{ shop.money_format }}',
        moneyWithCurrencyFormat: '{{ shop.money_with_currency_format }}',
        weightUnit: 'kg',
        weightPrecision: 1
      });
    });
  </script>

  {% include 'js-global-variables' %}

  {% if settings.use_alternate_banner == false %}
    {% comment %}
      * The intent of this block is to render (3) preload links
      * containing the background banner image URLs, which are used
      * for templates/index.liquid only. <link rel="preload"> elements
      * must be placed with the <head> block, and so the following variables
      * are repeated: [slideName, slideImage, banner_bg_image_size,
      * banner_bg_image]. Any changes made to these variables should also
      * be updated within templates/index.liquid.
    {% endcomment %}
    {% if template contains 'index' %}
      {% for i in (1..3) %}
        {% assign slideName = 'homepage_main_banner_' | append: i | append: '_'  %}
        {% assign slideImage = slideName | append: 'background_image.jpg'  %}
        {% assign banner_bg_image_size = '1600x' %}
        {% assign banner_bg_image = slideImage | asset_img_url: banner_bg_image_size, format: 'pjpg' %}
        <link rel="preload" href="{{ banner_bg_image }}" as="image">
      {% endfor %}
    {% endif %}
  {% endif %}

  {% comment %} wishlist {% endcomment %}
  {% if pageUsesAppMate %}
    {% include 'compositions-appmate-wishlist-king' %}
  {% endif %}

  {% comment %}
    script for Minubo
  {% endcomment %}
  <script>
   window.dataLayer = window.dataLayer || [];
   dataLayer.push({
      'random': Math.random().toString(36).substr(2,9),
      'timestamp': new Date().getTime(),
      'page_title': '{{ page_title }}',
      'page_template': '{{template}}',
      'product_id': '{{ product.id }}',
      'product_price': '{{ product.price }}',
      'product_type': '{{ product.type }}',
      'product_collections': '{{ product.collections }}',
      'product_available': '{{ product.available }}',
      'email_user': '{{customer.email}}',
      'customer_id': '{{customer.id}}',
      'cart_amount': '{{cart.total_price}}',
      'cart_products': '{{cart.items}}'
   });
  </script>

  <script>
    // Adeptmind script overrides the global replaceState with a new one that only
    // intermittently works, so this script preserves the original
    // Include this even without Adeptmind, because other scripts in the theme use it.
    window.realReplaceState = history.replaceState.bind(window.history)
  </script>

  {% if settings.use_adeptmind %}
    {% comment %} adeptMind {% endcomment %}
    <style id="adeptmind-css">.template-search main{opacity: 0; pointer-events:none}</style>
    <link href="//s3.us-east-2.amazonaws.com/adept-shop-ui/production/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/adeptmind-styles.css" rel="stylesheet" type="text/css" media="all" />
    {% if shop.secure_url == "https://www.decathlon.com" %}
      <script async id="adeptmind-js" src="https://s3.us-east-2.amazonaws.com/adept-shop-ui/prod/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/EA5C467F-BD87-495F-ABAA-73473DA91574.js"></script>
    {% else %}
      <script async id="adeptmind-js" src="https://s3.us-east-2.amazonaws.com/adept-shop-ui/stage/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/C6F81754-93AC-4B29-87C8-DDB7ADAFAB86.js""></script>
    {% endif %}
  {% endif %}

  {% if settings.use_algolia %}
    {% include 'layout-algolia-head' %}
  {% endif %}

  {% include 'shogun-head' %}
</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{% if collection %}{{ collection.handle }}{% else %}{{ page_title | handle }}{% endif %}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% if template.suffix != blank %}template-suffix-{{ template.suffix }}{% endif %} is-shortNav{% if settings['is_lookbook'] == true %} is-wishlistOnly{% endif %}{% if cart.item_count > 0 %} has-itemsInCart{% endif %}{% if product and product.tags contains 'allow sale' %} is-sellableProduct{% endif %}" {% if template_name %}data-gtm-template="{{template_name}}"{% endif %}>

  {% include 'js-gtm-body' %}

  {% section 'add-on-products' %}

  <div class="de-PageWrap de-Drawer-wrap js-de-PageWrap js-de-Drawer-wrap">
    {% assign pages_to_show = settings.exception_page_handle | split: ',' %}
    {% assign page_exception = false %}
    {% if pages_to_show contains page.handle %}
      {% assign page_exception = true %}
    {% endif %}
    {% if settings.splash_page_enable == true and settings.splash_page_handle != blank and page_exception == false %}
      {% assign splash_page_handle = settings.splash_page_handle %}
      {{ pages[splash_page_handle].content }}
    {% else %}
      {% unless settings.hide_header == true %}
        {% include 'compositions-header' %}
      {% endunless %}

      {% if settings.ajax_cart_method == "drawer" %}
        {% include 'compositions-ajax-cart-drawer' %}
      {% endif %}

    	{% if settings.use_gateway == true and template == "index" %}

        {% include 'gateway' %}
    	{% endif %}

      {% comment %} <div id="PageContainer" class="is-moved-by-drawer"> {% endcomment %}
      <div class="de-PageWrap-main" {% if settings.hide_header == true %}style="padding-top: 0;"{% endif %}>
        <div>
          <main class="main-content" role="main">
            {{ content_for_layout }}
          </main>
        {% unless settings.hide_footer == true %}
          {% include 'compositions-footer' %}
        {% endunless %}
        </div>
      </div>
    {% endif %}
  </div>


  {{ 'timber.js' | asset_url | script_tag }}
  {% include 'polyfills' %}
  {% if settings.use_persistent_cart %}
    <script defer type="module" src="{{ 'built-persistent-cart.js' | asset_url }}"></script>
    <script defer nomodule src="{{ 'built-persistent-cart-legacy.js' | asset_url }}"></script>
  {% endif %}

  {% comment %}{% include '_live-search' %}{% endcomment %}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'compositions-ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        if ($('.timber-activeProduct').length > 0) {
          ajaxCart.init({
            formSelector: '.addToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '.addToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
        }
      });
      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });

    </script>
  {% endif %}

  {% include 'added-item-popup-template' %}

  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'js.cookie.min.js' | asset_url | script_tag }}

  {% if pageUsesAppMate %}
    <script>
    ;(function(window, $, Cookies) {
    $(function() {

      // Alan - 030618 - added for native app to clear localStorage
      if (Cookies.get('noLocalStorage')) {
        localStorage.clear();
        Cookies.remove('noLocalStorage');
      }

    try {
      Appmate.wk.ready(function(data) {
        Cookies.set('helpdesk', {
          cartCount: {{ cart.item_count }},
          wishlistCount: Appmate.wk.collection.items.length
        }, { domain: '.decathlon.com' });
      });
    } catch(e) {}

    });
    })(window, jQuery, Cookies);
    </script>
  {% endif %}

  {% comment %}
  {{ 'zoom.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {% endcomment %}

  {% comment %}
  We are always loading the legacy version of decathlon.js
  because it needs to be executed synchronously, blocking html parsing,
  because inline scripts depend on it
  {% endcomment %}
  {{ 'built-decathlon-legacy.js' | asset_url | script_tag }}
  {{ 'patterns-toolkit.js' | asset_url | script_tag }}

  {% include 'layout-template-scripts' %}

  {% comment %}{% include 'decathlon-wishlist' %}{% endcomment %}
  {% comment %}{% include 'zendesk-chat' %}{% endcomment %}

  {% include 'add-to-cart-wishlist-swap' %}

  {% if shop.metafields.customers.api_endpoint %}
    <div id="decathlon-customer-api" data-api-root="{{ shop.metafields.customers.api_endpoint }}"></div>
  {% endif %}

  <script>window.shipStates = ['all'];</script>

  <script type="text/javascript">
	  var mouseflowCrossDomainSupport = true;
	  window._mfq = window._mfq || [];
	  (function() {
		  var mf = document.createElement("script");
		  mf.type = "text/javascript"; mf.async = true;
		  mf.src = "//cdn.mouseflow.com/projects/3c536446-71f3-4a65-8c6e-6e254c934dff.js";
		  document.getElementsByTagName("head")[0].appendChild(mf);
	  })();
  </script>

  {% comment %}
    Capture a customer ID (will be undefined if there's not a customer yet, but that's good).
    Used by Persistent Cart JS
  {% endcomment %}
  <input type="hidden" class="js-de-cart-count" value="{{ cart.item_count }}">
  <input type="hidden" class="js-de-cid" value="{{ customer.id }}">

  <script type="text/javascript">
    (function() {
      var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
      avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1016785/';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
    })();
  </script>
  {% include 'js-jsonld-sitelinks-searchbox' %}
</body>
</html>
