{%- assign pageUsesAppMate = settings.app_wk_enabled -%}
{%- if template == 'index' or template contains 'collection.' or template == 'search' or template == 'cart' -%}
  {%- assign pageUsesAppMate = false -%}
{%- elsif template == 'product' and product.metafields.global.features != blank -%}
  {% comment %} New Product Page {% endcomment %}
  {% assign pageUsesAppMate = true %}
{%- endif -%}
{% comment %} For Google Tag Manager {% endcomment %}
{% include 'helpers-template-name' %}
<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js" lang="en"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <!-- Qr redirect ================================================== -->
  {% if shop.url == 'https://www.decathlon.com' %}
    {% assign qrRedirectUrl = 'https://shopify-decathlon-proxy-p.herokuapp.com' %}
  {% else %}
    {% assign qrRedirectUrl = 'https://shopify-decathlon-proxy-s.herokuapp.com' %}
  {% endif %}

  <script type="text/javascript">
  (function() {
    var pathname = window.location.pathname;
    if (pathname.substring(0, 3) === '/qr') {
      window.location = "{{qrRedirectUrl}}" + pathname;
    }
  })();
  </script>

  <script type="text/javascript">
    window.mapMarkerActiveIcon = "{{'map-marker-active.png' | asset_url}}";
    window.mapMarkerInactiveIcon = "{{'map-marker-inactive.png' | asset_url}}";
  </script>

  <script defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAkXb918cp932bUuHutJiiGOH5yAIZttQM&libraries=places&callback=handleCallback">
  </script>
  <script type="text/javascript">
    window.handleCallback = function() {
      console.log('Places API successfully loaded');
    };
  </script>

  {% include 'layout-account-portal-redirects' %}

  {% include 'js-gtm-datalayer-visit' %}
  {% include 'js-gtm-head' %}

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="facebook-domain-verification" content="2tjyg7urynyxfj4553rpfqq6oibs89" />

  {% comment %}Favicon{% endcomment %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ 'apple-touch-icon.png' | asset_url }}">
  <link rel="icon" type="image/png" href="{{ 'favicon-32x32.png' | asset_url }}" sizes="32x32">
  <link rel="icon" type="image/png" href="{{ 'favicon-16x16.png' | asset_url }}" sizes="16x16">
  <link rel="manifest" href="{{ 'site.webmanifest' | asset_url }}">
  <link rel="mask-icon" href="{{ 'safari-pinned-tab.svg' | asset_url }}" color="#0080c4">
  <meta name="apple-mobile-web-app-title" content="Decathlon">
  <meta name="application-name" content="Decathlon">
  <meta name="msapplication-TileColor" content="#0080c4">
  <meta name="theme-color" content="#0080c4">

  <!-- Title and description ============================================= -->
  {% if page_title == 'order-newstore' %}
    <title>
    Order | {{shop.name}}
    </title>
  {% else %}
    <title>
      {% include 'helpers-meta-title' %}
    </title>
  {% endif %}

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  {% unless canonical_url contains 'search' %}
    <link rel="canonical" href="{{ canonical_url | split: '?' | first }}">
  {% else %}
    <link rel="canonical" href="{{ canonical_url }}">
  {% endunless %}
  <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no, user-scalable=0">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  <!-- pinterest -->
  {% if settings.pinterest_id %}<meta name="p:domain_verify" content="{{ settings.pinterest_id }}"/>{% endif %}

  <!-- google -->
  {% if settings.google_site_id %}<meta name="google-site-verification" content="{{ settings.google_site_id }}"/>{% endif %}

  <!-- og:image settings - homepage, search and collections (default) should display decathlon logo. collections with image should show the image and products should show the feature image -->
  {% if template.name == 'product' %}
    <meta property="og:image" content="http:{{ image.src | product_img_url: '1200x1200' }}">
  {% else %}
    {% if page_image %}
      <meta property="og:image" content="http:{{ page_image | img_url: '1200x1200' }}">
    {% else %}
      <meta property="og:image" content="https://cdn.shopify.com/s/files/1/0066/6563/3903/files/meta_tag_image.png?v=1623038552">
    {% endif %}
  {% endif %}

  <!-- CSS ================================================== -->
  {{ 'fonts.scss.css' | asset_url | stylesheet_tag }}
  {% include 'slick-styles' %}
  {% if template == "index" %}
  {{ 'home.scss.css' | asset_url | stylesheet_tag }}
  {% else %}
  {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  {{ 'adeptMind.scss.css' | asset_url | stylesheet_tag }}
  <style>
    .de-PageWrap-main .breadcrumb{margin-top:0.5em}
  </style>
  {{ 'cadence.scss.css' | asset_url | stylesheet_tag }}
  {{ 'menu.scss.css' | asset_url | stylesheet_tag }}

  {% if template contains 'product' or template contains "cart" or template == "index"  %}
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  {% endif %}

  {% if template == "product" and product.metafields.global.features != blank %}
    {{ 'built-product-page.css' | asset_url | stylesheet_tag }}
  {% else %}
    {% comment %}
      TODO - Remove IcoMoon CSS when remaining icons are refactored
      Making conditional to not load on new product page, where it's not needed
    {% endcomment %}
    {{ 'icomoon.scss.css' | asset_url | stylesheet_tag }}
  {% endif %}
  
  {% if template == "index" or template == "cart" or template.name == "collection" or template.name == "search" or template.name == "product" %}
    {{ 'built-product-tile.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {% if template == 'search' and settings.show_recently_viewed_carousel_on_search_page %}
    {% assign display_recently_viewed = true %}
  {% endif %}

  {% if template == 'collection' and settings.show_recently_viewed_carousel_on_collection_page %}
    {% assign display_recently_viewed = true %}
  {% endif %}

  {% if display_recently_viewed %}
    {{ 'built-recently-viewed.css' | asset_url | stylesheet_tag }}
  {% endif %}

  {% comment %}
    @TODO
    1. Determine when this was commented out and why.
    {{ 'zoom.css' | asset_url | stylesheet_tag }}
  {% endcomment %}
  {{ 'patterns-toolkit.css' | asset_url | stylesheet_tag }}
  {{ 'shogun-overrides.scss.css' | asset_url | stylesheet_tag }}

  <!-- Header hook for plugins ================================================== -->
  {{ content_for_header }}
  {% include 'js-rollbar-init' %}
  {% include 'oldIE-js' %}

  {{ 'jquery.min.js' | asset_url | script_tag }}
  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% if template.name == '404' %}  
    <script>
      location.href = '/pages/404'
    </script>
  {% endif %}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}

  {{ 'cart.min.js' | asset_url | script_tag }}
  <script>
    jQuery(function() {
      CartJS.init({{ cart | json }}, {
        dataAPI: true,
        currency: '{{ shop.currency }}',
        moneyFormat: '{{ shop.money_format }}',
        moneyWithCurrencyFormat: '{{ shop.money_with_currency_format }}',
        weightUnit: 'kg',
        weightPrecision: 1
      });
    });
  </script>

  {% include 'js-global-variables' %}
  {% include 'js-dmp-tag' %}

  {% if settings.use_alternate_banner == false %}
    <!--
      * The intent of this block is to render (3) preload links
      * containing the background banner image URLs, which are used
      * for templates/index.liquid only. <link rel="preload"> elements
      * must be placed with the <head> block, and so the following variables
      * are repeated: [slideName, slideImage, banner_bg_image_size,
      * banner_bg_image]. Any changes made to these variables should also
      * be updated within templates/index.liquid.
-->
    {% if template contains 'index' %}
      {% for i in (1..3) %}
        {% assign slideName = 'homepage_main_banner_' | append: i | append: '_'  %}
        {% assign slideImage = slideName | append: 'background_image.jpg'  %}
        {% assign banner_bg_image_size = '1600x' %}
        {% assign banner_bg_image = slideImage | asset_img_url: banner_bg_image_size, format: 'pjpg' %}
        <link rel="preload" href="{{ banner_bg_image }}" as="image">
      {% endfor %}
    {% endif %}
  {% endif %}

  {% comment %} wishlist {% endcomment %}
  {% if pageUsesAppMate %}
    {% include 'compositions-appmate-wishlist-king' %}
  {% endif %}

  {% comment %}
    script for Minubo
  {% endcomment %}
  <script>
   window.dataLayer = window.dataLayer || [];
   dataLayer.push({
      'random': Math.random().toString(36).substr(2,9),
      'timestamp': new Date().getTime(),
      'page_title': '{{ page_title }}',
      'page_template': '{{template}}',
      'product_id': '{{ product.id }}',
      'product_price': '{{ product.price }}',
      'product_type': '{{ product.type }}',
      'product_collections': '{{ product.collections }}',
      'product_available': '{{ product.available }}',
      'email_user': '{{customer.email}}',
      'customer_id': '{{customer.id}}',
      'cart_amount': '{{cart.total_price}}',
      'cart_products': '{{cart.items}}'
   });
  </script>

  <script>
    // Adeptmind script overrides the global replaceState with a new one that only
    // intermittently works, so this script preserves the original
    // Include this even without Adeptmind, because other scripts in the theme use it.
    window.realReplaceState = history.replaceState.bind(window.history)
  </script>

  {% if settings.use_adeptmind %}
    {% comment %} adeptMind {% endcomment %}
    <style id="adeptmind-css">.template-search main{opacity: 0; pointer-events:none}</style>
    <link href="//s3.us-east-2.amazonaws.com/adept-shop-ui/production/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/adeptmind-styles.css" rel="stylesheet" type="text/css" media="all" />
    {% if shop.secure_url == "https://www.decathlon.com" %}
      <script async id="adeptmind-js" src="https://s3.us-east-2.amazonaws.com/adept-shop-ui/prod/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/EA5C467F-BD87-495F-ABAA-73473DA91574.js"></script>
    {% else %}
      <script async id="adeptmind-js" src="https://s3.us-east-2.amazonaws.com/adept-shop-ui/stage/dc2bc6f9-e0b9-4fa8-9678-3aacb9640f23/C6F81754-93AC-4B29-87C8-DDB7ADAFAB86.js"></script>
    {% endif %}
  {% endif %}

  {% if settings.use_algolia %}
    {% include 'layout-algolia-head' %}
  {% endif %}

  

  {% render 'shogun-head' %}
  {% render 'customer-fields', customer_api: true, version: '4.3.2' %}
  {% include 'ufe-offer' %}

  <!-- REAMAZE INTEGRATION START - DO NOT REMOVE -->
{% render 'reamaze-config' %}
{% render 'reamaze-sso' %}
<!-- REAMAZE INTEGRATION END - DO NOT REMOVE -->

</head>

{% comment %}
  Add the page template as a class for easy page or template specific styling.
{% endcomment %}
<body id="{% if collection %}{{ collection.handle }}{% else %}{{ page_title | handle }}{% endif %}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} {% if template.suffix != blank %}template-suffix-{{ template.suffix }}{% endif %} is-shortNav{% if settings['is_lookbook'] == true %} is-wishlistOnly{% endif %}{% if cart.item_count > 0 %} has-itemsInCart{% endif %}{% if product and product.tags contains 'allow sale' %} is-sellableProduct{% endif %}" {% if template_name %}data-gtm-template="{{template_name}}"{% endif %}>  
  {% include 'js-gtm-body' %}

  {% section 'config_labels' %}

  {% section 'add-on-products' %}

  <div class="de-PageWrap de-Drawer-wrap js-de-PageWrap js-de-Drawer-wrap">
    {% assign pages_to_show = settings.exception_page_handle | split: ',' %}
    {% assign page_exception = false %}
    {% if pages_to_show contains page.handle %}
      {% assign page_exception = true %}
    {% endif %}
    {% if settings.splash_page_enable == true and settings.splash_page_handle != blank and page_exception == false %}
      {% assign splash_page_handle = settings.splash_page_handle %}
      {{ pages[splash_page_handle].content }}
    {% else %}
      {% unless settings.hide_header == true %}
        {% include 'compositions-header' %}
      {% endunless %}

      {% if settings.ajax_cart_method == "drawer" %}
        {% include 'compositions-ajax-cart-drawer' %}
      {% endif %}

    	{% if settings.use_gateway == true and template == "index" %}

        {% include 'gateway' %}
    	{% endif %}

  <!--  <div id="PageContainer" class="is-moved-by-drawer"> -->
      <div class="de-PageWrap-main" {% if settings.hide_header == true %}style="padding-top: 0;"{% endif %}>
        <div>
          <main class="main-content" role="main">
            {{ content_for_layout }}
          </main>
          {% if display_recently_viewed %}
            <section id="recently-viewed-products-section" class="recently-viewed-algolia de-ProductInfoSection border-bottom--none" aria-labelledby="Section-additional-info">
              <div class="grey-divider"></div>
              {% include 'compositions-product-page-recently-viewed-products' %}
            </section>
          {% endif %}
        {% unless settings.hide_footer == true %}
          {% include 'compositions-footer' %}
        {% endunless %}
        </div>
      </div>
    {% endif %}
 </div>


  {{ 'timber.js' | asset_url | script_tag }}
  {% include 'polyfills' %}
  {% if settings.use_persistent_cart %}
    <script defer type="module" src="{{ 'built-persistent-cart.js' | asset_url }}"></script>
  {% endif %}

  {% comment %}{% include '_live-search' %}{% endcomment %}

  {% comment %}
    Template-specific js
  {% endcomment %}
  <script>
    {% if resetPassword %}
      $(function() {
        timber.resetPasswordSuccess();
      });
    {% endif %}
  </script>

  {% comment %}
    Ajaxify your cart with this plugin.
    Documentation:
      - http://shopify.com/timber#ajax-cart
  {% endcomment %}
  {% if settings.ajax_cart_method == "drawer" %}
    {{ 'handlebars.min.js' | asset_url | script_tag }}
    {% include 'compositions-ajax-cart-template' %}
    {{ 'ajax-cart.js' | asset_url | script_tag }}
    <script>
      jQuery(function($) {
        if ($('.timber-activeProduct').length > 0) {
          ajaxCart.init({
            formSelector: '.addToCartForm',
            cartContainer: '#CartContainer',
            addToCartSelector: '.addToCart',
            cartCountSelector: '#CartCount',
            cartCostSelector: '#CartCost',
            moneyFormat: {{ shop.money_format | json }}
          });
        }
      });
      jQuery('body').on('ajaxCart.afterCartLoad', function(evt, cart) {
        // Bind to 'ajaxCart.afterCartLoad' to run any javascript after the cart has loaded in the DOM
        timber.RightDrawer.open();
      });

    </script>
  {% endif %}

  {{ 'slick.min.js' | asset_url | script_tag }}
  {{ 'js.cookie.min.js' | asset_url | script_tag }}

  {% if pageUsesAppMate %}
    <script>
    ;(function(window, $, Cookies) {
    $(function() {

      // Alan - 030618 - added for native app to clear localStorage
      if (Cookies.get('noLocalStorage')) {
        localStorage.clear();
        Cookies.remove('noLocalStorage');
      }

    try {
      Appmate.wk.ready(function(data) {
        Cookies.set('helpdesk', {
          cartCount: {{ cart.item_count }},
          wishlistCount: Appmate.wk.collection.items.length
        }, { domain: '.decathlon.com' });
      });
    } catch(e) {}

    });
    })(window, jQuery, Cookies);
    </script>
  {% endif %}

  {% comment %}
  {{ 'zoom.js' | asset_url | script_tag }}
  {{ 'transition.js' | asset_url | script_tag }}
  {% endcomment %}

  {% comment %}
  We are always loading the legacy version of decathlon.js
  because it needs to be executed synchronously, blocking html parsing,
  because inline scripts depend on it
  {% endcomment %}
  {{ 'built-decathlon-legacy.js' | asset_url | script_tag }}
  {{ 'patterns-toolkit.js' | asset_url | script_tag }}

  {% include 'layout-template-scripts' %}

  {% comment %}{% include 'decathlon-wishlist' %}{% endcomment %}
  {% comment %}{% include 'zendesk-chat' %}{% endcomment %}

  {% include 'add-to-cart-wishlist-swap' %}

  {% if shop.metafields.customers.api_endpoint %}
    <div id="decathlon-customer-api" data-api-root="{{ shop.metafields.customers.api_endpoint }}"></div>
  {% endif %}

  <script>window.shipStates = ['all'];</script>

  <script type="text/javascript">
	  var mouseflowCrossDomainSupport = true;
	  window._mfq = window._mfq || [];
	  (function() {
		  var mf = document.createElement("script");
		  mf.type = "text/javascript"; mf.async = true;
		  mf.src = "//cdn.mouseflow.com/projects/3c536446-71f3-4a65-8c6e-6e254c934dff.js";
		  document.getElementsByTagName("head")[0].appendChild(mf);
	  })();
  </script>

  <script>
    window.translations = window.translations || {};
    window.translations.add_to_cart_drawer = {
      line_one: '{{ settings.add_to_cart_drawer_line_1 }}',
      line_two: '{{ settings.add_to_cart_drawer_line_2 }}',
      line_three: '{{ settings.add_to_cart_drawer_line_3 }}'
    };
    window.translations.product_stock = {
      in_stock: "{{ 'products.product.in_stock' | t }}",
      low_stock: "{{ 'products.product.low_stock' | t }}",
      pickup_only: "{{ 'products.product.pickup_only' | t }}"
    };
    window.add_to_cart_drawer_enabled = {{ settings.add_to_cart_drawer_enabled }};
  </script>

  {% comment %}
    Capture a customer ID (will be undefined if there's not a customer yet, but that's good).
    Used by Persistent Cart JS
  {% endcomment %}
  <input type="hidden" class="js-de-cart-count" value="{{ cart.item_count }}">
  <input type="hidden" class="js-de-cid" value="{{ customer.id }}">

  <script type="text/javascript">
    (function() {
      var avm = document.createElement('script'); avm.type = 'text/javascript'; avm.async = true;
      avm.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.avmws.com/1016785/';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(avm, s);
    })();
  </script>
  {% include 'js-jsonld-sitelinks-searchbox' %}
  <script src="//instant.page/5.1.0" type="module" integrity="sha384-by67kQnR+pyfy8yWP4kPO12fHKRLHZPfEsiSXR8u2IKcTdxD805MGUXBzVPnkLHw"></script>
  
  <script>
	console.log('KADAWLKDNAKLDNLADW', {{ collection.metafields.merchandising.link | json }}, {{ collection.metafields.merchandising.desktop | json }}, {{ collection.metafields.merchandising.mobile | json }});</script>
 {% include 'smile-initializer' %}

</body>
</html>
