<div class="de-SlideViews js-de-SlideViews">
	<section class="de-SlideViews-view js-de-SlideViews-view" id="menu-narrow">
    <ul class="de-MenuList">
			{% include 'navigation-menu-mobile-account' %}
    </ul>

    <ul class="de-MenuList">
      <li class="de-u-spaceNone">
        <a class="de-MenuList-item de-MenuList-item--lastcall" href="{{ settings.megamenu_link }}" style="background-color: {{ settings.megamenu_bg_colour }};">
        <div class="de-MenuList-content">
          <h5 class="de-MenuList-heading">hi{{ settings.megamenu_title }}</h5>
          <p class="de-MenuList-summary">{{ settings.megamenu_subtitle }}</p>
        </div>
        {% include 'patterns-icons-chevron',
          class: "de-MenuList-icon"
          role: 'presentation' %}
        </a>
      </li>
    </ul>

    <ul class="de-MenuList">
      {% comment %}A-Z link{% endcomment %}
      {% assign menu_handle = 'shop' %}
      {% assign mega_menu = linklists[menu_handle] %}
      {% if mega_menu.links.size > 0 %}
        {% include 'navigation-menu-list-collection', list: mega_menu, subhead: 'A-Z', menuChild: "menu-list", menu_title: 'All Sports' %}
      {% endif %}

  		{% for link in linklists.mega-tabs.links %}

  	    {% assign menu_handle = link.url | handleize %}
  	    {% assign mega_menu = linklists[menu_handle] %}

        {% if menu_handle == 'sports' %}
          {% assign sports = linklists.sports %}
          {% include 'navigation-menu-list-collection', list: sports, menuChild: "menu-list", menu_title: link.title %}
        {% else %}
    	    {% if mega_menu.links.size > 0 %}
            {% include 'navigation-menu-list-collection', list: mega_menu, menuChild: "menu-list", menu_title: link.title %}
    	    {% endif %}
        {% endif %}

  	  {% endfor %}
    </ul>
    <ul class="de-MenuList">
      {% include 'navigation-menu-list', list: linklists["additional-shopping"] %}
    </ul>
    <ul class="de-MenuList">
      {% include 'navigation-menu-list', list: linklists["brand-menu"] %}
    </ul>
    <ul class="de-MenuList">
      {% for list-item in linklists["store-finder"].links %}
        {% include 'navigation-menu-list-item',
          item: list-item,
          showLabel: true,
          listClass: 'de-u-spaceNone de-u-textBold' %}
      {% endfor %}
    </ul>
	</section>

	{% comment %}A-Z link{% endcomment %}
  {% assign menu_handle = 'shop' %}
  {% assign mega_menu = linklists[menu_handle] %}
  {% if mega_menu.links.size > 0 %}
    <section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ menu_handle }}">
      <ul class="de-MenuList">
      {% include 'navigation-menu-mobile-crumb', slideTarget: "menu-narrow", linkLabel: "Home" %}
        {% include 'navigation-menu-list', list: mega_menu, subhead: 'A-Z', menuChild: "menu-list", showCaret: false %}
      </ul>
    </section>
  {% endif %}

	{% for link in linklists.mega-tabs.links %}

    {% assign menu_handle = link.url | handleize %}
    {% assign mega_menu = linklists[menu_handle] %}

    {% comment %}if mega_menu.links.size > 0 or menu_handle == 'az'{% endcomment %}
    {% if menu_handle == 'sports' %}
      {% include 'nav-narrow-sports' %}
    {% else %}
      {% if mega_menu.links.size > 0 %}

        <section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ menu_handle }}">
          <ul class="de-MenuList">
          {% include 'navigation-menu-mobile-crumb', slideTarget: "menu-narrow", linkLabel: "Home" %}
            {% assign menu_child = "menu-list" | append: '-' | append: mega_menu.handle %}
            {% include 'navigation-menu-list', list: mega_menu, menuChild: menu_child, showCaret: false %}
          </ul>
        </section>

        {% for sub_link in mega_menu.links %}
          {% if sub_link.links != blank %}
            <section class="de-SlideViews-view js-de-SlideViews-view" id="menu-list-{{ mega_menu.handle }}-{{ sub_link.handle }}">
              <ul class="de-MenuList">
                {% assign slide_target = "menu-list-" | append: mega_menu.handle %}
                {% include 'navigation-menu-mobile-crumb', slideTarget: slide_target, linkLabel: link.title %}
              </ul>
              <ul class="de-MenuList">
                {% for child_link in sub_link.links %}
                <li class="de-u-spaceNone">
                  <a class="de-MenuList-item" href="{{ child_link.url }}">
                    {{ child_link.title }}
                  </a>
                </li>
                {% endfor %}
              </ul>
            </section>
          {% endif %}
        {% endfor %}

      {% endif %}
    {% endif %}

  {% endfor %}

</div>
