{% comment %}
  @TODO:
  2. consider a11y requirements
  4. progressively enhance `<span>`s → `<button>`s for color swatches
  5. How should we handle Color Swatches before JS not available?

  @Markup:
  1. `<article>`
  2. `<section>`
  2. `<header>`
  3. `<footer>`
{% endcomment %}

{% comment %} Begin ProductTile pattern {% endcomment %}
<article
  class="de-ProductTile de-u-lineHeight3 js-de-ProductTile {{ class }}"
  itemprop="itemListElement"
  itemscope
  itemtype="http://schema.org/Product"
  {% comment %} TODO Remove `data-product-title` if not needed, eventually {% endcomment %}
  data-product-title="{{ product.title }}"
>
  <a href="{{ product.url }}">
    <section class="de-ProductTile-showcase">
      {% comment %} Product Flag {% endcomment %}
      {% include 'elements-product-flag' with class: 'de-u-textShrink2 de-u-md-Grow1' %}
    
      {% comment %} Product Image(s) {% endcomment %}
      {% assign alt = product.first_available_variant.image.alt %}
      <img
        alt="{% include 'func-extract-alt-copy' with alt %}"
        class="de-ProductTile-showcaseImage js-de-ProductTile-featureImage"
        itemprop="image"
        src="{{ product.first_available_variant.image | img_url: 'large' }}"
        data-gtm-event="customer-interaction"
        data-gtm-id="{% if templateName %}{{ templateName }} - {% endif %}Hero Image"
        data-gtm-category="Tiles"
      >
    </section>
  </a>

  <section class="de-ProductTile-info">
    {% comment %} Color Swatches {% endcomment %}
    {% include 'elements-product-color-swatch-list' %}

    <a class="de-u-linkClean" href="{{ product.url }}">
      <header class="de-ProductTile-header">
        {% comment %} Decathlon Sub Brand Logo {% endcomment %}
        {% include 'elements-product-sub-brand-logo', product: product, class: 'de-u-spaceTop04 de-subBrandLogo' %}
      
        <h4
          class="de-ProductTile-title
                 de-u-textMedium de-u-textShrink1 de-u-lg-textGrow1 de-u-lineHeight2"
          itemprop="name"
          data-gtm-event="customer-interaction"
          data-gtm-category="Tiles"
          data-gtm-id="{% if templateName %}{{ templateName }} - {% endif %}Product Title"
        >
          {{ product.title }}
        </h4>
      </header>
      
      <section>
        {% comment %} Reviews {% endcomment %}
        <div class="de-u-flex de-u-flexAlignItemsCenter de-u-spaceTop06 de-u-lineHeight1">
          {% include 'elements-product-rating--stars-total', star_rating_class: 'de-StarRating--small', item_count_class: 'de-u-textDarkGray de-u-textShrink2 de-u-md-textShrink1' %}
        </div>

        {% comment %} 
        Inventory Status 
        TODO To be implemented in future release
        {% endcomment %}
        {% comment %} {% include 'elements-product-tile-inventory-status' %} {% endcomment %}
      </section>
      
      {% comment %} 
        Fulfillment Info 
        TODO To be implemented in future release
      {% endcomment %}
      {% comment %} <footer>
        {% include 'elements-product-tile-fulfillment-information' %}
      </footer> {% endcomment %}
    </a>
    
    {% comment %} Price {% endcomment %}
    {% include 'elements-product-tile-price' %}

    {% comment %} TODO Figure out when this should be used {% endcomment %}
    {% if product.buttonBuyingOptions == true %}
      {% comment %} TODO Make use of translation text {% endcomment %}
      {% comment %} <button>
        See buying options
      </button> {% endcomment %}
    {% endif %}
  </section>
</article>
