<div id="bannerHero" class="banner banner--slideshow test js-slick--attr loading" data-slick='{ "dots": true,
  "infinite": true,
  "autoplay": true,
  "autoplaySpeed": 7000,
  "slidesToShow": 1,
  "arrows": true,
  "adaptiveHeight": false,
  "responsive": [
    {
      "breakpoint": 479,
      "settings": {
        "adaptiveHeight": true
      }
    }
  ]}'>

    {% for block in section.blocks %}
      {% assign item = block.settings %}
        {% assign countdown_position = item.countdown_position | split: "," %}
        {% assign pos_y = countdown_position | first %}
        {% assign pos_x = countdown_position | last %}


      <a href="{{ item.link_url | default: '#' }}" class="banner--slide" {% if item.link_new_window == true %}target="_blank" {% endif %} title="{{ item.link_title }}">
        
        {% assign banner_mobile = item.banner_mobile_image | default: item.banner_bg_image %}
        <style>
          :root {
            --banner{{ forloop.index }}Height: {{ 100 | divided_by: banner_mobile.aspect_ratio }}vw;
          }

          #banner-slide-{{ forloop.index }} {
            background-image: url({{ item.banner_bg_image | img_url: 'master' | json }});
          }
          #banner-slide-{{ forloop.index }}  .banner-content .banner--counterContainer {
            position: relative;
            font-size: inherit;
            color: inherit;
          }
      
          #banner-slide-{{ forloop.index }} .banner--counterContainer {
            justify-content: {{ pos_x }};
            align-items: {{ pos_y }};
            font-size: {{ item.countdown_font_size_d}};
            {% if item.countdown_underline %} text-decoration: underline; {% endif %}
            {% if item.countdown_bold %} 
              font-family: avalon_mediumbold,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif;
            {%- else -%}
              font-family: avalonmedium,Helvetica Neue,Helvetica,Arial,sans-serif!important;
            {% endif %}
            {% if item.countdown_italic %} font-style: italic; {% endif %}
            color: {{ item.countdown_colour}};
          }

          @media (max-width: 479px) {
            #banner-slide-{{ forloop.index }} {
              background-image: url({{ banner_mobile | img_url: 'master' | json }}) !important;
              background-size: cover;
              background-position: center;
              height: var(--banner{{ forloop.index }}Height);
            }
            
            #banner-slide-{{ forloop.index }} .banner--counterContainer {
              justify-content: center;
              align-items: {{ pos_y }};
              font-size: {{ item.countdown_font_size_m }};
            }
          }
        </style>
        {% capture countdown %}
          {% include 'helpers-countdown-counter.liquid', countdown_class: 'banner--countdown', item: item, index: forloop.index %}
        {% endcapture %}
        <div class="banner banner--billboard loading{{ banner_adtl_classes }}"{% if item.banner_bg_image != blank %} data-background-image="{{ item.banner_bg_image | img_url: 'master' }}"{% endif %}{% if banner_bg_position != blank %} style="background-position: {{ item.banner_bg_position }}"{% endif %} id="banner-slide-{{ forloop.index }}">
          {% comment %} <div id="bannerOverlay" class="banner--billboard__overlay loading"></div> {% endcomment %}
          {% if item.countdown_inline == true %}
            {% assign banner_intro = item.banner_intro | replace: '[countdown]', countdown %}
            {% assign banner_title = item.banner_title | replace: '[countdown]', countdown %}
            {% assign banner_subtitle = item.banner_subtitle | replace: '[countdown]', countdown %}
            {% assign banner_cta = item.button_title | replace: '[countdown]', countdown %}
          {% else %}
            {% assign banner_intro = item.banner_intro %}
            {% assign banner_title = item.banner_title %}
            {% assign banner_subtitle = item.banner_subtitle %}
            {% assign banner_cta = item.button_title %}

          {% endif %}
          
          <div class="wrapper u-centerVertically">
            <div class="banner-content">
              {%- if item.banner_intro != blank -%}
                <p class="banner-intro">{{ banner_intro }}</p>
              {%- endif -%}

              {%- if item.banner_title != blank -%}
                <h2 class="banner-title">{{ banner_title }}</h2>
              {%- endif -%}

              {%- if item.banner_subtitle != blank -%}
                <p class="banner-subtitle{% unless item.button_title %} u-marginBottom0x{% endunless %}">{{ banner_subtitle }}</p>
              {%- endif -%}

              {%- if item.button_title != blank -%}
                <p class="banner-btnContainer">
                  <button class="btn">
                    {{ banner_cta }}
                  </button>
                </p>
              {%- endif -%}
            </div>
          </div>
        
        {%- if item.countdown_date != blank and item.countdown_inline == false -%}
          <div class="banner--counterContainer">
          {{ countdown }}
          </div>
        {%- endif -%}
        </div>
      </a>

  {% endfor %}
  
</div>

{% comment %}
Load blue band here for specific use to the banner hero to prevent it from spilling outside and to fix elements which are implemented in floats which causes new elements
to overlap.
{% endcomment %}
{% include 'blue-band', footer_blue_banner: true %}

{% schema %}
{
  "name": "Banner Hero",
  "class": "banner_hero_slide clearfix",
  "blocks": [
    {
      "type": "slide",
      "name": "Banner Hero Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_bg_image",
          "label": "Desktop Image"
        },
        {
          "type": "text",
          "id": "slide_bg_position",
          "label": "Set the CSS position of your desktop background",
          "default": "75% -50px"
        },
        {
          "type": "image_picker",
          "id": "banner_mobile_image",
          "label": "Mobile Image"
        },
        {
          "type": "text",
          "id": "banner_intro",
          "label": "Add an intro for your slide"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Add a title for your slide"
        },
        {
          "type": "richtext",
          "id": "banner_subtitle",
          "label": "Add a subtitle for your slide"
        },
        {
          "id": "countdown_inline",
          "type": "checkbox",
          "label": "Use Countdown inline?",
          "info": "Add a [countdown] parameter in the input fields to display countdown."
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Add a button, saying:"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Add a link for the slide"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Add a title for the link"
        },
        {
          "type": "checkbox",
          "id": "link_new_window",
          "label": "Open the link in a new tab?"
        },
        {
          "type": "header",
          "content": "Countdown"
        },
        {
          "id": "countdown_date",
          "type": "text",
          "label": "Countdown Date",
          "info": "Place date of countdown end in format YYYY-MM-DD. This is an optional value."
        },
        {
          "id": "countdown_time",
          "type": "text",
          "label": "Countdown Time",
          "info": "24 Hours Format - HH:SS"
        },
        {
          "id": "countdown_position",
          "type": "select",
          "label": "Countdown Position",
          "options": [
            {
              "value": "flex-start,flex-start",
              "label": "Top Left"
            },
            {
              "value": "flex-start,center",
              "label": "Top Centre"
            },
                        {
              "value": "flex-start,flex-end",
              "label": "Top Right"
            },
                        {
              "value": "center,flex-start",
              "label": "Middle Left"
            },
                        {
              "value": "center,center",
              "label": "Middle Centre"
            },
                        {
              "value": "center,flex-end",
              "label": "Middle Right"
            },
                        {
              "value": "flex-end,flex-start",
              "label": "Bottom Left"
            },
                        {
              "value": "flex-end,center",
              "label": "Bottom Centre"
            },
                        {
              "value": "flex-end,flex-end",
              "label": "Bottom Right"
            }
          ]
        },
         {
          "type": "header",
          "content": "Countdown Styling"
        },
        {
          "id": "countdown_bold",
          "type": "checkbox",
          "label": "Use bold font?"
        },
        {
          "id": "countdown_italic",
          "type": "checkbox",
          "label": "Use italic font?"
        },
        {
          "id": "countdown_underline",
          "type": "checkbox",
          "label": "Use underline font?"
        },
        {
          "id": "countdown_colour",
          "type": "color",
          "label": "Select Font Colour",
          "default": "#FFFFFF"
        },
        {
          "id": "countdown_font_size_m",
          "type": "text",
          "label": "Font size (Mobile)",
          "info": "You may add XXpx or via X.XXrem font sizes.",
          "default": "1.75rem"
        },
        {
          "id": "countdown_font_size_d",
          "type": "text",
          "label": "Font size (Desktop)",
          "info": "You may add XXpx or via X.XXrem font sizes.",
          "default": "2.75rem"

        }

      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Hero",
      "category": "Banner Hero"
    }
  ]
}
{% endschema %}
