<div id="bannerHero" class="banner banner--slideshow test js-slick--attr loading" data-slick='{ "dots": true,
  "infinite": true,
  "autoplay": true,
  "autoplaySpeed": 7000,
  "slidesToShow": 1,
  "arrows": true,
  "adaptiveHeight": false }'>

    {% for block in section.blocks %}

      <a href="{{ block.settings.link_url | default: '#' }}" class="banner--slide" {% if block.settings.link_new_window == true %}target="_blank" {% endif %} title="{{ block.settings.link_title }}">
        <div class="banner banner--billboard loading{{ banner_adtl_classes }}"{% if block.settings.banner_bg_image != blank %} data-background-image="{{ block.settings.banner_bg_image | img_url: 'master' }}"{% endif %}{% if banner_bg_position != blank %} style="background-position: {{ block.settings.banner_bg_position }}"{% endif %} id="banner-slide-{{ forloop.index }}">
          {% comment %} <div id="bannerOverlay" class="banner--billboard__overlay loading"></div> {% endcomment %}

          <div class="wrapper u-centerVertically">
            <div class="banner-content">
              {%- if block.settings.banner_intro != blank -%}
                <p class="banner-intro">{{ block.settings.banner_intro }}</p>
              {%- endif -%}

              {%- if block.settings.banner_title != blank -%}
                <h2 class="banner-title">{{ block.settings.banner_title }}</h2>
              {%- endif -%}

              {%- if block.settings.banner_subtitle != blank -%}
                <p class="banner-subtitle{% unless block.settings.button_title %} u-marginBottom0x{% endunless %}">{{ block.settings.banner_subtitle }}</p>
              {%- endif -%}

              {%- if block.settings.button_title != blank -%}
                <p class="banner-btnContainer">
                  <button class="btn">
                    {{ block.settings.button_title }}
                  </button>
                </p>
              {%- endif -%}
            </div>
          </div>
        </div>
      </a>

  {% endfor %}
  
</div>

{% comment %}
Load blue band here for specific use to the banner hero to prevent it from spilling outside and to fix elements which are implemented in floats which causes new elements
to overlap.
{% endcomment %}
{% include 'blue-band', footer_blue_banner: true %}

{% schema %}
{
  "name": "Banner Hero",
  "class": "banner_hero_slide clearfix",
  "blocks": [
    {
      "type": "slide",
      "name": "Banner Hero Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "banner_bg_image",
          "label": "Select a background image"
        },
        {
          "type": "text",
          "id": "slide_bg_position",
          "label": "Set the CSS position of your background",
          "default": "75% -50px"
        },
        {
          "type": "text",
          "id": "banner_intro",
          "label": "Add an intro for your slide"
        },
        {
          "type": "text",
          "id": "banner_title",
          "label": "Add a title for your slide"
        },
        {
          "type": "richtext",
          "id": "banner_subtitle",
          "label": "Add a subtitle for your slide"
        },
        {
          "type": "text",
          "id": "button_title",
          "label": "Add a button, saying:"
        },
        {
          "type": "url",
          "id": "link_url",
          "label": "Add a link for the slide"
        },
        {
          "type": "text",
          "id": "link_title",
          "label": "Add a title for the link"
        },
        {
          "type": "checkbox",
          "id": "link_new_window",
          "label": "Open the link in a new tab?"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Banner Hero",
      "category": "Banner Hero"
    }
  ]
}
{% endschema %}
