<link
rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css"
/>

<style>
  .collection-swiper .desktop-image,
  .collection-swiper .mobile-image {
    max-width: 100%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    max-height: {{section.settings.max_percentage_height}};
  }
  .collection-swiper a {
    display: block;
    line-height: 0;
  }
  .collection-swiper a[href="#"] {
    pointer-events: none;
    cursor: initial;
  }
  
  .collection-swiper .tablet-image{
    display: none;
    width: 100%;
  }
 
  .collection-swiper .desktop-image{
    display: none;
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .collection-swiper .mobile-image {
      display: none;
    }
    
    .collection-swiper .tablet-image{
      display: block;
    }
  }

  @media screen and (min-width: 1280px) {
    .collection-swiper .tablet-image {
      display: none;
    }
    
    .collection-swiper .desktop-image{
      display: block;
    }
  }
</style>
{{ 'component-swiper.css' | asset_url | stylesheet_tag }}

<script src="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js" defer="defer"></script>
<script src="{{ 'hero-banner.js' | asset_url }}" defer="defer"></script>

{% assign carousel_images = collection.metafields.metadata.collection_carousel_images.value %}
{% assign carousel_images_desktop = collection.metafields.metadata.collection_carousel_images_desktop.value %}
{% assign carousel_links = collection.metafields.metadata.collection_carousel_slide_link.value %}

{%- capture carousel_images_desktop_str -%}
{%-for image in carousel_images_desktop-%}
  {{- image | image_url -}}|
{%- endfor -%}
{%- endcapture -%}

{% assign carousel_images_desktop_array = carousel_images_desktop_str | split: "|" %}

{% if section.blocks.size > 0 %}

<div class="page-width">
  <!-- Slider main container -->
  <div class="swiper collection-swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      {% for block in section.blocks %}
        <div class="swiper-slide">
          <a href="{{block.settings.link}}">
            <img src="{{ block.settings.mobile_image | image_url  }}" class="collection-carousel-image mobile-image" alt="{{ block.settings.mobile_image_alt  }}" 
            loading="lazy">
            <img src="{{ block.settings.tablet_image | image_url  }}" class="collection-carousel-image tablet-image" alt="{{ block.settings.tablet_image_alt  }}" 
            loading="lazy">
            <img src="{{ block.settings.desktop_image | image_url  }}" class="collection-carousel-image desktop-image" alt="I{{ block.settings.desktop_image_alt  }}" 
            loading="lazy">
          </a>
        </div>
      {% endfor %}

    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

    <!-- If we need navigation buttons -->
    {% comment %} <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> {% endcomment %}
  </div>
</div>

{% endif %}



{% schema %}
  {
    "name": "Hero Banner",
    "class": "section",
    "settings": [
      {
        "type": "text",
        "id": "max_percentage_height",
        "label": "Max percentage height",
        "default": "30vh",
        "info": "Attach 'vh' unit if you want the max height to be percentage based on the screen size or 'px' if you want it to be by pixel-absolute height."
      }
    ],
    "blocks": [
      {
        "type": "carousel-slide",
        "name": "Carousel Slide",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "url",
            "id": "link",
            "label": "Link"
          },
          {
            "type": "image_picker",
            "id": "mobile_image",
            "label": "Mobile Image"
          },
          {
            "type": "text",
            "id": "mobile_image_alt",
            "label": "Mobile Image Alt Text"
          },
          {
            "type": "image_picker",
            "id": "tablet_image",
            "label": "Tablet Image"
          },
          {
            "type": "text",
            "id": "tablet_image_alt",
            "label": "Tablet Image Alt Text"
          },
          {
            "type": "image_picker",
            "id": "desktop_image",
            "label": "Desktop Image"
          },
          {
            "type": "text",
            "id": "desktop_image_alt",
            "label": "Desktop Image Alt Text"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Hero Banner"
      }
    ]
  }
  {% endschema %}
