<div class="bnpl_icons bnpl_icons_desktop">
  Buy Now, Pay Later: {% for block in section.blocks %}
    <a href="#{{ block.id }}" rel="modal:open">{{ block.settings.logo }}</a>
  {% endfor %}
</div>

{% for block in section.blocks %}
  <div id="{{ block.id }}" class="modal bnpl_modal">
    <div class="bnpl_modal_header">
      <strong>{{ block.settings.title }}</strong>
    </div>

    <div class="bnpl_modal_logo">
      {{ block.settings.logo }}
    </div>

    <div class="bnpl_modal_title">
      {% assign titles = block.settings.modal_title | split: "|" %}
      {% for title in titles %}
        {% if title != blank %}
          {% assign title = title | strip %}
          <strong>{{ title }}</strong>
        {% endif %}
      {% endfor %}
    </div>

    <div class="bnpl_modal_instalment_terms">
      {% assign terms = block.settings.instalment_terms | split: "|" %}
      {% for term in terms %}
        {% assign term = term | strip %}
        <span class="bnpl_modal_instalment_term">{{ term }}</span>
      {% endfor %}
    </div>

    <div class="bnpl_modal_price_text">
      {{ block.settings.price_text | replace: '[price]', '<span class="populate_instalments" data-block-id="block_id"></span>' | replace: 'block_id', block.id }}
    </div>

    <div class="bnpl_modal_body">
      {% assign items = block.settings.modal_body | remove: '<p>' | remove: '</p>' | strip | strip_newlines | split: "<br/><br/>" %}
      {% for item in items %}
        {% if item != blank %}
          {% assign item = item | strip %}
          <div class="bnpl_modal_body_item">{{ item }}</div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="bnpl_modal_footer">
      {{ block.settings.modal_footer | strip }}
    </div>
  </div>
{% endfor %}

<script>
  window.bnpl = window.bnpl || {};
  {% for block in section.blocks %}
    {% if block.settings.price_formula != blank %}
      window.bnpl['{{ block.id }}PriceFormula'] = (price) => {{ block.settings.price_formula }};
    {% endif %}
  {% endfor %}

  window.updateInstalments = (cents) => {
    const instalments = document.querySelectorAll('.populate_instalments');
    instalments.forEach(el => {
      try {
        const blockID = el.dataset.blockId;
        console.log(window.bnpl, blockID);
        const priceFormula = window.bnpl[`${ blockID }PriceFormula`];
        console.log(priceFormula);
        el.innerHTML = priceFormula(cents);
      } catch(err) {
        console.error(err);
      }
    });
  }

  window.updateInstalments(window.vars.productJSON.price);

  window.addEventListener('DOMContentLoaded', function (e) {
    var bnpl_desktop = document.querySelector('.bnpl_icons_desktop');
    var bnpl_mobile = document.querySelector('.bnpl_icons_mobile');
    bnpl_mobile.innerHTML = bnpl_desktop.innerHTML;
  });
</script>

{% schema %}
  {
    "name": "Product Page BNPL",
    "settings": [],
    "blocks": [
      {
       "name": "Payment Option",
       "type": "payment_option",
       "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "logo",
            "label": "SVG Logo",
            "info": "Paste the code of the SVG in here."
          },
          {
            "type": "header",
            "content": "Modal Content"
          },
          {
            "type": "text",
            "id": "modal_title",
            "label": "Modal Title"
          },
          {
            "type": "text",
            "id": "instalment_terms",
            "label": "Instalment terms",
            "info": "Delimiter is | eg. 'text 1 | text 2 | text 3'"
          },
          {
            "type": "text",
            "id": "price_formula",
            "label": "Price Formula"
          },
          {
            "type": "text",
            "id": "price_text",
            "label": "Price Text"
          },
          {
            "type": "richtext",
            "id": "modal_body",
            "label": "Modal Body",
            "info": "To separate paragraphs put 2 consecutive line breaks (Shift+Enter) in between"
          },
          {
            "type": "richtext",
            "id": "modal_footer",
            "label": "Modal Footer"
          }
        ]
      }
    ],
    "max_blocks": 6,
    "presets": [{
      "name": "Top Categories"
    }]
  }
{% endschema %}
