<div class="bnpl_icons">
  Buy Now, Pay Later: {% for block in section.blocks %}
    <a href="#{{ block.id }}" rel="modal:open">{{ block.settings.logo }}</a>
  {% endfor %}
</div>

<script>
  window.bnpl = window.bnpl || {};
  {% for block in section.blocks %}
    {% if block.settings.price_formula != blank %}
      window.bnpl['{{ block.id }}PriceFormula'] = (price) => {{ block.settings.price_formula }};
    {% endif %}
  {% endfor %}

  window.updateInstalments = (cents) => {
    const instalments = document.querySelectorAll('.populate_instalments');
    instalments.forEach(el => {
      try {
        const blockID = el.dataset.blockId;
        console.log(window.bnpl, blockID);
        const priceFormula = window.bnpl[`${ blockID }PriceFormula`];
        console.log(priceFormula);
        el.innerHTML = priceFormula(cents);
      } catch(err) {
        console.error(err);
      }
    });
  }
</script>

{% for block in section.blocks %}
  <div id="{{ block.id }}" class="modal bnpl_modal">
    <h2>{{ block.settings.modal_title }}</h2>

    {{ block.settings.price_text | replace: '[price]', '<span class="populate_instalments" data-block-id="block_id"></span>' | replace: 'block_id', block.id }}

    {{ block.settings.modal_footer }}
    <a href="#" rel="modal:close">Close</a>
  </div>
{% endfor %}

{% schema %}
  {
    "name": "Product Page BNPL",
    "settings": [],
    "blocks": [
      {
       "name": "Payment Option",
       "type": "payment_option",
       "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
          {
            "type": "textarea",
            "id": "logo",
            "label": "SVG Logo",
            "info": "Paste the code of the SVG in here."
          },
          {
            "type": "header",
            "content": "Modal Content"
          },
          {
            "type": "text",
            "id": "modal_title",
            "label": "Modal Title"
          },
          {
            "type": "text",
            "id": "price_formula",
            "label": "Price Formula"
          },
          {
            "type": "text",
            "id": "price_text",
            "label": "Price Text"
          },
          {
            "type": "richtext",
            "id": "modal_footer",
            "label": "Modal Footer"
          }
        ]
      }
    ],
    "max_blocks": 6,
    "presets": [{
      "name": "Top Categories"
    }]
  }
{% endschema %}
