{% assign section_title = section.settings.title %}
{% assign section_collection = section.settings.section_collection %}
{% assign section_linkout_label = 'homepage.sections.featured_collection.section_linkout_label' | t %}

{% assign no_products_message = 'homepage.sections.featured_collection.no_products' | t %}

{% assign products = section_collection.products %}
{% assign product_blocks = section.blocks %}

<div class="section_title_container">
  <h3 class="section_title">{{ section_title }}</h3>
  {% if products.size > 0  %}
  <a class="section_linkout" href="{{ section_collection.url }}">{{section_linkout_label }}</a>
  {% endif %}
</div>

{% if products.size > 0 and products.size < 6 %}
  {%- assign tile_less_max_class = "--less-than-max" -%}
{% endif %}

{% if product_blocks.size > 0 and product_blocks.size < 6 %}
  {%- assign tile_less_max_class = "--less-than-max" -%}
{% endif %}


<div class="six-tile-products {{ tile_less_max_class }}">
  {% if products.size > 0  %}
    {% for product in products limit: 6 %}
      {%- if product.available -%}
        <div class="six-tiles-product">
        {% include 'components-product-tile-thumb-carousel',
          product: product,
          index: forloop.index
          class: "de-ProductTileCarousel-item"
        %}
        </div>
      {%- endif -%}
    {% endfor %}
   {%- elsif product_blocks.size > 0 -%}

    {% for product_block in product_blocks limit: 6 %}
      {% assign temp_product =  product_block.settings.product %}
        <div class="six-tiles-product">
        {% include 'components-product-tile-thumb-carousel',
          product: temp_product,
          index: forloop.index
          class: "de-ProductTileCarousel-item"
        %}
        </div>
    {% endfor %}
   {% else %}
    <span class="no_products">{{ 'homepage.sections.featured_collection.no_products' | t}}</span>
   {% endif %}
</div>

{% schema %}
  {
    "name": "Six Tile Products",
    "tag": "section",
    "class": "six_tile_products section_with_title",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Section Title",
        "default": "Section title here"
      },
      {
        "type": "collection",
        "id": "section_collection",
        "label": "Product Collection",
        "info": "If there are less than 6 products in the collection, there will be whitespaces that will be left."
      }
    ],
    "blocks": [
      {
       "name": "Product",
       "type": "product",
       "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Product"
        }
       ]
      }
    ],
    "max_blocks": 6,
    "presets": [{
      "name": "Six Tile Products"
    }]
  }
{% endschema %}
