<script>
  window.masterStoresVisual = [
    {% for block in section.blocks %}
      {% if block.settings.is_same_hours_weekly == true %}
        {% if block.settings.hours_0_open == 0 and block.settings.hours_0_close == 0 %}
          {% assign new_hours_0_open = 'Closed' %}
          {% assign new_hours_0_close = '' %}
        {% else %}
          {% if block.settings.hours_0_open > 12 %}
            {% assign new_hours_0_open = block.settings.hours_0_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_0_open = block.settings.hours_0_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_0_close > 12 %}
            {% assign new_hours_0_close = block.settings.hours_0_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_0_close = block.settings.hours_0_close | append: ':00am' %}
          {% endif %}
        {% endif %}
        {% capture full_hours %}
          "full_hours":"<li><span class='weekday'>Monday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Tuesday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Wednesday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Thursday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Friday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Satuday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Sunday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li>",{% endcapture %}
      {% else %}
        {% if block.settings.hours_1_open == 0 and block.settings.hours_1_close == 0 %}
          {% assign new_hours_1_open = 'Closed' %}
          {% assign new_hours_1_close = '' %}
        {% else %}
          {% if block.settings.hours_1_open > 12 %}
            {% assign new_hours_1_open = block.settings.hours_1_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_1_open = block.settings.hours_1_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_1_close > 12 %}
            {% assign new_hours_1_close = block.settings.hours_1_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_1_close = block.settings.hours_1_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_2_open == 0 and block.settings.hours_2_close == 0 %}
          {% assign new_hours_2_open = 'Closed' %}
          {% assign new_hours_2_close = '' %}
        {% else %}
          {% if block.settings.hours_2_open > 12 %}
            {% assign new_hours_2_open = block.settings.hours_2_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_2_open = block.settings.hours_2_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_2_close > 12 %}
            {% assign new_hours_2_close = block.settings.hours_2_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_2_close = block.settings.hours_2_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_3_open == 0 and block.settings.hours_3_close == 0 %}
          {% assign new_hours_3_open = 'Closed' %}
          {% assign new_hours_3_close = '' %}
        {% else %}
          {% if block.settings.hours_3_open > 12 %}
            {% assign new_hours_3_open = block.settings.hours_3_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_3_open = block.settings.hours_3_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_3_close > 12 %}
            {% assign new_hours_3_close = block.settings.hours_3_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_3_close = block.settings.hours_3_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_4_open == 0 and block.settings.hours_4_close == 0 %}
          {% assign new_hours_4_open = 'Closed' %}
          {% assign new_hours_4_close = '' %}
        {% else %}
          {% if block.settings.hours_4_open > 12 %}
            {% assign new_hours_4_open = block.settings.hours_4_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_4_open = block.settings.hours_4_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_4_close > 12 %}
            {% assign new_hours_4_close = block.settings.hours_4_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_4_close = block.settings.hours_4_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_5_open == 0 and block.settings.hours_5_close == 0 %}
          {% assign new_hours_5_open = 'Closed' %}
          {% assign new_hours_5_close = '' %}
        {% else %}
          {% if block.settings.hours_5_open > 12 %}
            {% assign new_hours_5_open = block.settings.hours_5_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_5_open = block.settings.hours_5_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_5_close > 12 %}
            {% assign new_hours_5_close = block.settings.hours_5_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_5_close = block.settings.hours_5_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_6_open == 0 and block.settings.hours_6_close == 0 %}
          {% assign new_hours_6_open = 'Closed' %}
          {% assign new_hours_6_close = '' %}
        {% else %}
          {% if block.settings.hours_6_open > 12 %}
            {% assign new_hours_6_open = block.settings.hours_6_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_6_open = block.settings.hours_6_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_6_close > 12 %}
            {% assign new_hours_6_close = block.settings.hours_6_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_6_close = block.settings.hours_6_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_0_open == 0 and block.settings.hours_0_close == 0 %}
          {% assign new_hours_0_open = 'Closed' %}
          {% assign new_hours_0_close = '' %}
        {% else %}
          {% if block.settings.hours_0_open > 12 %}
            {% assign new_hours_0_open = block.settings.hours_0_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_0_open = block.settings.hours_0_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_0_close > 12 %}
            {% assign new_hours_0_close = block.settings.hours_0_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_0_close = block.settings.hours_0_close | append: ':00am' %}
          {% endif %}
        {% endif %}
        {% capture full_hours %}
          "full_hours":"<li><span class='weekday'>Monday</span> <span class='tooltip-hours'>{{ new_hours_1_open }} {{ new_hours_1_close }}</span></li><li><span class='weekday'>Tuesday</span> <span class='tooltip-hours'>{{ new_hours_2_open }} {{ new_hours_2_close }}</span></li><li><span class='weekday'>Wednesday</span> <span class='tooltip-hours'>{{ new_hours_3_open }} {{ new_hours_3_close }}</span></li><li><span class='weekday'>Thursday</span> <span class='tooltip-hours'>{{ new_hours_4_open }} {{ new_hours_4_close }}</span></li><li><span class='weekday'>Friday</span> <span class='tooltip-hours'>{{ new_hours_5_open }} {{ new_hours_5_close }}</span></li><li><span class='weekday'>Satuday</span> <span class='tooltip-hours'>{{ new_hours_6_open }} {{ new_hours_6_close }}</span></li><li><span class='weekday'>Sunday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li>",{% endcapture %}
      {% endif %}
      {% unless block.settings.test_mode == true %}
        {% assign block_config = full_hours %}
        {% assign store_name_handle = block.settings.name | handleize | replace: '-', '' %}
        {% assign block_config = block_config | append: '"address_type":"destination","code":null,"page_info_url":"/pages/store-store_name_handle","title":' %}
        {% assign block_config = block_config | replace: 'store_name_handle', store_name_handle %}

        {% if block.settings.address_type_boolean == false %}
          {% assign block_config = block_config | replace: '"address_type":"destination"', '"address_type":null' %}
        {% endif %}
        {% if block.type == 'visual' %}
          {% assign block_config = block_config | replace: ',"title":', ',"is_visual":true,"title":' %}
        {% endif %}
        {{ block.settings | json | replace: '"title":', block_config }}{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ];
  window.masterStores = [
    {% for block in section.blocks %}
      {% if block.settings.is_same_hours_weekly == true %}
        {% if block.settings.hours_0_open == 0 and block.settings.hours_0_close == 0 %}
          {% assign new_hours_0_open = 'Closed' %}
          {% assign new_hours_0_close = '' %}
        {% else %}
          {% if block.settings.hours_0_open > 12 %}
            {% assign new_hours_0_open = block.settings.hours_0_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_0_open = block.settings.hours_0_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_0_close > 12 %}
            {% assign new_hours_0_close = block.settings.hours_0_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_0_close = block.settings.hours_0_close | append: ':00am' %}
          {% endif %}
        {% endif %}
        {% capture full_hours %}
          "full_hours":"<li><span class='weekday'>Monday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Tuesday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Wednesday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Thursday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Friday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Satuday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li><li><span class='weekday'>Sunday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li>",{% endcapture %}
      {% else %}
        {% if block.settings.hours_1_open == 0 and block.settings.hours_1_close == 0 %}
          {% assign new_hours_1_open = 'Closed' %}
          {% assign new_hours_1_close = '' %}
        {% else %}
          {% if block.settings.hours_1_open > 12 %}
            {% assign new_hours_1_open = block.settings.hours_1_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_1_open = block.settings.hours_1_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_1_close > 12 %}
            {% assign new_hours_1_close = block.settings.hours_1_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_1_close = block.settings.hours_1_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_2_open == 0 and block.settings.hours_2_close == 0 %}
          {% assign new_hours_2_open = 'Closed' %}
          {% assign new_hours_2_close = '' %}
        {% else %}
          {% if block.settings.hours_2_open > 12 %}
            {% assign new_hours_2_open = block.settings.hours_2_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_2_open = block.settings.hours_2_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_2_close > 12 %}
            {% assign new_hours_2_close = block.settings.hours_2_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_2_close = block.settings.hours_2_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_3_open == 0 and block.settings.hours_3_close == 0 %}
          {% assign new_hours_3_open = 'Closed' %}
          {% assign new_hours_3_close = '' %}
        {% else %}
          {% if block.settings.hours_3_open > 12 %}
            {% assign new_hours_3_open = block.settings.hours_3_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_3_open = block.settings.hours_3_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_3_close > 12 %}
            {% assign new_hours_3_close = block.settings.hours_3_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_3_close = block.settings.hours_3_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_4_open == 0 and block.settings.hours_4_close == 0 %}
          {% assign new_hours_4_open = 'Closed' %}
          {% assign new_hours_4_close = '' %}
        {% else %}
          {% if block.settings.hours_4_open > 12 %}
            {% assign new_hours_4_open = block.settings.hours_4_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_4_open = block.settings.hours_4_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_4_close > 12 %}
            {% assign new_hours_4_close = block.settings.hours_4_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_4_close = block.settings.hours_4_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_5_open == 0 and block.settings.hours_5_close == 0 %}
          {% assign new_hours_5_open = 'Closed' %}
          {% assign new_hours_5_close = '' %}
        {% else %}
          {% if block.settings.hours_5_open > 12 %}
            {% assign new_hours_5_open = block.settings.hours_5_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_5_open = block.settings.hours_5_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_5_close > 12 %}
            {% assign new_hours_5_close = block.settings.hours_5_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_5_close = block.settings.hours_5_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_6_open == 0 and block.settings.hours_6_close == 0 %}
          {% assign new_hours_6_open = 'Closed' %}
          {% assign new_hours_6_close = '' %}
        {% else %}
          {% if block.settings.hours_6_open > 12 %}
            {% assign new_hours_6_open = block.settings.hours_6_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_6_open = block.settings.hours_6_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_6_close > 12 %}
            {% assign new_hours_6_close = block.settings.hours_6_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_6_close = block.settings.hours_6_close | append: ':00am' %}
          {% endif %}
        {% endif %}

        {% if block.settings.hours_0_open == 0 and block.settings.hours_0_close == 0 %}
          {% assign new_hours_0_open = 'Closed' %}
          {% assign new_hours_0_close = '' %}
        {% else %}
          {% if block.settings.hours_0_open > 12 %}
            {% assign new_hours_0_open = block.settings.hours_0_open | minus: 12 | append: ':00pm - ' %}
          {% else %}
            {% assign new_hours_0_open = block.settings.hours_0_open | append: ':00am - ' %}
          {% endif %}
          {% if block.settings.hours_0_close > 12 %}
            {% assign new_hours_0_close = block.settings.hours_0_close | minus: 12 | append: ':00pm' %}
          {% else %}
            {% assign new_hours_0_close = block.settings.hours_0_close | append: ':00am' %}
          {% endif %}
        {% endif %}
        {% capture full_hours %}
          "full_hours":"<li><span class='weekday'>Monday</span> <span class='tooltip-hours'>{{ new_hours_1_open }} {{ new_hours_1_close }}</span></li><li><span class='weekday'>Tuesday</span> <span class='tooltip-hours'>{{ new_hours_2_open }} {{ new_hours_2_close }}</span></li><li><span class='weekday'>Wednesday</span> <span class='tooltip-hours'>{{ new_hours_3_open }} {{ new_hours_3_close }}</span></li><li><span class='weekday'>Thursday</span> <span class='tooltip-hours'>{{ new_hours_4_open }} {{ new_hours_4_close }}</span></li><li><span class='weekday'>Friday</span> <span class='tooltip-hours'>{{ new_hours_5_open }} {{ new_hours_5_close }}</span></li><li><span class='weekday'>Satuday</span> <span class='tooltip-hours'>{{ new_hours_6_open }} {{ new_hours_6_close }}</span></li><li><span class='weekday'>Sunday</span> <span class='tooltip-hours'>{{ new_hours_0_open }} {{ new_hours_0_close }}</span></li>",{% endcapture %}
      {% endif %}
      {% unless block.settings.test_mode == true or block.type == 'visual' %}
        {% assign block_config = full_hours %}
        {% assign store_name_handle = block.settings.name | handleize | replace: '-', '' %}
        {% assign block_config = block_config | append: '"address_type":"destination","code":null,"page_info_url":"/pages/store-store_name_handle","title":' %}
        {% assign block_config = block_config | replace: 'store_name_handle', store_name_handle %}

        {% if block.settings.address_type_boolean == false %}
          {% assign block_config = block_config | replace: '"address_type":"destination"', '"address_type":null' %}
        {% endif %}
        {{ block.settings | json | replace: '"title":', block_config }}{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  ]
  window.visualStoresHours = {
    {% for block in section.blocks %}
      {% unless block.settings.test_mode == true %}
        {{ block.settings.id }}: {
          0: [{{ block.settings.hours_0_open }}, {{ block.settings.hours_0_close }}],
          1: [{{ block.settings.hours_1_open }}, {{ block.settings.hours_1_close }}],
          2: [{{ block.settings.hours_2_open }}, {{ block.settings.hours_2_close }}],
          3: [{{ block.settings.hours_3_open }}, {{ block.settings.hours_3_close }}],
          4: [{{ block.settings.hours_4_open }}, {{ block.settings.hours_4_close }}],
          5: [{{ block.settings.hours_5_open }}, {{ block.settings.hours_5_close }}],
          6: [{{ block.settings.hours_6_open }}, {{ block.settings.hours_6_close }}]
        }{% unless forloop.last %},{% endunless %}
      {% endunless %}
    {% endfor %}
  };
  console.log(window.masterStores);
  console.log(window.masterStoresVisual);
  console.log(window.visualStoresHours);
</script>
{% assign master_stores_names = '' %}
{% for block in section.blocks %}
  {% unless block.settings.test_mode == true or block.type == 'visual' %}
    {% unless forloop.first == true %}
      {% assign master_stores_names = master_stores_names | append: '|' %}
    {% endunless %}
    {% assign master_stores_names = master_stores_names | append: block.settings.name %}
  {% endunless %}
{% endfor %}
{% assign master_stores = master_stores_names | split: '|' %}
{% schema %}
  {
    "name": "Stores list",
    "blocks": [
      {
        "type": "store",
        "name": "Store",
        "settings": [
          {
            "type": "header",
            "content": "Store Infos"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Store title",
            "info": "For example: Genesis",
            "default": "Store Name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Descriptive title",
            "info": "For example: Genesis Health and Fitness"
          },
          {
            "type": "text",
            "id": "duplicate",
            "label": "Popup store",
            "info": "Is your store a popup store? If so, please enter the title of a main store and its inventory will be reflected for this popup location. If it's not a popup store, leave it blank."
          },
          {
            "type": "checkbox",
            "id": "test_mode",
            "label": "Test mode",
            "info": "Is your store a test store? If so, your store won't appear on your website."
          },
          {
            "type": "text",
            "id": "street1",
            "label": "Street",
            "default": "2/50 Lonsdale St"
          },
          {
            "type": "text",
            "id": "city",
            "label": "City"
          },
          {
            "type": "text",
            "id": "zip",
            "label": "Zipcode",
            "default": "3000"
          },
          {
            "type": "select",
            "id": "state",
            "options": [
              { "value": "NSW", "label": "New South Wales" },
              { "value": "QLD", "label": "Queensland" },
              { "value": "SA", "label": "South Australia" },
              { "value": "TAS", "label": "Tasmania" },
              { "value": "VIC", "label": "Victoria" },
              { "value": "WA", "label": "Western Australia" },
              { "value": "ACT", "label": "Australian Capital Territory" },
              { "value": "NT", "label": "Northern Territory" }
            ],
            "label": "State"
          },
          {
            "type": "select",
            "id": "country",
            "options": [
              { "value": "AU", "label": "Australia" }
            ],
            "label": "Country"
          },
          {
            "type": "image_picker",
            "id": "checkout_image",
            "label": "Checkout Map",
            "info": "Choose the image to display on the checkout page to show the map with the selected store."
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "customer.service@decathlon.com"
          },
          {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number",
            "default": "(02) 9157 5799"
          },
          {
            "type": "select",
            "id": "company",
            "options": [
              { "value": "Decathlon", "label": "Decathlon" }
            ],
            "label": "Company"
          },
          {
            "type": "text",
            "id": "ready",
            "label": "Promise",
            "default": "Free delivery in 24h<br\/>We will deliver at 12 pm everyday",
            "info": "Delivery promise to be displayed on product page and checkout."
          },
          {
            "type": "text",
            "id": "id",
            "label": "ID",
            "info": "Each store ID should be unique"
          },
          {
            "type": "text",
            "id": "street2",
            "label": "Street (second line)",
            "default": "Open 9am-9pm"
          },
          {
            "type": "header",
            "content": "Store Hours",
            "info": "13 - 24 is equivalent to 1 - 12 PM, [9, 19] is equivalent to [9am, 7pm]"
          },
          {
            "type": "checkbox",
            "id": "tooltip_hours",
            "label": "Tootlips available",
            "info": "Tick the chekbox if to display a tooltip for full store hours.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "is_same_hours_weekly",
            "label": "Are the stores hours the same everyday?"
          },
          {
            "type": "range",
            "id": "hours_0_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Sunday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_0_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Sunday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_1_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Monday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_1_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Monday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_2_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Tuesday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_2_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Tuesday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_3_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Wednesday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_3_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Wednesday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_4_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Thursday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_4_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Thursday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_5_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Friday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_5_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Friday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_6_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Saturday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_6_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Saturday store closing at",
            "default": 21
          },
          {
            "type": "text",
            "id": "announcement",
            "label": "Store annoucement",
            "info": "It will be displayed at the bottom of the store hours tooltip"
          },
          {
            "type": "header",
            "content": "Not In Use"
          },
          {
            "type": "checkbox",
            "id": "address_type_boolean",
            "label": "Address type",
            "info": "Tick the chekbox if your address type is destination, untick it if it's null."
          },
          {
            "type": "checkbox",
            "id": "is_residential",
            "label": "Is residential?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "is_warehouse",
            "label": "Is warehouse?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "validated",
            "label": "Validated",
            "default": false
          }
        ]
      },
      {
        "type": "visual",
        "name": "Visual store",
        "settings": [
          {
            "type": "header",
            "content": "Store Infos"
          },
          {
            "type": "text",
            "id": "name",
            "label": "Store title",
            "info": "For example: Genesis",
            "default": "Store Name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Descriptive title",
            "info": "For example: Genesis Health and Fitness"
          },
          {
            "type": "checkbox",
            "id": "test_mode",
            "label": "Test mode",
            "info": "Is your store a test store? If so, your store won't appear on your website."
          },
          {
            "type": "text",
            "id": "street1",
            "label": "Street",
            "default": "2/50 Lonsdale St"
          },
          {
            "type": "text",
            "id": "city",
            "label": "City"
          },
          {
            "type": "text",
            "id": "zip",
            "label": "Zipcode",
            "default": "3000"
          },
          {
            "type": "select",
            "id": "state",
            "options": [
              { "value": "NSW", "label": "New South Wales" },
              { "value": "QLD", "label": "Queensland" },
              { "value": "SA", "label": "South Australia" },
              { "value": "TAS", "label": "Tasmania" },
              { "value": "VIC", "label": "Victoria" },
              { "value": "WA", "label": "Western Australia" },
              { "value": "ACT", "label": "Australian Capital Territory" },
              { "value": "NT", "label": "Northern Territory" }
            ],
            "label": "State"
          },
          {
            "type": "select",
            "id": "country",
            "options": [
              { "value": "AU", "label": "Australia" }
            ],
            "label": "Country"
          },
          {
            "type": "select",
            "id": "company",
            "options": [
              { "value": "Decathlon", "label": "Decathlon" }
            ],
            "label": "Company"
          },
          {
            "type": "text",
            "id": "id",
            "label": "ID",
            "info": "Each store ID should be unique"
          },
          {
            "type": "text",
            "id": "fullHours",
            "label": "Full hours",
            "default": "<li>Mondays to Thursdays: 6 am to 9 pm<\/li><li>Fridays: 6 am to 8 pm<\/li><li>Saturdays: 8 am to 12 pm<\/li><li>Sundays and Public Holidays: Closed<\/li>",
            "info": "What will appear in your store hours tooltip"
          },
          {
            "type": "text",
            "id": "street2",
            "label": "Street (second line)",
            "default": "Open 9am-9pm"
          },
          {
            "type": "header",
            "content": "Store Hours",
            "info": "13 - 24 is equivalent to 1 - 12 PM, [9, 19] is equivalent to [9am, 7pm]"
          },
          {
            "type": "checkbox",
            "id": "tooltip_hours",
            "label": "Tootlips available",
            "info": "Tick the chekbox if to display a tooltip for full store hours.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "is_same_hours_weekly",
            "label": "Are the stores hours the same everyday?"
          },
          {
            "type": "range",
            "id": "hours_0_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Sunday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_0_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Sunday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_1_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Monday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_1_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Monday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_2_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Tuesday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_2_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Tuesday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_3_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Wednesday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_3_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Wednesday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_4_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Thursday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_4_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Thursday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_5_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Friday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_5_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Friday store closing at",
            "default": 21
          },
          {
            "type": "range",
            "id": "hours_6_open",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Saturday store opening at",
            "default": 9
          },
          {
            "type": "range",
            "id": "hours_6_close",
            "min": 0,
            "max": 24,
            "step": 1,
            "unit": "h",
            "label": "Saturday store closing at",
            "default": 21
          },
          {
            "type": "text",
            "id": "announcement",
            "label": "Store annoucement",
            "info": "It will be displayed at the bottom of the store hours tooltip"
          },
          {
            "type": "header",
            "content": "Not In Use"
          },
          {
            "type": "checkbox",
            "id": "address_type_boolean",
            "label": "Address type",
            "info": "Tick the chekbox if your address type is destination, untick it if it's null."
          },
          {
            "type": "checkbox",
            "id": "is_residential",
            "label": "Is residential?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "is_warehouse",
            "label": "Is warehouse?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "validated",
            "label": "Validated",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Stores list",
        "category": "Stores list"
      }
    ]
  }
{% endschema %}


<!-- Nice to have: 
  - if the descriptive title is blank, it should use the title.
  - make the page info for store finder use the handle of the store, not to be hardcoded
  - street2 & full hours will need to be either removed or refactored
  - consider the opening stores to appear only on the store finder
 -->
