<script>
  // First, just chuck all the data into one object. We can remove or alter anything we want, but we'll start from the largest dataset, which is the easiest to produce - just the settings, in an object.
  window.masterStores = [
    {% for block in section.blocks %}
      {{ block.settings | json }}{% unless forloop.last %},{% endunless %}
    {% endfor %}
  ];

  window.onlineInventoryStores = masterStores.filter(function(store) {
    return store.online_inventory_source && !store.duplicate;
  }).filter(function(store) {
    return !store.test;
  }).map(function(store) {
    return store.name;
  });

  window.ccStores = masterStores.filter(function(store) {
    return store.enable_c_c;
  }).filter(function(store) {
    return !store.test;
  }).map(function(store) {
    return store.name;
  });

  // Convert military time to human-readable am/pm time
  function militaryTo12hFormat(time) {
    var militaryHours = Number(time.substring(0, 2));
    var militaryMinutes = time.substring(2, 4);
    var hours = ((militaryHours + 11) % 12) + 1;
    var amOrPm = (militaryHours < 12 || militaryHours === 24) ? 'am' : 'pm';
    return hours + ':' + militaryMinutes + ' ' + amOrPm;
  }

  // Convert an opening and closing time into the human-readable label.
  function timeToDisplay(open, close) {
    if (open === '0000' && close === '0000') {
      return 'Closed';
    } else {
      return militaryTo12hFormat(open) + ' - ' + militaryTo12hFormat(close);
    }
  }

  // Convert an array of hours per day into a the HTML expected in the tooltip.
  function fullHours(weekHours) {
    var refWeekHours = weekHours.map(function(dayHours) {
      return JSON.stringify(dayHours);
    });
    var hoursOrder = [1, 2, 3, 4, 5, 6, 0];

    // sort weekHours into the chronological Monday - Sunday order before using the array.
    const sortedWeekHours = [...weekHours].sort(function(a, b) {
      return hoursOrder.indexOf(refWeekHours.indexOf(JSON.stringify(a))) - hoursOrder.indexOf(refWeekHours.indexOf(JSON.stringify(b)));
    });

    // the map function allows us to perform a similar action on each item in the array, such as adding a bunch of identical html.
    return sortedWeekHours.map(function(dayHours) {
      return '<li><span class="weekday">' + dayHours.day + '</span> <span class="tooltip-hours">' + dayHours.display +'</span></li>';
    }).join('');
  }

  // For each block, add everything extra we need that isn't in the settings
  {% for block in section.blocks %}
    var store = window.masterStores[{{ forloop.index0 }}];

    var days = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
    store.hours = [];
    for (var i = 0; i < 7; i++) {
      var day = days[i];
      var openHours = store['hours_' + i + '_open'];
      var closeHours = store['hours_' + i + '_close'];

      // For the stores with the same hours everyday, only use Sunday hours for the whole week
      {% if block.settings.is_same_hours_weekly == true %}
        var openHours = store['hours_0_open'];
        var closeHours = store['hours_0_close'];
      {% endif %}

      // each day is at its index in the week, in the array - this means we can reference Wednesday with hours[3], for instance, without having to know which one Wednesday is.
      store.hours.push({
        day: day,
        open: openHours,
        close: closeHours,
        display: timeToDisplay(openHours, closeHours)
      });
    };
    store.fullHours = fullHours(store.hours);

    {% unless block.settings.test_mode %}
      {% assign store_page_name = block.settings.name | handleize | replace: '-', '' %}
      store.page_info_url = '/pages/store-{{ store_page_name }}';
    {% endunless %}

    store.tag_exclusion_1 = {{ block.settings.tag_exclusion_1 | json }};
    store.tag_exclusion_message_1 = {{ block.settings.tag_exclusion_message_1 | newline_to_br | json }};
    store.tag_exclusion_2 = {{ block.settings.tag_exclusion_2 | json }};
    store.tag_exclusion_message_2 = {{ block.settings.tag_exclusion_message_2 | newline_to_br | json }};
    store.tag_exclusion_3 = {{ block.settings.tag_exclusion_3 | json }};
    store.tag_exclusion_message_3 = {{ block.settings.tag_exclusion_message_3 | newline_to_br | json }};
    store.tag_exclusion_4 = {{ block.settings.tag_exclusion_4 | json }};
    store.tag_exclusion_message_4 = {{ block.settings.tag_exclusion_message_4 | newline_to_br | json }};
    store.tag_exclusion_5 = {{ block.settings.tag_exclusion_5 | json }};
    store.tag_exclusion_message_5 = {{ block.settings.tag_exclusion_message_5 | newline_to_br | json }};
  {% endfor %}

  window.masterStoresVisual = JSON.parse(JSON.stringify(window.masterStores));
  // the filter function allows us to set a subset of an array without looping through all the items one by one.
  window.masterStores = window.masterStores.filter(function(store) {
    return !store.test_mode;
  });

  // console.log(window.masterStores);
  // console.log(window.masterStoresVisual);
</script>

{% assign master_stores_names = '' %}
{% for block in section.blocks %}
  {% unless block.settings.test_mode == true or block.type == 'visual' %}
    {% unless forloop.first == true %}
      {% assign master_stores_names = master_stores_names | append: '|' %}
    {% endunless %}
    {% assign master_stores_names = master_stores_names | append: block.settings.name %}
  {% endunless %}
{% endfor %}
{% assign master_stores = master_stores_names | split: '|' %}

{% schema %}
  {
    "name": "Stores list",
    "blocks": [
      {
        "type": "store",
        "name": "Master store",
        "settings": [
          {
            "type": "header",
            "content": "Store Info",
            "info": "Customers are able to select a store as their favourite store, and as a pickup location."
          },
          {
            "type": "text",
            "id": "name",
            "label": "Store Name",
            "info": "For example: Genesis",
            "default": "Store Name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Descriptive title",
            "info": "For example: Genesis Health and Fitness"
          },
          {
            "type": "checkbox",
            "id": "online_inventory_source",
            "label": "Does this location contribute to online inventory?",
            "info": "If so, products available at this location will be shown as available for shipping. Don't enable this for popup stores.",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_c_c",
            "label": "Does this location offer Click & Collect?",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_stock_visibility",
            "label": "Toggle stock visibility?",
            "default": true
          },
          {
            "type": "text",
            "id": "duplicate",
            "label": "Duplicate inventory from another store?",
            "info": "If your store is a popup store, please enter the title of a main store and its inventory will be reflected for this popup location. If it's not a popup store, leave this field blank."
          },
          {
            "type": "checkbox",
            "id": "test_mode",
            "label": "Test mode?",
            "info": "Is your store a test store? If so, your store won't appear on your website."
          },
          {
            "type": "text",
            "id": "street1",
            "label": "Street address",
            "info": "Enter an adress without suburb & postcode."
          },
          {
            "type": "text",
            "id": "city",
            "label": "Suburb"
          },
          {
            "type": "text",
            "id": "zip",
            "label": "Postcode",
            "default": "3000",
            "info": "Australian postcodes consist of four digits."
          },
          {
            "type": "select",
            "id": "state",
            "options": [
              { "value": "NSW", "label": "New South Wales" },
              { "value": "QLD", "label": "Queensland" },
              { "value": "SA", "label": "South Australia" },
              { "value": "TAS", "label": "Tasmania" },
              { "value": "VIC", "label": "Victoria" },
              { "value": "WA", "label": "Western Australia" },
              { "value": "ACT", "label": "Australian Capital Territory" },
              { "value": "NT", "label": "Northern Territory" }
            ],
            "label": "State"
          },
          {
            "type": "select",
            "id": "country",
            "options": [
              { "value": "AU", "label": "Australia" }
            ],
            "label": "Country",
            "info": "Only Australia is available"
          },
          {
            "type": "image_picker",
            "id": "checkout_image",
            "label": "Checkout Map",
            "info": "Choose the image to display on the checkout page to show the map with the selected store."
          },
          {
            "type": "text",
            "id": "email",
            "label": "Email",
            "default": "customer.service@decathlon.com"
          },
          {
            "type": "text",
            "id": "phone_number",
            "label": "Phone Number",
            "default": "(02) 9157 5799"
          },
          {
            "type": "select",
            "id": "company",
            "options": [
              { "value": "Decathlon", "label": "Decathlon" }
            ],
            "label": "Company",
            "info": "Only Decathlon is available."
          },
          {
            "type": "text",
            "id": "ready",
            "label": "Product Page Promise",
            "default": "Ready to collect in 2 hours",
            "info": "Delivery promise to be displayed on Product page."
          },
          {
            "type": "text",
            "id": "ready_checkout",
            "label": "Checkout Promise",
            "default": "Pickup: Ready in 2 Hours",
            "info": "Delivery promise to be displayed on Checkout."
          },
          {
            "type": "text",
            "id": "id",
            "label": "ID",
            "info": "Enter an ID for your store. Each store ID should be unique."
          },
          {
            "type": "header",
            "content": "Store Hours",
            "info": "Set times with military format e.g. 0930 for 9:30"
          },
          {
            "type": "checkbox",
            "id": "tooltip_hours",
            "label": "Tootlips available",
            "info": "Tick the chekbox if to display a tooltip for full store hours.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "is_same_hours_weekly",
            "label": "Are the stores hours the same everyday?",
            "info": "If so, you only need to set the hours for Sunday."
          },
          {
            "type": "text",
            "id": "hours_0_open",
            "label": "Sunday store opening at",
            "info": "If your store has the same hours every day, the stores hours will rely only on Sunday hours.",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_0_close",
            "label": "Sunday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_1_open",
            "label": "Monday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_1_close",
            "label": "Monday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_2_open",
            "label": "Tuesday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_2_close",
            "label": "Tuesday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_3_open",
            "label": "Wednesday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_3_close",
            "label": "Wednesday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_4_open",
            "label": "Thursday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_4_close",
            "label": "Thursday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_5_open",
            "label": "Friday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_5_close",
            "label": "Friday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_6_open",
            "label": "Saturday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_6_close",
            "label": "Saturday store closing at",
            "default": "2100"
          },
          {
            "type": "richtext",
            "id": "announcement",
            "label": "Announcement",
            "info": "(Optional) This copy will be displayed at the bottom of the store hours tooltip."
          },
          {
            "type": "textarea",
            "id": "email_confirmation_message",
            "label": "Email confirmation message",
            "info": "(Optional - Limit to 256 characters with spaces.) This will show a message in the email confirmation of customers ordering from this store."
          },
          {
            "type": "header",
            "content": "Tag Exclusions",
            "info": "Products with these tags will appear as unavailable at this location, and the set message will show."
          },
          {
            "type": "text",
            "id": "tag_exclusion_1",
            "label": "Tag 1"
          },
          {
            "type": "textarea",
            "id": "tag_exclusion_message_1",
            "label": "Message 1"
          },
          {
            "type": "text",
            "id": "tag_exclusion_2",
            "label": "Tag 2"
          },
          {
            "type": "textarea",
            "id": "tag_exclusion_message_2",
            "label": "Message 2"
          },
          {
            "type": "text",
            "id": "tag_exclusion_3",
            "label": "Tag 3"
          },
          {
            "type": "textarea",
            "id": "tag_exclusion_message_3",
            "label": "Message 3"
          },
          {
            "type": "text",
            "id": "tag_exclusion_4",
            "label": "Tag 4"
          },
          {
            "type": "textarea",
            "id": "tag_exclusion_message_4",
            "label": "Message 4"
          },
          {
            "type": "text",
            "id": "tag_exclusion_5",
            "label": "Tag 5"
          },
          {
            "type": "textarea",
            "id": "tag_exclusion_message_5",
            "label": "Message 5"
          },
          {
            "type": "header",
            "content": "Not In Use",
            "info": "Nothing needs to be updated in this section."
          },
          {
            "type": "checkbox",
            "id": "address_type_boolean",
            "label": "Address type",
            "default": true,
            "info": "Tick the chekbox if your address type is destination, untick it if it's null."
          },
          {
            "type": "checkbox",
            "id": "is_residential",
            "label": "Is residential?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "is_warehouse",
            "label": "Is warehouse?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "validated",
            "label": "Validated",
            "default": false
          }
        ]
      },
      {
        "type": "visual",
        "name": "Visual store",
        "settings": [
          {
            "type": "header",
            "content": "Visual store Infos",
            "info": "Visual stores will only appear on the store finder page. These stores can’t be selected as favourite store or pickup location."
          },
          {
            "type": "text",
            "id": "name",
            "label": "Store title",
            "info": "For example: Genesis",
            "default": "Store Name"
          },
          {
            "type": "text",
            "id": "title",
            "label": "Descriptive title",
            "info": "For example: Genesis Health and Fitness"
          },
          {
            "type": "checkbox",
            "id": "test_mode",
            "label": "Test mode?",
            "info": "Is your store a test store? If so, your store won't appear on your website."
          },
          {
            "type": "text",
            "id": "street1",
            "label": "Street address",
            "info": "Enter an adress without suburb & postcode."
          },
          {
            "type": "text",
            "id": "city",
            "label": "Suburb"
          },
          {
            "type": "text",
            "id": "zip",
            "label": "Postcode",
            "default": "3000",
            "info": "Australian postcodes consist of four digits."
          },
          {
            "type": "select",
            "id": "state",
            "options": [
              { "value": "NSW", "label": "New South Wales" },
              { "value": "QLD", "label": "Queensland" },
              { "value": "SA", "label": "South Australia" },
              { "value": "TAS", "label": "Tasmania" },
              { "value": "VIC", "label": "Victoria" },
              { "value": "WA", "label": "Western Australia" },
              { "value": "ACT", "label": "Australian Capital Territory" },
              { "value": "NT", "label": "Northern Territory" }
            ],
            "label": "State"
          },
          {
            "type": "select",
            "id": "country",
            "options": [
              { "value": "AU", "label": "Australia" }
            ],
            "label": "Country",
            "info": "Only Australia is available."
          },
          {
            "type": "select",
            "id": "company",
            "options": [
              { "value": "Decathlon", "label": "Decathlon" }
            ],
            "label": "Company",
            "info": "Only Decathlon is available."
          },
          {
            "type": "text",
            "id": "id",
            "label": "ID",
            "info": "Enter an ID for your store. Each store ID should be unique."
          },
          {
            "type": "header",
            "content": "Store Hours",
            "info": "Set times with military format e.g. 0930 for 9:30"
          },
          {
            "type": "checkbox",
            "id": "tooltip_hours",
            "label": "Tootlips available",
            "info": "Tick the chekbox if to display a tooltip for full store hours.",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "is_same_hours_weekly",
            "label": "Are the stores hours the same everyday?",
            "info": "If so, you only need to set the opening for Sunday."
          },
          {
            "type": "text",
            "id": "hours_0_open",
            "label": "Sunday store opening at",
            "default": "0900",
            "info": "If your store has the same hours every day, the stores hours will rely only on Sunday opening hours."
          },
          {
            "type": "text",
            "id": "hours_0_close",
            "label": "Sunday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_1_open",
            "label": "Monday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_1_close",
            "label": "Monday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_2_open",
            "label": "Tuesday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_2_close",
            "label": "Tuesday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_3_open",
            "label": "Wednesday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_3_close",
            "label": "Wednesday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_4_open",
            "label": "Thursday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_4_close",
            "label": "Thursday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_5_open",
            "label": "Friday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_5_close",
            "label": "Friday store closing at",
            "default": "2100"
          },
          {
            "type": "text",
            "id": "hours_6_open",
            "label": "Saturday store opening at",
            "default": "0900"
          },
          {
            "type": "text",
            "id": "hours_6_close",
            "label": "Saturday store closing at",
            "default": "2100"
          },
          {
            "type": "richtext",
            "id": "announcement",
            "label": "Announcement",
            "info": "(Optional) This copy will be displayed at the bottom of the store hours tooltip."
          },
          {
            "type": "textarea",
            "id": "email_confirmation_message",
            "label": "Email confirmation message",
            "info": "(Optional - Limit to 256 characters with spaces.) This will show a message in the email confirmation of customers ordering from this store."
          },
          {
            "type": "header",
            "content": "Not In Use",
            "info": "Nothing needs to be updated in this section."
          },
          {
            "type": "checkbox",
            "id": "address_type_boolean",
            "label": "Address type",
            "default": true,
            "info": "Tick the chekbox if your address type is destination, untick it if it's null."
          },
          {
            "type": "checkbox",
            "id": "is_residential",
            "label": "Is residential?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "is_warehouse",
            "label": "Is warehouse?",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "validated",
            "label": "Validated",
            "default": false
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Stores list",
        "category": "Stores list"
      }
    ]
  }
{% endschema %}


<!-- Nice to have: 
  - if the descriptive title is blank, it should use the title.
  - consider the opening stores to appear only on the store finder
 -->
