{% comment %}
  See the older product-grid-item/rating.liquid for reference
  @TODO - Ask about Adept Mind parts of that snippet
{% endcomment %}

{% comment %}
  The rating variable should be a number between 0 and 5 inclusive.
  The number of stars filled in will be the ceiling integer of the rating.
{% endcomment %}

{% comment %}
  Add zero to convert the string to a number, which is stored as a string
  because metafields can't be floats
{% endcomment %}
{% assign product_rating = product.metafields.ratings.product_rating | plus: 0 %}
{% assign rating_average = product_rating | times: 20 %}
{% assign total_item_count = product.metafields.reviews.recent_reviews_object.total_item_count | plus: 0 %}

<span class="de-StarRating de-u-spaceRight06 {{ star_rating_class }}">
  <span class="de-StarRating-fill" style="width: {{ rating_average }}%"></span>
</span>
<span class="de-u-textMedium de-u-textSelectNone {{ item_count_class }}">
  {{ total_item_count }}
  <span class="de-u-hidden {{ reviews_text_class }}">
    {{ total_item_count | pluralize: 'Review', 'Reviews' }}
  </span>
</span>
