{% comment %} Customer Fulfillment Information {% endcomment %}

{% comment %} Check if product contains a tag for bulk shipping and safety {% endcomment %}
{% assign bulk_shipping = false %}
{% assign safety = false %}
{% for tag in product.tags %}
  {% if tag contains 'Shipping: Bulk' %}
    {% assign bulk_shipping = true %}
  {% elsif tag contains 'Returns: Safety' %}
    {% assign safety = true %}
  {% endif %}
{% endfor %}

<div class="de-ProductFulfillment">
  <div class="de-u-padBottom06">
    <div class="de-u-flex de-ProductFulfillment-option">
      {% include 'assets-icons-returns'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}

      <p class="de-u-spaceNone de-u-textMedium">
        {% assign use_fallback_label = false %}

        {% if safety %}

          {% if bulk_shipping %}
            {% if settings.returns_policy_bulky_and_safety %}
              {{ settings.returns_policy_bulky_and_safety }}
            {% else %}
              {% assign use_fallback_label = true %}
            {% endif %}

          {% else %}
            {% if settings.returns_policy_safety %}
              {{ settings.returns_policy_safety }}
            {% else %}
              {% assign use_fallback_label = true %}
            {% endif %}
          {% endif %}

        {% else %}
          {% if bulk_shipping %}
            {% if settings.returns_policy_bulky %}
              {{ settings.returns_policy_bulky }}
            {% else %}
              {% assign use_fallback_label = true %}
            {% endif %}
          {% else %}
            {% if settings.returns_policy_default %}
              {{ settings.returns_policy_default }}
            {% else %}
              {% assign use_fallback_label = true %}
            {% endif %}
          {% endif %}

        {% endif %}

        {% if use_fallback_label %}
          {% unless bulk_shipping %}
            {% if settings.product_returns_text != blank %}
              {{ settings.product_returns_text }}
            {% else %}
              <span class="de-u-textBold">Free</span> returns
            {% endif %}
          {% else %}
            {% if settings.product_bulk_returns_text != blank %}
              {{ settings.product_bulk_returns_text }}
            {% else %}
              See our
              <a href="/pages/returns-and-refunds-policy"
                  class="de-u-textMedium de-u-textSelectNone js-de-Drawer-toggle"
                  data-drawer-id="returns-policy-drawer"
                  data-drawer-toggle-aria-label="Open the returns policy dialog."
                  data-drawer-action="open"
                  data-test="returns-policy-toggle"
                >
                return policy
              </a>
              for heavy products
            {% endif %}
          {% endunless %}
        {% endif %}
        
      </p>
    </div>

    <div class="de-u-flex de-ProductFulfillment-option">
      {% include 'assets-icons-delivery-truck'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}

      <p class="de-u-spaceNone de-u-textMedium">
        {% unless bulk_shipping %}
          {% if settings.product_shipping_text != blank %}
            {{ settings.product_shipping_text }}
          {% else %}
            {% include 'components-free-shipping-info' %}
          {% endif %}
        {% else %}
          {% if settings.product_bulk_shipping_text != blank %}
            {{ settings.product_bulk_shipping_text }}
          {% else %}
            See shipping rate at checkout
          {% endif %}
        {% endunless %}
      </p>
    </div>

    {% if settings.pickup_display == 'us' %}
      <div class="de-u-flex de-u-flexAlignItemsCenter js-de-ProductFulfillment-pickupOptions de-u-ProductFulfillment-option de-u-hidden">
        {% include 'assets-icons-store'
          with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
        <div>
          <p class="de-u-spaceNone de-u-textMedium"><span
          class="de-u-textBold">Free</span> pickup <span class="js-de-ProductFulfillment-pickupDay"></span></p>
          <p class="de-u-spaceNone js-de-ProductFulfillment-pickupDetails de-u-hidden">
            <span class="js-de-ProductFulfillment-pickupStore">
              <span class="de-u-textMedium js-de-ProductFulfillment-pickupCity">San Francisco</span>, <span class="js-de-ProductFulfillment-pickupAddress">735 Market St.</span>
            </span>
            <a href="/pages/store-finder"
               class="de-u-textMedium de-u-textSelectNone
                      de-u-spaceLeft06 js-de-Drawer-toggle"
               data-drawer-id="store-pickup-options-drawer"
               data-drawer-toggle-aria-label="Open the store pickup options dialog."
               data-drawer-action="open"
               data-test="store-pickup-options-toggle"
              >
              Options
            </a>
          </p>
          <p class="js-de-ProductFulfillment-selectForOptionsMessage de-u-spaceNone">Select an available {{ 'products.options.color' | t }} and {{ 'products.options.size' | t }} to see options.</p>
        </div>
      </div>
    {% endif %}
  </div>
</div>
