<div class="product-inventory-locations">
  <div class="de-u-padBottom06">
    <div class="de-u-flex">
      {% include 'assets-icons-store'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}
      <p class="de-u-spaceNone de-u-textMedium locs-collapse" data-collapse="inventoryLocations">
        <button class="de-collapse-trigger">{{ 'product_locations.button_title' | t }} {% include 'assets-icons-chevron-down' with class: 'de-Icon de-u-spaceLeft05' %}</button>
      </p>
    </div>
  </div>
  <div class="de-u-padBottom06 de-collapse" id="inventoryLocations">
    <div class="inventory-locations" id="inventoryLocs">
      
      {% comment %} Displays favourite store - removed for the moment
      <div class="locs-row de-u-textBold">
        {% include 'assets-icons-flag'
        with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
        <span v-if="favStore && favStore.name">Favourite Store: <span v-text="favStore.name"></span> <a class="de-u-spaceLeft05" href="/pages/store-finder" target="_blank">Change</a></span>
        <span v-else><a class="de-u-spaceLeft05" href="/pages/store-finder">Select your favourite store</a></span>
      </div>
      {% endcomment %}

      {% raw %}
        <div class="locs-row" v-if="id && id !== 'demo'">
          <div class="t-table">
            <div class="t-row">
              <div class="t-cell title">
                {% endraw %}
                  {% include 'assets-icons-truck'
                  with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
                {% raw %}
                <span v-text="delivery.name"></span></div>
              <div class="t-cell ready" v-text="delivery.ready"></div>
              <div class="t-cell availability" v-bind:class="delivery.availability.class" v-text="delivery.availability.text"></div>
              <div class="t-cell hours" v-text="delivery.hours">
              </div>
            </div>
          </div>
        </div>
      {% endraw %}

      {% raw %}
        <div class="locs-row de-u-textBold" v-if="id && id !== 'demo'">
      {% endraw %}
        {% include 'assets-icons-location'
        with class: 'de-u-textBlack de-Icon de-u-spaceRight06' %}
        {{ 'product_locations.table_title' | t }}
      </div>

      {% raw %}
        <div v-if="id === 'demo'" class="locs-row">
          <div class="h5 locs-intruction">
            <img src="{% endraw %}{{ 'decathlon-loader.gif' | asset_url }}{% raw %}">
            {% endraw %}{{ 'product_locations.loading' | t }}{% raw %}
          </div>
        </div>
        <div class="t-table" v-else-if="id" id="locsTable">
          <div class="t-row" v-for="location in locations">
            <div class="t-cell title"><span v-text="location.title"></span><span v-if="favStore && location.name === favStore.name">{% endraw %}{% include 'assets-icons-flag' with class: 'de-u-textBlack de-Icon de-u-spaceLeft06' %}{% raw %}</span></div>
            <div class="t-cell ready" v-html="location.ready"></div>
            <div class="t-cell availability" v-bind:class="location.availability.class" v-text="location.availability.text"></div>
            <div class="t-cell hours tooltipOpener" v-if="location.fullHours" v-text="location.hours"></div>
            <div class="t-cell hours" v-else v-text="location.hours"></div>
            <div class="hours-tooltip" v-if="location.fullHours">
              <ul class="tooltip-content" v-html="location.fullHours"></ul>
            </div>
          </div>
        </div>
        <div v-else class="locs-row">
          <div class="h5 locs-intruction">{% endraw %}{{ 'product_locations.select_a_size' | t }}{% raw %}</div>
        </div>
      {% endraw %}

    </div>
  </div>
</div>
