<svg viewBox="0 0 133.36028 24" width="133.36028" height="24" role="img" class="{{class}}" 
  {% if data_gtm_event  %}data-gtm-event="{{ data_gtm_event }}"{% endif %}
  {% if data_gtm_id %}data-gtm-id="{{ data_gtm_id }}"{% endif %}
  {% if data_gtm_category %}data-gtm-category="{{ data_gtm_category }}"{% endif %}
  {% if data_gtm_delegate %}data-gtm-delegate="{{ data_gtm_delegate }}"{% endif %}
  {% if data_gtm_actions %}data-gtm-actions="{{ data_gtm_actions }}"{% endif %}
>
  <title>Decathlon Inesis</title>
  <path d="M84.51839,6.70636h2.2289V17.2543h-2.2289Z"/>
  <path d="M98.52112,17.55586l-6.22125-6.14914V17.2543H90.13V6.40481l6.24747,6.11636V6.70636h2.1699Z"/>
  <path d="M101.9038,6.70636h6.85714V8.75171H104.1327v2.17645h4.08413V12.9735H104.1327V15.209h4.62824V17.2543H101.9038Z"/>
  <path d="M114.73636,6.55559a9.50553,9.50553,0,0,1,3.12045.54411v2.124a8.555,8.555,0,0,0-3.10078-.65556c-.98334,0-1.43568.31467-1.43568.87845,0,1.89456,5.00847.96367,5.00847,4.68724,0,1.96668-1.44879,3.2778-3.93335,3.2778a9.49267,9.49267,0,0,1-3.16635-.60312V14.678a8.72552,8.72552,0,0,0,3.27779.69489c1.04234,0,1.55367-.38023,1.55367-1.05545,0-1.90112-5.00191-.81289-5.00191-4.661C111.09146,7.74215,112.55335,6.55559,114.73636,6.55559Z"/>
  <path d="M121.04283,6.70636h2.21579V17.2543h-2.22889Z"/>
  <path d="M129.81421,6.55559a9.50553,9.50553,0,0,1,3.12045.54411v2.124a8.55508,8.55508,0,0,0-3.10079-.65556c-.98334,0-1.43567.31467-1.43567.87845,0,1.89456,5.00846.96367,5.00846,4.68724,0,1.96668-1.44878,3.2778-3.93335,3.2778a9.49277,9.49277,0,0,1-3.16635-.60312V14.678a8.72561,8.72561,0,0,0,3.2778.69489c1.04233,0,1.55367-.38023,1.55367-1.05545,0-1.90112-5.00192-.81289-5.00192-4.661C126.12341,7.74215,127.58531,6.55559,129.81421,6.55559Z"/>
  <path d="M27.66179,6.66048l-3.99235,6.73914A3.20568,3.20568,0,0,1,21.198,14.80907a2.92379,2.92379,0,0,1-2.9173-2.93027l.00006-.01319a2.87134,2.87134,0,0,1,2.85168-2.8189,3.61868,3.61868,0,0,1,2.3469,1.04234,3.3631,3.3631,0,0,1,.69489.73422l1.46189-2.45179a4.49078,4.49078,0,0,0-.71455-.60967,5.9001,5.9001,0,0,0-3.74324-1.35045A5.605,5.605,0,0,0,16.58941,8.6206a5.00844,5.00844,0,0,0-1.14067,3.27779,5.47389,5.47389,0,0,0,1.45534,3.74324,6.1557,6.1557,0,0,0,4.18246,1.83556,6.20149,6.20149,0,0,0,3.27779-.98334,6.01763,6.01763,0,0,0,1.01612-.826h2.537v1.534H30.5397V6.66048Zm.25567,6.79814H26.52112l1.39634-2.38624Z"/>
  <polygon points="33.077 17.261 33.077 9.152 31.025 9.152 31.025 6.7 37.882 6.7 37.882 9.152 35.784 9.152 35.784 17.261 33.077 17.261 33.077 17.261"/>
  <polygon points="43.841 13.223 41.068 13.223 41.068 17.261 38.361 17.261 38.361 6.7 41.068 6.7 41.068 10.712 43.841 10.712 43.841 6.7 46.562 6.7 46.562 17.261 43.841 17.261 43.841 13.223 43.841 13.223"/>
  <path d="M69.02754,6.69981v5.9l-4.05791-5.9H62.531v3.56624a5.4543,5.4543,0,0,0-1.44223-2.19612,5.9,5.9,0,0,0-7.97815,0,5.17233,5.17233,0,0,0-1.68478,3.8219,5.45428,5.45428,0,0,0,.87189,3.05491H50.22612V6.69981H47.53833V17.26086h5.84758V16.14641a5.65087,5.65087,0,0,0,3.73668,1.31111,5.75582,5.75582,0,0,0,4.07758-1.652,5.32328,5.32328,0,0,0,1.31112-2.14368v3.599h2.7009v-5.9l4.12346,5.9h2.38624V6.69981Zm-11.90494,8.142a2.95657,2.95657,0,0,1-2.91068-2.94346,2.89757,2.89757,0,1,1,2.91068,2.94346Z"/>
  <path d="M15.4979,8.98771V6.66048H9.47332v4.33979A4.91673,4.91673,0,0,0,7.93276,7.965,5.517,5.517,0,0,0,3.79618,6.69981H.01361V17.26086H4.16985a4.78758,4.78758,0,0,0,3.78257-1.31112,4.99538,4.99538,0,0,0,1.5209-2.95V17.1953H15.4979V14.93362h-3.363V12.967h2.91723V10.70527H12.13489V8.98771Zm-11.68861,5.959H2.72106V8.9746H3.79618a2.73028,2.73028,0,0,1,3.06146,2.96968C6.85764,14.0224,5.88086,14.94674,3.80929,14.94674Z"/>
  <rect x="77.32036" width="1.63234" height="24"/>
</svg>
