<svg viewBox="0 0 147.07457 24" width="147.07457" height="24" role="img" class="{{class}}" 
  {% if data_gtm_event  %}data-gtm-event="{{ data_gtm_event }}"{% endif %}
  {% if data_gtm_id %}data-gtm-id="{{ data_gtm_id }}"{% endif %}
  {% if data_gtm_category %}data-gtm-category="{{ data_gtm_category }}"{% endif %}
  {% if data_gtm_delegate %}data-gtm-delegate="{{ data_gtm_delegate }}"{% endif %}
  {% if data_gtm_actions %}data-gtm-actions="{{ data_gtm_actions }}"{% endif %}
>
  <title>Decathlon Kalenji</title>
  <path d="M88.43953,12.62887l-1.59917,1.92687v2.65435H84.612V6.65821h2.22835v4.99412l4.08311-4.99412H93.4533l-3.40151,4.25352,3.67679,6.29836H91.107Z"/>
  <path d="M101.59334,15.84031H97.37258l-.57675,1.36978H94.41674L99.49606,6.35673l5.07932,10.85336h-2.41185Zm-.78648-1.90065-1.31079-3.08691-1.31079,3.08691Z"/>
  <path d="M113.48878,17.21009h-6.80957V6.65821h2.22834v8.52015h4.58778Z"/>
  <path d="M115.81544,6.65821h6.85545V8.7096h-4.6271V10.879h4.08312v2.05139h-4.08312V15.1587h4.6271v2.05139h-6.85545Z"/>
  <path d="M133.91422,17.51157,127.688,11.364v5.84614h-2.16936V6.35673l6.21971,6.10174V6.65821h2.17592Z"/>
  <path d="M139.354,13.71683V6.65821h2.21525v7.05862c0,2.51672-1.52053,3.644-3.40151,3.644a6.47507,6.47507,0,0,1-1.96619-.31459v-2.0645a4.49587,4.49587,0,0,0,1.55328.31459,1.396,1.396,0,0,0,1.59917-1.5795Z"/>
  <path d="M144.84623,6.65821h2.22834V17.21009h-2.22834Z"/>
  <path d="M27.65151,6.66476l-3.99137,6.73748a3.20487,3.20487,0,0,1-2.47084,1.4091,2.92306,2.92306,0,0,1-2.91657-2.92955l.00006-.01318a2.87063,2.87063,0,0,1,2.851-2.8182,3.61779,3.61779,0,0,1,2.34632,1.04208,3.3624,3.3624,0,0,1,.69472.734l1.46153-2.45118a4.48906,4.48906,0,0,0-.71438-.60952,5.89861,5.89861,0,0,0-3.74231-1.35012A5.60364,5.60364,0,0,0,16.58186,8.6244a5.0073,5.0073,0,0,0-1.14039,3.277,5.47262,5.47262,0,0,0,1.455,3.74232,6.15417,6.15417,0,0,0,4.18143,1.8351,6.2,6.2,0,0,0,3.277-.98309,6.01679,6.01679,0,0,0,1.01586-.8258h2.53638v1.53363H30.5287V6.66476Zm.2556,6.79646h-1.396l1.396-2.38564Z"/>
  <polygon points="33.065 17.263 33.065 9.155 31.014 9.155 31.014 6.704 37.869 6.704 37.869 9.155 35.772 9.155 35.772 17.263 33.065 17.263 33.065 17.263"/>
  <polygon points="43.827 13.225 41.054 13.225 41.054 17.263 38.348 17.263 38.348 6.704 41.054 6.704 41.054 10.715 43.827 10.715 43.827 6.704 46.547 6.704 46.547 17.263 43.827 17.263 43.827 13.225 43.827 13.225"/>
  <path d="M69.007,6.70409v5.89857l-4.0569-5.89857H62.51205v3.56536a5.45291,5.45291,0,0,0-1.44187-2.19558,5.89857,5.89857,0,0,0-7.97618,0,5.171,5.171,0,0,0-1.68436,3.821,5.45293,5.45293,0,0,0,.87167,3.05415H50.21025V6.70409H47.52313V17.26252h5.84613V16.14835A5.64955,5.64955,0,0,0,57.105,17.45914a5.75437,5.75437,0,0,0,4.07657-1.6516,5.32186,5.32186,0,0,0,1.31079-2.14314v3.59812h2.70024V11.364l4.12244,5.89857H71.7007V6.70409Zm-11.902,8.14a2.95584,2.95584,0,0,1-2.91-2.94273,2.89685,2.89685,0,1,1,2.91,2.94273Z"/>
  <path d="M15.48408,8.99142V6.66476H9.461v4.33873A4.91544,4.91544,0,0,0,7.9208,7.969,5.51563,5.51563,0,0,0,3.78525,6.70409H.00361V17.26252H4.15883a4.78637,4.78637,0,0,0,3.78163-1.31079A4.99406,4.99406,0,0,0,9.461,13.00245V17.197h6.0231V14.93587H12.12189V12.96968h2.91652V10.70856H12.12189V8.99142ZM3.79836,14.949H2.7104V8.97831H3.78525A2.72961,2.72961,0,0,1,6.846,11.94726C6.846,14.02487,5.86941,14.949,3.79836,14.949Z"/>
  <rect x="77.29779" y="0.00594" width="1.63194" height="23.99406"/>
</svg>
