<svg viewBox="0 0 140.66976 24" width="140.66976" height="24" role="img" class="{{class}}" 
  {% if data_gtm_event  %}data-gtm-event="{{ data_gtm_event }}"{% endif %}
  {% if data_gtm_id %}data-gtm-id="{{ data_gtm_id }}"{% endif %}
  {% if data_gtm_category %}data-gtm-category="{{ data_gtm_category }}"{% endif %}
  {% if data_gtm_delegate %}data-gtm-delegate="{{ data_gtm_delegate }}"{% endif %}
  {% if data_gtm_actions %}data-gtm-actions="{{ data_gtm_actions }}"{% endif %}
>
  <title>Decathlon Wedze</title>
  <path d="M94.47255,17.66075l-3.04179-6.81126-3.04835,6.81126L84.56706,6.8047h2.27479l1.96667,5.44769,2.66813-5.74925,2.68123,5.71647L96.08523,6.8047h2.24856Z"/>
  <path d="M100.64136,6.8047h6.87025V8.8566H102.9227v2.1699h4.08412v2.08467H102.9227v2.2289h4.58891V17.392h-6.87025Z"/>
  <path d="M110.35018,6.8047h3.37612c3.4089,0,5.5657,2.23545,5.5657,5.24447s-2.15679,5.27724-5.5657,5.27724h-3.37612Zm2.23545,2.0519v6.45069h1.4029a3.06145,3.06145,0,0,0,3.01969-3.10265q-.00082-.06139-.00412-.1227a3.0549,3.0549,0,0,0-2.87949-3.22077q-.068-.0038-.13608-.00457Z"/>
  <path d="M120.69489,7.257H122.006l-.15078,3.23191h-1.02267Z"/>
  <path d="M131.40016,17.35919H123.186l4.79213-8.52226h-4.46436V6.8047h8.03715L126.85059,15.327h4.54957Z"/>
  <path d="M133.81261,6.8047h6.85715V8.8566h-4.62824v2.1699h4.09069v2.08467h-4.09069v2.2289h4.62824V17.392h-6.85715Z"/>
  <path d="M27.65146,6.66048l-3.99235,6.73914a3.20568,3.20568,0,0,1-2.47146,1.40945,2.92379,2.92379,0,0,1-2.91729-2.93027l.00006-.01319a2.87134,2.87134,0,0,1,2.85168-2.8189A3.61863,3.61863,0,0,1,23.469,10.08905a3.36315,3.36315,0,0,1,.6949.73422l1.46189-2.45179a4.49122,4.49122,0,0,0-.71455-.60967A5.90012,5.90012,0,0,0,21.168,6.41136,5.605,5.605,0,0,0,16.57908,8.6206a5.00839,5.00839,0,0,0-1.14067,3.27779,5.47393,5.47393,0,0,0,1.45533,3.74324,6.15573,6.15573,0,0,0,4.18247,1.83556,6.20149,6.20149,0,0,0,3.27779-.98334,6.01843,6.01843,0,0,0,1.01612-.826h2.537v1.534h2.62223V6.66048Zm.25567,6.79814H26.51079l1.39634-2.38624Z"/>
  <polygon points="33.066 17.261 33.066 9.152 31.014 9.152 31.014 6.7 37.872 6.7 37.872 9.152 35.774 9.152 35.774 17.261 33.066 17.261 33.066 17.261"/>
  <polygon points="43.831 13.223 41.058 13.223 41.058 17.261 38.35 17.261 38.35 6.7 41.058 6.7 41.058 10.712 43.831 10.712 43.831 6.7 46.551 6.7 46.551 17.261 43.831 17.261 43.831 13.223 43.831 13.223"/>
  <path d="M69.01721,6.69981v5.9l-4.05791-5.9H62.52062v3.56624A5.45428,5.45428,0,0,0,61.0784,8.06993a5.9,5.9,0,0,0-7.97815,0,5.17231,5.17231,0,0,0-1.68479,3.8219,5.45437,5.45437,0,0,0,.8719,3.05491H50.21579V6.69981H47.528V17.26086h5.84758V16.14641a5.65087,5.65087,0,0,0,3.73668,1.31111,5.75582,5.75582,0,0,0,4.07758-1.652A5.32315,5.32315,0,0,0,62.501,13.66184v3.599h2.70091v-5.9l4.12346,5.9h2.38623V6.69981Zm-11.90494,8.142a2.95658,2.95658,0,0,1-2.91069-2.94346,2.89757,2.89757,0,1,1,2.91069,2.94346Z"/>
  <path d="M15.48429,8.98771V6.66048H9.45971v4.33979A4.91663,4.91663,0,0,0,7.91915,7.965,5.517,5.517,0,0,0,3.78257,6.69981H0V17.26086H4.15624a4.78756,4.78756,0,0,0,3.78257-1.31112,4.99538,4.99538,0,0,0,1.5209-2.95V17.1953h6.02458V14.93362h-3.363V12.967h2.91723V10.70527H12.12128V8.98771Zm-11.68861,5.959H2.70746V8.9746H3.78257A2.73028,2.73028,0,0,1,6.844,11.94428C6.844,14.0224,5.86725,14.94674,3.79568,14.94674Z"/>
  <rect x="77.31002" width="1.63234" height="24"/>
</svg>
