{% assign announcement_messages = section.blocks | where: 'type', 'announcement_messages' %}
      {% assign countdown = 0 %}
      {%- if announcement_messages.size > 0 -%}
  <div class="announcement-bar">
    <script>
      window.vars = window.vars || {};
      window.vars.rotatingAnnouncementsDelay = {{ section.settings.rotation_delay }};
      window.vars.rotatingAnnouncementsSpeed = {{ section.settings.rotation_speed }};
    </script>
    <i id="announcement-close" class="fa fa-close announcement-close"></i>     
    {%- for block in announcement_messages -%}
      {%- assign item = block.settings -%}

      {%  if item.bg_colour != blank %}
        {% assign bg = item.bg_colour  %}
        {%- else -%}
        {% assign bg = section.settings.default_bg %}
      {% endif %}

      {%  if item.font_colour != blank %}
        {% assign fontc =  item.font_colour  %}
        {%- else -%}
        {% assign fontc = section.settings.default_font %}
      {% endif %}

      <div class="vertical_text_slider">
      <div class="vertical_text_item"  style="background: {{ bg }}; color: {{ fontc }}">

        {%- if item.url != null -%}
          <a href="{{ item.url }}">
        {%- endif -%}

        {% capture counter %}
          {%- if item.countdown_date != null -%}
            {%- comment -%} Increment ID {%- endcomment -%}
          {% include 'helpers-countdown-counter.liquid' %}
          {%- endif -%}
        {% endcapture %}

        {%- if item.message != null -%}
          {{ item.message | replace: "[countdown]", counter }}
        {%- endif -%}

        {%- if item.url != null -%}
          </a>
        {%- endif -%}

      </div>

      </div>
    {%- endfor -%} 
  </div>
  {%- else -%}
{%- endif -%}
