{% assign announcement_messages = section.blocks | where: 'type', 'announcement_messages' %}
      {% assign countdown = 0 %}
      {%- if announcement_messages.size > 0 -%}
     <script>
      window.vars = window.vars || {};
      window.vars.rotatingAnnouncementsSpeed = {{ section.settings.rotation_speed }};
      window.vars.rotatingAnnouncementsDelay =  {{ section.settings.rotation_delay }};
    </script>
  <div class="announcement-bar">
    <div class="vertical_text_slider">
    {%- for block in announcement_messages -%}
      {%- assign item = block.settings -%}

      {%  if item.bg_colour != blank or item.bg_colour != '' %}
        {% assign bg = item.bg_colour  %}
        {%- else -%}
        {% assign bg = section.settings.default_bg %}
      {% endif %}

      {%  if item.font_colour != blank or item.font_colour != '' %}
        {% assign fontc =  item.font_colour  %}
        {%- else -%}
        {% assign fontc = section.settings.default_font %}
      {% endif %}
      
      {% capture counter %}
        {% if item.countdown_date != null %}
          {%- comment -%} Increment ID {%- endcomment -%}
        {% include 'helpers-countdown-counter.liquid', post_msg_checker: '[hidden]' %}         
        {% endif %}
      {% endcapture %}

      {% if item.message != blank %}
        {% if item.message.size >= 55 %}
          {% assign scroll_class = "horizontal_scroll_mobile" | append: " " | append: item.scroll_speed %}
        {% else %}
          {% assign scroll_class = " " %}
        {% endif %}
        {% assign pre-message =  item.message | strip_newlines | replace: "<p></p>", " " | replace: "[countdown]", counter %}
      {% endif %}

      {% assign now = "now" | date: "%Y-%m-%d %H:%M" %}
      {% assign cutoff = item.countdown_date | append: " " | append: item.countdown_time %}

      {% if now < cutoff %}
        {% assign message = pre-message %}
      {%- else -%}
        {% assign message = item.post_message | strip_newlines | replace: "<p></p>", " "%}
        {% if item.post_message.size >= 55 %}
          {% assign scroll_class = "horizontal_scroll_mobile" | append: " " | append: item.scroll_speed %}
        {% else %}
          {% assign scroll_class = " " %}
        {% endif %}
      {% endif %}

      {% if item.url != blank %}
        <a href="{{ item.url }}" class="vertical_text_item {{scroll_class}} {%if forloop.first%}anim-in{%endif%}"  style="background: {{ bg }}; color: {{ fontc }};">
      {% else %}
        <div class="vertical_text_item {{scroll_class}} {%if forloop.first%}anim-in{%endif%}"  style="background: {{ bg }}; color: {{ fontc }}">
      {% endif %}
      
      <div class="vertical_text_wrapper"  style=" color: {{ fontc }}">
        {{ message }}
      </div>
      
      {% if item.url != blank %}
        </a>
      {% else %}
        </div>
      {% endif %}
      
    {% endfor %} 
    </div>
    <i id="announcement-close" class="fa fa-close announcement-close"></i>
  </div>
  {%- else -%}
{%- endif -%}
