{% assign announcement_messages = section.blocks | where: 'type', 'announcement_messages' %}
      {% assign countdown = 0 %}
      {%- if announcement_messages.size > 0 -%}
     <script>
      window.vars = window.vars || {};
      window.vars.rotatingAnnouncementsSpeed = {{ section.settings.rotation_speed }};
    </script>
  <div class="announcement-bar">
    <div class="vertical_text_slider">
    {%- for block in announcement_messages -%}
      {%- assign item = block.settings -%}
      {%- if item.rotation_delay != blank -%}
        {%- assign display = item.rotation_delay -%}
      {%- else -%}
        {%- assign display = section.settings.rotation_delay -%}  
      {%- endif -%}
      <script>
        window.vars.rotatingAnnouncementsDelay = {{ display }};
      </script>

      {%  if item.bg_colour != blank %}
        {% assign bg = item.bg_colour  %}
        {%- else -%}
        {% assign bg = section.settings.default_bg %}
      {% endif %}

      {%  if item.font_colour != blank %}
        {% assign fontc =  item.font_colour  %}
        {%- else -%}
        {% assign fontc = section.settings.default_font %}
      {% endif %}
      
      <div class="vertical_text_item"  style="background: {{ bg }}; color: {{ fontc }}">

        {%- if item.url != blank -%}
          <a href="{{ item.url }}">
        {%- endif -%}

        {% capture counter %}
          {%- if item.countdown_date != null -%}
            {%- comment -%} Increment ID {%- endcomment -%}
          {% include 'helpers-countdown-counter.liquid' %}         
          {%- endif -%}
        {% endcapture %}

        {%- if item.message != null -%}
          {{ item.message | replace: "[countdown]", counter }}
        {%- endif -%}

        {%- if item.url != blank -%}
          </a>
        {%- endif -%}

      </div>
      
    {%- endfor -%} 
    </div>
    <i id="announcement-close" class="fa fa-close announcement-close"></i>
  </div>
  {%- else -%}
{%- endif -%}
