<!-- /templates/cart.liquid -->
{% include 'helpers-template-name' %}

{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}
<style type="text/css">
  .cart__row { margin-top: 0; padding-top: 1px}
  .u-letterSpacing,
  th, td small { letter-spacing: 1px; }

  .cart-table td, .cart-table th { padding-top: 20px; padding-bottom: 20px; }

  .update-cart { margin: 0 0 0 2em; border: none !important;}
  .subtotalWrap {
    float:right; width: 100%;
    margin-bottom: 1px;
    margin-top: 0.5em;
  }
  .afterpay-info { text-align: right; }
  .afterpay-info img { margin-bottom: -5px; }
  .fee-message { margin-bottom: 1em; }
  .checkout-btn { width: 154px;}



  @media screen and (max-width: 480px) {
    .table--responsive th,
    .table--responsive td {
      text-align: left;
      padding: 10px;
    }

    .table--responsive td small,
    .table--responsive td .h6 { text-align: center; }

    td[data-label="Remove"] {
      float: right;
      bottom: 0;
      position: absolute;
      text-align: right;
      margin-bottom: 53px;
      width: auto;
      right: 0;
    }

    td[data-label="Remove"]:before { content: ''; }

    td[data-label="Quantity"]:before { margin-top: 13px; }


  }

  @media screen and (max-width: 768px) {
    .attachHikers:before { display: none; }
    .update-cart { margin: 1em 0 0; }
    .subtotalWrap { float:right; width: 100%; margin-top: 1em; font-size: 1.4em; }
  }

  .btn--shopNow { display: none; }

  #checkoutBtn {
    display:none;
    font-weight:600;
    cursor:pointer;
    font-size:1.2em;
    background-color:#1c82c3;
    border-radius: 0;
  }

  #checkoutBtn:hover {
    color:white;
  }

  #checkoutBtn.uloader::before {
    color:white;
  }

  #fake-checkoutBtn {
    font-weight:600;
    cursor:pointer;
    font-size:1.2em;
    background-color:#1c82c3;
    border-radius: 0;
    position: relative;
  }

  #fake-checkoutBtn:hover {
    color:white;
  }

  #fake-checkoutBtn.uloader {
    background-color: white;
  }

  #fake-checkoutBtn.uloader::before {
    color: white;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url('{{ 'decathlon-loader.gif' | asset_url }}');
    transform: translate(-50%, -50%);
  }

</style>

{% if settings['is_lookbook'] == false %}

<div class="u-paddingTopBottom4x u-marginBottom4x">
  <div class="wrapper wrapper--midWidth">
  {% if cart.item_count > 0 %}

    <h1 class="h3 text-center">{{ 'cart.general.title' | t }}</h1>
    {% comment %}
    {% if settings['is_lookbook'] == true %}
      <p class="u-textBold text-center">NOTE: Only Easybreath is available for purchase.</p>
    {% endif %}
    {% endcomment %}

    <div class="h5" id="cartSpinner">
      <img src="{{ 'decathlon-loader.gif' | asset_url }}">
      Loading cart...
    </div>

    <div id="cartDisplay" class="de-u-fade">
      <div class="cart-select-store">
        <div class="d-flex-column">
          {% include 'assets-icons-store' with class: 'de-u-textBlue de-Icon' %}
          <a href='/pages/store-finder' target='_blank' title='Stores' class='fav-store-btn'><strong>Stores</strong></a>
        </div>
        {% raw %}
          <p v-if="favStore.name" class="fav-store-selected">
            Your favourite store is:&nbsp;<span class="fav-store-name">
              <select name="favStore" @change="setFavStore($event)">
                <option v-if="!favStore.name" value="" disabled="" :selected="!favStore.name">Please select</option>
                <option v-for="store in pickupStores" v-bind:value="store.id" :selected="favStore.name && store.name === favStore.name" v-text="store.title"></option>
              </select>
            </span>
          </p>
          <p v-else class="no-fav-store-selected">
            To enable Click & Collect, <strong>select your favourite store:</strong>&nbsp;
            <span class="fav-store-name">
              <select name="favStore" @change="setFavStore($event)">
                <option v-if="!favStore.name" value="" disabled="" :selected="!favStore.name">Please select</option>
                <option v-for="store in pickupStores" v-bind:value="store.id" :selected="favStore.name && store.name === favStore.name" v-text="store.title"></option>
              </select>
            </span>
          </p>
        {% endraw %}
      </div>
      <form action="/cart?is-online-store-checkout=true" 
            method="post" 
            novalidate 
            class="cart table-wrap js-de-cart" 
            id="main-cart">
        <table class="cart-table full table--responsive">
          <thead class="cart__row cart__header-labels">
            <th>&nbsp;</th>
            <th class="u-textUppercase u-textBold">{{ 'cart.label.product' | t }}</th>
            <th class="u-textUppercase u-textBold text-center">{{ 'cart.label.price' | t }}</th>
            <th class="u-textUppercase u-textBold text-center">{{ 'cart.label.quantity' | t }}</th>
            <th class="u-textUppercase u-textBold text-right">{{ 'cart.label.total' | t }}</th>
            <th class="column--remove">&nbsp;</th>
          </thead>
          <tbody>
            {% raw %}
              <tr class="cart__row table__section" v-for="(item, index) in cart.items" v-bind:class="checkAvailability(item)">
                <td>
                  <a v-bind:href="item.url" class="cart__image">
                    <img v-bind:src="item.image" v-bind:alt="item.title">
                  </a>
                </td>
                <td>
                  <a v-bind:href="item.url" class="h6 u-marginBottom0x" v-text="item.product_title"></a>
                  <small class="u-textUppercase u-textBold u-block" v-if="item.variant_title.indexOf('Default') < 0" v-text="item.variant_title"></small>
                  <div class="item-messages" v-html="availabilityMessages(item)">

                  </div>
                </td>
                {% endraw %}<td data-label="{{ 'cart.label.price' | t }}">{% raw %}
                  <span class="h6 text-center" v-text="money(item.price)"></span>
                </td>
                {% endraw %}<td data-label="{{ 'cart.label.quantity' | t }}" class="text-center">{% raw %}
                  <input type="number" class="js-de-quantity" name="updates[]" v-bind:id="'updates_' + item.id" v-model:value="item.quantity" min="1" style="text-align: center; max-width: 75px;" v-bind:data-price="item.price" v-bind:data-item-variant="item.variant_id" v-bind:data-row="index" v-on:change="updateQuantity(index + 1, $event.target.value)" v-bind:max="currentMax(item)">
                </td>
                {% endraw %}<td data-label="{{ 'cart.label.total' | t }}" class="text-right">{% raw %}
                  <span class="h6 js-de-line_price" v-text="money(item.line_price)"></span>
                </td>
                <td data-label="Remove">
                  <a v-bind:href="'/cart/update?updates[' + item.key + ']=0'" class="cart__remove">
                    {% endraw %}{% include 'icon-x' with class: 'de-Icon de-cart-remove' %}{% raw %}
                  </a>
                </td>
              </tr>
            {% endraw %}
          </tbody>
        </table>
        {% raw %}
          <input type="hidden" name="attributes[pickup_location]" v-bind:value="deliveryOption !== 'Delivery' ? favStore.street1 : 'none'">
        {% endraw %}
        <div class="grid--full cart__row">
          {% comment %}To Do: Re-add Notes and settings integration{% endcomment %}
          {% raw %}
            <div class="grid__item large--two-thirds one-whole">
              <p class="fav-store-selected shipping-selector" v-if="favStore.name">
                <span>
                  <b>Select your shipping method:</b>
                </span>
                <span>
                  <input type="radio" name="attributes[delivery_mode]" value="Delivery" :checked="deliveryOption === 'Delivery'" @change="setDeliveryOption($event)">
                  <label>Delivery</label>
               <!-- <br>
                  <label><strong>Delivery Delays</strong></label>
				<br>
                  <label>Please note that AusPost and TnT are experiencing up to 4 weeks delays in deliveries.</label>        
                -->
                </span>
                <span class="click-collect">
                  <input type="radio" name="attributes[delivery_mode]" value="Click &amp; Collect" :checked="deliveryOption === 'Click &amp; Collect'" @change="setDeliveryOption($event)">
                  <label>Click &amp; Collect from</label> 
                  <span class="fav-store-name">
                    <select name="favStore" @change="setFavStore($event)">
                      <option v-if="!favStore.name" value="" disabled="" :selected="!favStore.name">Please select</option>
                      <option v-for="store in pickupStores" v-bind:value="store.id" :selected="favStore.name && store.name === favStore.name" v-text="store.title"></option>
                    </select>
                  </span>
                </span>
              </p>
              <p class="no-fav-store-selected" v-else>
                <input type="hidden" name="attributes[delivery_mode]" value="Delivery">
                To enable Click &amp; Collect,<br><strong>select your favourite store:</strong>&nbsp;
                <span class="fav-store-name">
                  <select name="favStore" @change="setFavStore($event)">
                    <option v-if="!favStore.name" value="" disabled="" :selected="!favStore.name">Please select</option>
                    <option v-for="store in pickupStores" v-bind:value="store.id" :selected="favStore.name && store.name === favStore.name" v-text="store.title"></option>
                  </select>
                </span>
              </p>
              <p v-html="cartModificationsMessage()" class="cart_alert">
                3 items unavailable for Click &amp; Collect will be removed from your cart
              </p>
            </div>
          {% endraw %}

          <div class="grid__item large--one-third one-whole large--text-right">
            <p class="small--text-right medium--text-right">

              <span class="subtotalWrap h6">
                <span class="cart__subtotal-title u-textUppercase u-textBold u-letterSpacing">{{ 'cart.general.subtotal' | t }}</span>
                {% raw %}
                  <span class="h6 cart__subtotal js-de-cart__subtotal" v-text="money(cart.total_price)"></span>
                {% endraw %}
              </span>
            </p>
            <small class="u-textUppercase u-letterSpacing u-textBold u-block u-marginBottom2x small--text-right medium--text-right fee-message">{{ 'cart.general.shipping_at_checkout' | t }}</small>

            <p class="small--text-right medium--text-right">
              {% comment %}
              <a href="/collections" class="btn btn--text">Continue Shopping</a>
              <span style="padding: 0 .5em 0 .25em;">or</span>
              {% endcomment %}
              <input type="submit" name="checkout" id="checkoutBtn" class="btn btn--fill checkout-btn" value="{{ 'cart.general.checkout' | t }}">
              {% comment %}
              Use the fake checkout button to avoid concurrently triggering the form submit action
              {% endcomment %}
              <a v-on:click="fakeCheckout($event)" id="fake-checkoutBtn" class="btn btn--fill u-textBold ufe-btn chkout animate__animated animate__fadeIn "><span>{{ 'cart.general.checkout' | t }}</span></a>
            </p>
          </div>
        </div>
      </form>
    </div>
    <div class="grid--full cart__payments de-u-fade">
      {% assign threshold_for_afterpay_threshold = settings.threshold_for_afterpay_threshold | times: 100 %}
      {% assign threshold_for_zip_pay_threshold = settings.threshold_for_zip_pay_threshold | times: 100 %}
      <div class="afterpay-info cart-afterpay-info{% if settings.threshold_for_afterpay_enabled and cart.total_price < threshold_for_afterpay_threshold %} de-u-hidden{% endif %}">
        {{ 'cart.general.afterpay_msg' | t }}&nbsp;<strong><span class="ufe-cart-total-price">{{ cart.total_price | divided_by: 4 | money }}</span></strong> by <img src="{{ 'logo-afterpay.svg' | asset_url }}" alt="Afterpay Logo">&nbsp;<a href="#" title="More info">{{ 'cart.general.more_info' | t }}</a>
      </div>
      {% if settings.threshold_for_afterpay_enabled %}
        {% capture threshold_for_afterpay_logo %}
          <img class="afterpay-logo gateway_logo" style="vertical-align:middle;" src="{{ 'logo-afterpay.svg' | asset_url }}" width="100" height="21" alt="Afterpay" />
        {% endcapture %}
        <div class="cart-afterpay-disabled-info disabled_info{% if cart.total_price >= threshold_for_afterpay_threshold %} de-u-hidden{% endif %}">
          {% assign threshold_for_afterpay_threshold_money = threshold_for_afterpay_threshold | money_without_trailing_zeros %}
          {{ settings.threshold_for_afterpay_cart_message 
            | replace: '[gateway]', settings.threshold_for_afterpay_gateway 
            | replace: '[threshold]', threshold_for_afterpay_threshold_money
            | replace: '[logo]', threshold_for_afterpay_logo
          }}
        </div>
      {% endif %}
      <!-- Zip WIDGET -->
      {% include 'components-zip-widget'%}
      <div id="zip-cart-widget" data-zm-asset="cartwidget" data-zm-widget="popup" data-zm-popup-asset="termsdialog" class="cart-zip-pay-info{% if settings.threshold_for_zip_pay_enabled and cart.total_price < threshold_for_zip_pay_threshold %} de-u-hidden{% endif %}"></div>
      {% if settings.threshold_for_zip_pay_enabled %}
        {% capture threshold_for_zip_pay_logo %}
          <img class="logo gateway_logo" src="https://static.zipmoney.com.au/assets/default/product-widget/img/primary-zip.svg" alt="Zip Pay">
        {% endcapture %}
        <div class="cart-zip-pay-disabled-info disabled_info{% if cart.total_price >= threshold_for_zip_pay_threshold %} de-u-hidden{% endif %}">
          {% assign threshold_for_zip_pay_threshold_money = threshold_for_zip_pay_threshold | money_without_trailing_zeros %}
          {{ settings.threshold_for_zip_pay_cart_message 
            | replace: '[gateway]', settings.threshold_for_zip_pay_gateway 
            | replace: '[threshold]', threshold_for_zip_pay_threshold_money
            | replace: '[logo]', threshold_for_zip_pay_logo
          }}
        </div>
      {% endif %}
      <!-- end Zip WIDGET -->
    </div>
  {% else %}
    {% comment %}
      The cart is empty
    {% endcomment %}
    <div class="text-center">
      <h1 class="h3">{{ 'cart.general.title' | t }}</h1>
      <p>{{ 'cart.general.empty' | t }}</p>
      {% comment %}<p>{{ 'cart.general.continue_browsing_html' | t }}</p>{% endcomment %}
      <p><a class="btn" href="/search">Continue Browsing</a></p>
    </div>
  {% endif %}
  </div>

  {% section 'trending-products' %}
</div>
{% include 'components-afterpay_modal_snippet' %}
{% else %}
  {% include '404' %}
{% endif %}
<script>
  (function(){
    // Assign money_format so formatMoney() works properly
    Shopify.money_format = '{{ shop.money_format }}';
    // Set class for item quantity
    var quantityInputClass = '.js-de-quantity';
    var $quantityInput = $(quantityInputClass);

    // AJAX API Call to change Shopify cart object on quantity change
    function cartQuantityChange() {
      var $changedInput = $(this);
      var successCallbackThis = this;
      var newQty = parseInt($changedInput.val(), 10);
      if ($changedInput.attr('max') === 0) {
        return;
      }
      if (newQty > $changedInput.attr('max')) {
        $changedInput.val($changedInput.attr('max')).trigger('input');
        return;
      }
      if (newQty < 1) {
        $changedInput.val(1).trigger('input');
        return;
      }
      var lineIndex = $changedInput.parents('.cart__row').index() + 1;
      var cartIndex = lineIndex - 1;

      var options = {
        'success': function() {
          updateCartPrices.call(successCallbackThis);
        }
      }
      if (CartJS.cart.items[cartIndex].quantity !== parseInt(newQty)) {
        CartJS.updateItem(lineIndex, newQty, CartJS.cart.items[cartIndex].properties, options);
      }
    }
  }());
</script>
