{% comment %}Preserve collection in true_collection for use later{% endcomment %}
{% assign true_collection = collection %}

{% include 'helpers-template-name' %}

{% include 'collection-header-js' %}

{% if collection.image %}
<div class="collectionImage" style="background-image:url('{{ collection.image | img_url: '1024x' }}'); " data-background-image="{{ collection.image | img_url: '1024x' }}">
  <div class="wrapper">
    {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}

    <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
  </div>
</div>
{% endif %}


<div class="wrapper{% if collection.image %} wrapper--collectionWithBanner u-paddingTopBottom4x{% else %} u-marginBottom4x{% endif %}">
{% include 'find-top-level-collection' %}
{% unless collection.image %}
  {% include 'create-breadcrumbs' %}
{% endunless %}

  <div class="grid">
    <div class="grid__item large--one-quarter left">
      {% include 'nested-navigation' %}
      <!-- Adept Search Start -->
      <div class="adept-collection-filters"></div>
      <!-- Adept Search End -->


    </div>

    <div class="grid__item large--seven-tenths right">

      <!-- Remove html tags from content -->
      {% assign page_content = collection.description | strip_html %}

      <!-- Get the description -->
      {% assign description = page_content | split: '---/description---' | first | split: '---description---' | last%}


      {% comment %}
        Different markup if a collection description exists
      {% endcomment %}
      {% if current_tags.size %}
          <header class="section-header is-currentTag">
            <h1 class="section-header__title u-marginBottom0x">{{ tag_title }}</h1>
          </header>
      {% else %}
        {% if collection.description != blank %}
          <header class="section-header">
            <h1 class="section-header__title">{{ collection.title }}</h1>
            <div class="rte rte--header">
              {{ description }}
            </div>
          </header>
        {% else %}

          <header class="section-header">
          {%- unless collection.image -%}
              <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
          {%- endunless -%}
          </header>
        {% endif %}
      {% endif %}
      
      <!-- AdeptMind - Injecting Products once filters are activated -->
      <div class="all-skill-level-sections adept-collection-products">

      <!-- All products -->
      {% assign all_sections = page_content | split: '---/all_sections---' | first | split: '---all_sections---' | last | split: '---/section_products---' %}

      {% assign product_counter = 0 %}
      {% for section in all_sections %}
		{% if section != blank %}
      		{% assign section_info = section | split: '---section_products---' %}
      		{% assign section_name = section_info | first | split: '---section_header---' | last | split: '---/section_header---' | first %}
      <div class="skill-level-section">
      <h4 class="skill-level-section-header">{{section_name}}</h4>


			{% assign section_products = section_info | last | split: '---/product_description---'%}
      		{% for single_product in section_products%}
      		{% if single_product != blank %}

        	{% comment %}
        	TODO: remove all product_name logic and update the description template: no longer using
        	{%endcomment%}

      			{% assign single_product_info = single_product | split: '---/product_name---' %}
      			{% assign product_name = single_product_info | first | split: '---product_name---' | last %}
      			{% assign product_description = single_product_info | last | split: '---product_description---' | last %}
      			{% assign product = collection.products[product_counter]%}
                <div>

                  {%comment %}
                  <h6>{{product_name}}</h6>
                  {%endcomment%}

                  <div class="skill-level-product-info">
                    <p class="skill-level-product-description hide-mobile">{{product_description}}</p>
                    <div class="skill-level-product">
                      {% include 'product-skill-level' %}
                      <p class="skill-level-product-description show-mobile">{{product_description}}</p>
                    </div>
                  </div>
                </div>

      			{% assign product_counter = product_counter | plus: 1 %}
      		{% endif %}
      		{% endfor %}
      	{% endif %}


        </div>
      {% endfor %}
    </div>

    </div>

  </div>
</div>

{% include 'skill-level-script' %}

{% include 'collection-footer-js' %}
