<div class="de-padding10 de-u-padTop de-u-padBottomNone de-u-textSizeBase">
    <h1 class="de-u-textBold de-u-textCapitalize de-u-textGrow de-u-spaceBottom06">{{ collection.title }}</h1>
    <hr class="de-blue-hr de-u-bgBlue de-u-spaceNone">
    <p class="de-u-textDarkGrasy de-u-spaceBottom06 de-u-textShrink1 de-u-spaceEnds06">Shop By Category</p>
</div>
<div class="de-wrapper wrapper{% if collection.image %} wrapper--collectionWithBanner{% endif %}">
    {% comment %}
    {% include 'find-top-level-collection' %}
    {% unless collection.image %}
		{% include 'create-breadcrumbs' %}
    {% endunless %}
    {% endcomment %}
                <div class="grid--full">
                {% capture collection_handle %}{{ collection.handle }}{% endcapture %}
				{% for link in linklists[collection_handle].links %}
                {% if forloop.first %}
                {% assign subbrand = link.object %}
                {% endif %}
                {% capture desktop-image %}{{ collection.handle }}-{{ link.object.handle }}-desktop.jpg{% endcapture %}
                {% capture mobile-image %}{{ collection.handle }}-{{ link.object.handle }}-mobile.jpg{% endcapture %}
				<div class="grid__item large--one-third medium-down--one-half text-center de-collectionTile">
				    <a href="{{ link.url }}">
              <picture>
                <source media="(max-width: 768px)" srcset="
                  {{ mobile-image | file_img_url: '145x', format: 'pjpg' }} 145w,
                  {{ mobile-image | file_img_url: '240x', format: 'pjpg' }} 240w,
                  {{ mobile-image | file_img_url: '315x', format: 'pjpg' }} 315w,
                  {{ mobile-image | file_img_url: '750x', format: 'pjpg' }} 750w"
                  sizes="50vw"
                >
                <source srcset="
                  {{ desktop-image | file_img_url: '245x', format: 'pjpg' }} 245w,
                  {{ desktop-image | file_img_url: '375x', format: 'pjpg' }} 375w,
                  {{ desktop-image | file_img_url: '585x', format: 'pjpg' }} 585w,
                  {{ desktop-image | file_img_url: '600x', format: 'pjpg' }} 600w"
                  sizes="33vw"
                >
                <img class="de-collectionTileImage" alt="{{ link.object.title }}" src="{{ mobile-image | file_img_url: '200x', format: 'pjpg' }}">
              </picture>
				    </a>
				</div>
				{% endfor %}
                </div>
                <div class="grid--full de-padding10 de-u-padTop de-u-padBottomNone de-u-textSizeBase">
                    <h2 class="de-u-textBold de-u-textCapitalize de-u-textGrow de-u-spaceBottom06">Popular Products</h2>
                </div>
                <div class="grid--full js-slick--attr" data-slick='{ "slidesToShow": 5, "slidesToScroll": 3, "dots": true, "responsive": [{ "breakpoint": 1000, "settings": { "slidesToShow": 3, "slidesToScroll": 3 }}, { "breakpoint": 767, "settings": { "slidesToShow": 2, "slidesToScroll": 2, "dots": false }}, { "breakpoint": 600, "settings": { "slidesToShow": 1, "slidesToScroll": 1, "dots": false }}] }'>
                  {% for product in collection.products %}
                    {%- if product.available -%}
                      {% include 'compositions-product-grid-item', collection: collection %}
                    {%- endif -%}
                  {% endfor %}
                </div>
                <div class="de-collectionSubBrandLogo">
                {% include 'elements-product-sub-brand-logo', product: subbrand.products[0] %}
                </div>
				{% if collection.description != blank %}
                    {%- assign hypervisual = collection.description | split: '<p>---section2---</p>' -%}
                    <div class="de-hypervisualCollectionDescription">
                        {{ hypervisual[0] }}
                    </div>
                    {% if hypervisual[1] %}
                    <div class="de-hypervisualCollectionSection2">
                        {{ hypervisual[1] }}
                    </div>
                    {% endif %}
                {% endif %}

{% if collection.image %}
    <img class="de-collectionHeroImage" alt="{{ collection.title }}" src="{{ collection.image | img_url: '200x', format: 'pjpg' }}" data-src="{{ collection.image | img_url: 'master', format: 'pjpg' }}">
{% endif %}
</div>
<style>
.template-collection .wrapper .js-slick--attr .collectionProduct {
  float: left !important;
}
</style>
