{% include 'shogun-products', content: collection %}
{{collection.metafields.shogun.above}}
{% include 'helpers-template-name' %}

{% include 'collection-header-js' %}
{% if collection.image %}
    <div class="collectionImage medium-down--hide" style="background-image:url('{{ collection.image | img_url: 'master' }}'); " data-background-image="{{ collection.image | img_url: 'master' }}">
        <div class="wrapper">
            {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}

            <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
        </div>
    </div>
{% endif %}

<div class="de-padding10 de-u-textSizeBase large--hide">
      {% include 'find-top-level-collection' %}
      {% include 'create-breadcrumbs' %}
      <h2 class="de-u-textBold de-u-textCapitalize de-u-textGrow de-u-spaceBottom06">{{ collection.title }}</h2>
      <hr class="de-blue-hr de-u-bgBlue de-u-spaceNone">
</div>
<div class="wrapper{% if collection.image %} wrapper--collectionWithBanner u-paddingTopBottom4x{% else %} u-marginBottom4x{% endif %}{% if settings.use_algolia %} algolia-wrapper{% endif %}">
    <div class="medium-down--hide">
    {% unless collection.image %}
		{% include 'create-breadcrumbs' %}
    {% endunless %}
    </div>

    <div class="grid--full {% if settings.use_algolia %}algolia-wrapper{% endif %}">
        <div class="grid__item large--one-quarter left">
            {% include 'nested-navigation' %}
            <!-- Adept Search Start -->
            <div class="adept-collection-filters"></div>
            <!-- Adept Search End -->
        </div>

        <div class="grid__item large--seven-tenths right">
            {% comment %}
            Different markup if a collection description exists
            {% endcomment %}
            <div class="medium-down--hide">
            {% if current_tags.size %}
                <header class="section-header is-currentTag">
                    <h1 class="section-header__title u-marginBottom0x">{{ tag_title }}</h1>
                </header>
                <hr>
            {% else %}
                {% if collection.description != blank %}
                <header class="section-header">
                    <h1 class="section-header__title">{{ collection.title }}</h1>
                    <div class="rte rte--header">
                        {{ collection.description }}
                    </div>
                </header>
                <hr>
                {% else %}

                <header class="section-header">
                    {%- unless collection.image -%}
                        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
                    {%- endunless -%}
                </header>
                <hr>
                {% endif %}
            {% endif %}
            </div>


            {% assign pageBy = 40 %}
            {% assign offset = 40 %}


            <div id="bc-sf-filter-products" class="grid-uniform adept-collection-products">



                {% paginate collection.products by pageBy %}

                    {% for product in collection.products %}
                      <div class="grid__item extra-large--one-third one-half collectionProduct--mod">
                        {% include 'components-product-tile',
                          product: product,
                          delivery_options: false,
                          inventory_status: false %}
                      </div>
                    {% endfor %}

                    {% comment %}
                      @TODO Remove style applied below. This is a temporary fix.
                      When product tiles are replaced by product tile carousels, remove code below.
                    {% endcomment %}
                    <style>
                      @media only screen and (min-width: 1000px) {
                        .extra-large--one-third  {
                          width: 33.33%;
                        }
                      }
                      @media only screen and (min-width: 1300px) {
                        .collectionProduct--mod {
                          width: 25%;
                        }
                      }
                    </style>

                    {% if paginate.pages > 1 %}
                        <div class="paginate-bottom">
                            {{ paginate | default_pagination | replace: '&laquo; Previous', '&lang;' | replace: 'Next &raquo;', '&rang;' }}
                        </div>
                    {% endif %}

                {% endpaginate %}

            </div>
        </div>
    </div>
</div>

{% include 'compositions-collection-page-jsonld' %}
{% include 'collection-footer-js' %}

<script type="module" src="{{ 'built-product-tile.js' | asset_url }}"></script>
<script defer nomodule src="{{ 'built-product-tile-legacy.js' | asset_url }}"></script>


{{collection.metafields.shogun.below}}

