{% include 'helpers-template-name' %}

<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

{% paginate collection.products by 24 %}

{% if collection.image %}
<div class="collectionImage" style="background-image:url('{{ collection.image | img_url: '1024x' }}'); " data-background-image="{{ collection.image | img_url: '1024x' }}">
  <div class="wrapper">
    {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}

    <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
  </div>
</div>
{% endif %}

<div class="wrapper{% if collection.image %} wrapper--collectionWithBanner u-paddingTopBottom4x{% else %} u-marginBottom4x{% endif %}">
{% unless collection.image %}
  {% include 'breadcrumb' %}
{% endunless %}

{% comment %}
  Use .grid--rev so that the collection tags appear below the products on mobile
{% endcomment %}
<div class="grid">
  <div class="collectionSidebar grid__item large--one-quarter left">
    <div class="collectionSidebar-toggle">
      <h5><a href="#" class="collectionSidebar-toggle-link js-toggleCollectionSidebar">Filters</a></h5>
    </div>

    <div class="collectionSidebar-filters">{% include 'collection-sidebar' %}</div>
  </div>

  <div class="grid__item large--seven-tenths right">

    {% comment %}
      Different markup if a collection description exists
    {% endcomment %}
    {% if collection.description != blank %}
      <header class="section-header">
        <h1 class="section-header__title">{{ collection.title }}</h1>
        <div class="rte rte--header">
          {{ collection.description }}
        </div>
      </header>
      <hr>
      <div class="section-header">
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </div>
    {% else %}

      <header class="section-header">
      {%- unless collection.image -%}
          <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
      {%- endunless -%}
        <div class="section-header__right">
          {% include 'collection-sorting' %}
        </div>
      </header>

    {% endif %}

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    <div class="grid-uniform">

      {% comment %}
        Loop through our products in the current collection.
        See the snippet 'compositions-product-grid-item' for the layout.
      {% endcomment %}
      {% for product in collection.products %}

        {% include 'compositions-product-grid-item' %}

      {% else %}

        {% if collection.handle == 'all' and current_tags == '' %}

          {% comment %}
            Add default products to help with onboarding for collections/all only
          {% endcomment %}
          {% unless emptyState %}
            {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
            {% assign emptyState = true %}
          {% endunless %}
          {% include 'onboarding-empty-collection' %}

        {% else %}

          {% comment %}
            If collection exists but is empty, display message
          {% endcomment %}
          <div class="grid__item">
            <p>{{ 'collections.general.no_matches' | t }}</p>
          </div>

        {% endif %}

      {% endfor %}

    </div>

    {% if paginate.pages > 1 %}
      <hr>
      <div class="pagination">
        {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
      </div>
    {% endif %}

  </div>

</div>

</div>{% comment %}end wrapper{% endcomment %}

{% endpaginate %}
