{% comment %}
  top_level is used for both breadcrumbs and navigation
{% endcomment %}
{% for link in linklists %}
  {% if top_level %}
    {% break %}
  {% endif %}
  {% if link.links != blank %}
    {% for sub in link.links %}
      {% if sub.active or sub.child_active %}
        {% if sub.child_active %}
      	  {% assign top_level = sub %}
      	{% elsif sub.active and sub.links == blank %}
      	  {% if link.title == "Shop" or link.title == "Shop All Sports" or link.title == "Shop-Homepage" or link.title == "Header Shop Menu Links" %}
      	    {% assign top_level = sub %}
      	  {% else %}
      		{% assign top_level = link %}
      	  {% endif %}
      	{% elsif sub.active and sub.links != blank %}
      	  {% assign top_level = sub %}
      	{% endif %}
      	{% break %}
	  {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% include 'collection-header-js' %}

{% if collection.image %}
    <div class="collectionImage" style="background-image:url('{{ collection.image | img_url: '1024x' }}'); " data-background-image="{{ collection.image | img_url: '1024x' }}">
        <div class="wrapper">
            {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}

            <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
        </div>
    </div>
{% endif %}


<div class="wrapper{% if collection.image %} wrapper--collectionWithBanner u-paddingTopBottom4x{% else %} u-marginBottom4x{% endif %}">
    {% unless collection.image %}
		<!-- Create Breadcrumbs Start -->
		<nav class="breadcrumb" role="navigation" aria-label="breadcrumbs">
			<a href="/collections" title="All Sports">All Sports</a>
			<span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
			<a href="{{shop.url}}/collections/{{top_level.handle}}" title="{{top_level.title}}">{{top_level.title}}</a>
			{% for link in top_level.links %}
				{% if link.active or link.child_active %}
				<span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
				<a href="{{link.url}}" title="{{link.title}}">{{link.title}}</a>
					{% if link.child_active %}
						<span aria-hidden="true" class="breadcrumb__sep">&rsaquo;</span>
					{% endif %}
					{% if link.links != blank %}
						{% for sub in link.links %}
							{% if sub.active %}
								<a href="{{sub.url}}" title="{{sub.title}}">{{sub.title}}</a>
							{% endif %}
						{% endfor %}
					{% endif %}
				{% endif%}
			{% endfor %}
		</nav>
		<!-- Create Breadcrumbs End -->
    {% endunless %}

    <div class="grid">
        <div class="grid__item large--one-quarter left">

			<!-- Start Nested Nav -->
			 <div id="nested-nav">
			 <ul style='list-style: none'>
			   <li>
			   <a class="breadcrumb-item top-level" href="{{shop.url}}/collections/{{top_level.handle}}">{{top_level.title}}</a>
				 <ul style='list-style: none'>
				   {% for link in top_level.links %}
					   <li>
					   <a class="{% if link.active or link.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
						  href="{{link.url}}">{{link.title}}</a>
						   {% if link.child_active or link.active and link.links != blank %}
							   <ul style='list-style: none'>
							   {% for sub in link.links %}
								   <li>
								   <a class="{% if sub.active or sub.child_active %}breadcrumb-item{% else %}not-breadcrumb-item{% endif %}"
									  href="{{sub.url}}">{{sub.title}}</a>
								   </li>
							   {% endfor %}
							   </ul>
						   {% endif %}
					   </li>
				   {% endfor %}
				 </ul>
			   </li>
			 </ul>
			 </div>
			 <!-- End Nested Nav -->

            <!-- Adept Search Start -->
            <div class="decathlon-filter__container decathlon-filter__collection">
                <input type="checkbox" class="decathlon-filter__mobile-toggle"/>
                <button class="decathlon-filter__mobile-toggle-button">Refine Search</button>
                <div class="decathlon-filter__group">

                    <div class="adept-search-filter"
                    render-from="getCollectionFilter"
                    on-change="window.onCollectionFilterChange"
                    title=""
                    ></div>
                </div>
            </div>
            <!-- Adept Search End -->
        </div>

        <div class="grid__item large--seven-tenths right">
            {% comment %}
            Different markup if a collection description exists
            {% endcomment %}
            {% if current_tags.size %}
                <header class="section-header is-currentTag">
                    <h1 class="section-header__title u-marginBottom0x">{{ tag_title }}</h1>
                </header>
                <hr>
            {% else %}
                {% if collection.description != blank %}
                <header class="section-header">
                    <h1 class="section-header__title">{{ collection.title }}</h1>
                    <div class="rte rte--header">
                        {{ collection.description }}
                    </div>
                </header>
                <hr>
                {% else %}

                <header class="section-header">
                    {%- unless collection.image -%}
                        <h1 class="section-header__title section-header__left">{{ collection.title }}</h1>
                    {%- endunless -%}
                </header>
                <hr>
                {% endif %}
            {% endif %}


            {% assign pageBy = 15 %}
            {% assign offset = 15 %}


            <div id="bc-sf-filter-products" class="grid-uniform">

                {% paginate collection.products by pageBy %}

                    {% for product in collection.products %}

                        {% assign group_name = 'group' | append: collection.handle %}
                        {% capture featuredClass %}
                            {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                        {% endcapture %}
                        {% assign default_giw = 'large--one-third one-half' %}
                        {% if product.tags contains 'featured' %}
                            {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                        {% else %}
                            {% assign grid_item_width = default_giw %}
                        {% endif %}

                        {% include 'product-grid-item' %}

                    {% endfor %}

                    {% if paginate.pages > 1 %}
                        <div class="paginate-bottom">
                            {{ paginate | default_pagination | replace: '&laquo; Previous', '&lang;' | replace: 'Next &raquo;', '&rang;' }}
                        </div>
                    {% endif %}

                {% endpaginate %}

            </div>
        </div>
    </div>
</div>

{% capture product_json %}
var productJSON = [
    {% for product in collection.products %}
        {%- if product.available -%}
            {
                {% if product.options.size == 1 and product.options.first != 'Title' %}
                    addLabel: '{{ product.options.first | escape }}',
                {% endif %}
                    id: '{{ collection.handle }}-{{ product.id }}',
                    product: {{ product | json }}
            },
        {% endif %}
    {% endfor %}
];
{% endcapture %}
{% include 'catalog-script' %}
{% include 'collection-footer-js' %}

