<script>var collectionViewMulti = true;</script>

{% include 'collection-header-js' %}

<style type="text/css">#bc-sf-filter-products .section-header__title { margin-left: 30px; }</style>

{% if collection.image %}
<div class="collectionImage medium-down--hide" style="background-image:url('{{ collection.image | img_url: 'master' }}'); " data-background-image="{{ collection.image | img_url: 'master' }}">
    <div class="wrapper">
        {% include 'breadcrumb', adtl_classes: ' breadcrumb--overImage' %}

        <h1 class="collectionImage-header text-center">{{ collection.title }}</h1>
    </div>
</div>
{% endif %}

<div class="de-padding10 de-u-textSizeBase large--hide">
      {% include 'find-top-level-collection' %}
      {% include 'create-breadcrumbs' %}
      <h2 class="de-u-textBold de-u-textCapitalize de-u-textGrow de-u-spaceBottom06">{{ collection.title }}</h2>
      <hr class="de-blue-hr de-u-bgBlue de-u-spaceNone">
</div>
<div class="wrapper{% if collection.image %} wrapper--collectionWithBanner u-paddingTopBottom4x de-mobile-nopadding{% endif %}">
     <div class="medium-down--hide">
    {% unless collection.image %}
    {% include 'create-breadcrumbs' %}
    {% endunless %}
    </div>

    <div class="grid--full">
        <div class="grid__item large--one-quarter left">
            {% include 'nested-navigation' %}
				<!-- Adept Search Start -->
				<div class="adept-collection-filters"></div>
				<!-- Adept Search End -->

</div>


<div class="grid__item large--seven-tenths right">
    {% comment %}
    Different markup if a collection description exists
    {% endcomment %}
    <div class="medium-down--hide">
    {% if current_tags.size %}
        <header class="section-header">
            <h1 class="section-header__title u-marginBottom0x">{{ tag_title }}</h2>
        </header>
        <hr>
    {% else %}
    {% if collection.description != blank %}
        <header class="section-header">
            <h1 class="section-header__title">{{ collection.title }}</h2>
            <div class="rte rte--header">
                {{ collection.description }}
            </div>
        </header>
        <hr>
        <div class="section-header">
            <div class="section-header__right">
                {% comment %}<div id="bc-sf-filter-top-sorting"></div>{% endcomment %}
                {% comment %}{% include 'collection-sorting' %}{% endcomment %}
            </div>
        </div>
    {% else %}

    <header class="section-header">
        {%- unless collection.image -%}
        <h1 class="section-header__title section-header__left">{{ collection.title }}</h2>
        {%- endunless -%}
        <div class="section-header__right">
            {% comment %}<div id="bc-sf-filter-top-sorting"></div>{% endcomment %}
            {% comment %}{% include 'collection-sorting' %}{% endcomment %}
        </div>
    </header>

    {% endif %}
    {% endif %}
    </div>

    <div class="de-loading text-center">
    <img src="{{ 'decathlon-loader.gif' | asset_url }}">
    </div>

    <div id="bc-sf-filter-products" class="de-collection-multi grid-uniform adept-collection-products">

        {% if current_tags.size %}

            {% paginate collection.products by 15 %}
                {% for product in collection.products %}

                    {% assign group_name = 'group' | append: collection.handle %}
                    {% capture featuredClass %}{% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}{% endcapture %}
                    {% assign default_giw = 'large--one-third one-half' %}
                    {% if product.tags contains 'featured' %}
                        {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                    {% else %}
                        {% assign grid_item_width = default_giw %}
                    {% endif %}
                        {% include 'product-grid-item' %}
                    {% else %}

                    {% comment %}
                    <p class="grid__item text-center">Sorry, we couldn't find any products for this collection.</p>
                    <p class="grid__item text-center"><a href="{{ collection.url }}" class="btn">Back to {{ collection.title }}</a></p>
                    {% endcomment %}

                {% endfor %}
            {% endpaginate %}

        {% else %}
			{% comment %} Find the correct collection: {% endcomment %}
			{% for topLevelLink in linklists %}
				{% if topLevelLink.links != blank %}
					{% for firstLink in topLevelLink.links %}
						{% if firstLink.links != blank %}
							{% for secondLink in firstLink.links %}
								{% if secondLink.links != blank %}
									{% for thirdLink in secondLink.links %}
										{% if thirdLink.title == collection.title %}
											{% assign collectionLinks = thirdLink.links %}
											{% break %}
										{% endif %}
									{% endfor %}
								{% endif %}
								{% if secondLink.title == collection.title %}
									{% assign collectionLinks = secondLink.links %}
									{% break %}
								{% endif %}
							{% endfor %}
						{% endif %}
						{% if firstLink.title == collection.title %}
							{% assign collectionLinks = firstLink.links %}
							{% break %}
						{% endif %}
					{% endfor %}
				{% endif %}
				{% if topLevelLink.title == collection.title %}
					{% assign collectionLinks = topLevelLink.links %}
					{%break%}
				{% endif %}
			{% endfor %}

            {% for link in collectionLinks %}

                {% if link.type == 'product_link' %}
                    <div class="collectionPromo collectionPromo--product" data-background-image="{{ link.title | handleize | append: '-promo.jpg' | file_url }}">
                        <div class="collectionPromo-bg"></div>
                        <div class="collectionPromo-content">
                            <h4>{{ link.title }}</h4>
                            {% assign product = link.object %}
                            {% assign product_intro = product.description | split: '<p>---' %}
                            <p class="u-marginBottom2x">{{ product_intro[0] | strip_html }}</p>
                            {% if settings['is_lookbook'] == false %}
                                <p class="u-marginBottom0x">
                                    <a class="btn btn--rev" href="{{ link.url }}">
                                    Buy
                                    {% if product.price_varies %}
                                        {% assign price = product.price | money %}
                                        {{ 'products.general.from_text_html' | t: price: price }}
                                    {% else %}
                                        for {{ product.price | money }}
                                    {% endif %}
                                    </a>
                                </p>
                            {% else %}
                                <p class="u-marginBottom0x">
                                    <a class="btn btn--rev" href="{{ link.url }}">
                                    {% if settings['is_lookbook'] == false %}
                                        Shop Now
                                        {% else %}
                                        Explore
                                    {% endif %}
                                    </a>
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    {% continue %}
                {% endif %}

                {% assign collection = link.object %}

                <div class="large--hide">
                  <a class="de-mobile-fullwidth" href="{{ collection.url }}">
                    <div class="de-MenuList-item de-padding-5-10{% if forloop.first %} de-mobile-nobordertop{% endif %}{% if forloop.last %} de-mobile-noborderbottom{% endif %}">
                      <div class="three-quarters de-minheight-68">
                        <img class="de-collection-menu-image de-inline-block" src="{{ collection.products[0].featured_image.src | img_url: "200x" }}">
                        <h5 class="de-MenuList-heading de-fontsize-14224 de-inline-block de-inline-header">{{ link.title }}</h5>
                      </div>
                      <div class="one-quarter text-right">
                      {% unless collection.template_suffix contains 'multi' or collection.template_suffix contains 'hypervisual' %}<p class="de-MenuList-badge de-fontsize-14224 de-inline-block">{{ collection.all_products_count }}</p>{% endunless %}
                      {% include 'patterns-icons-chevron', class: 'de-MenuList-icon de-inline-block', role: 'presentation' %}
                      </div>
                    </div>
                  </a>
                </div>
                <div class="medium-down--hide">
                <header class="section-header">
                    <h2 class="section-header__title">
                        {{ link.title }}
                        <a class="btn btn--text" href="{{ link.url }}" style="margin: 10px 0 0 10px;">
                            View All Products
                        </a>
                    </h2>
                </header>
                <div class="grid-uniform">

                    {% assign has_featured = false %}
                    {% assign path_items = link.url | split: '/' %}
                    {% assign product_filter = path_items.last | replace: '-', ' '%}
                    {% assign curIndex = 0 %}

                {% paginate collection.products by 8 %}
                    {% for product in collection.products %}

                        {% comment %} using filter in active collection {% endcomment %}
                        {% if product.tags contains product_filter %}

                            {% if curIndex == 8 %}{% break %}{% endif %}

                            {% assign group_name = 'group' | append: collection.handle %}
                            {% capture featuredClass %}
                                {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                            {% endcapture %}
                            {% if product.tags contains 'featured' and has_featured == false %}
                                {% assign default_giw = 'large--one-third one-half' %}
                                {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                                {% assign has_featured = true %}
                            {% else %}
                                {% assign grid_item_width = defailt_giw %}
                            {% endif %}
                            {% include 'product-grid-item' %}
                            {% assign curIndex = curIndex | plus: 1 %}

                        {% else %}

                            {% comment %}TODO! Filtering outside of active collection{% endcomment %}
                            {% comment %}Regular collection{% endcomment %}

                            {% if collection.url == link.url %}

                                {% if curIndex == 8 %}{% break %}{% endif %}

                                    {% assign group_name = 'group' | append: collection.handle %}
                                    {% capture featuredClass %}
                                        {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                                    {% endcapture %}
                                    {% if product.tags contains 'featured' and has_featured == false %}
                                        {% assign default_giw = 'large--one-third one-half' %}
                                        {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                                        {% assign has_featured = true %}
                                    {% else %}
                                        {% assign grid_item_width = defailt_giw %}
                                    {% endif %}
                                    {% include 'product-grid-item' %}
                                    {% assign curIndex = curIndex | plus: 1 %}

                            {% else %}

                                {% if collection.url == link.url %}

                                    {% if curIndex == 8 %}{% break %}{% endif %}

                                    {% assign group_name = 'group' | append: collection.handle %}
                                    {% capture featuredClass %}
                                        {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                                    {% endcapture %}
                                    {% if product.tags contains 'featured' and has_featured == false %}
                                        {% assign default_giw = 'large--one-third one-half' %}
                                        {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                                        {% assign has_featured = true %}
                                    {% else %}
                                        {% assign grid_item_width = defailt_giw %}
                                    {% endif %}
                                    {% include 'product-grid-item' %}
                                    {% assign curIndex = curIndex | plus: 1 %}

                                {% else %}

                                        {% assign cur_tag = link.url | replace: collection.url, '' | replace: '/','' %}

                                        {% if cur_tag == '' %}

                                            {% if curIndex == 8 %}{% break %}{% endif %}
                                            {% assign group_name = 'group' | append: collection.handle %}
                                            {% capture featuredClass %}
                                                {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                                            {% endcapture %}
                                            {% if product.tags contains 'featured' and has_featured == false %}
                                                {% assign default_giw = 'large--one-third one-half' %}
                                                {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                                                {% assign has_featured = true %}
                                            {% else %}
                                                {% assign grid_item_width = defailt_giw %}
                                            {% endif %}
                                            {% include 'product-grid-item' %}
                                            {% assign curIndex = curIndex | plus: 1 %}

                                        {% else %}

                                            {% comment %}
                                            Pick Active Product Tag for collection
                                            {% endcomment %}

                                            {% assign handled_cur_tag = cur_tag | handle %}
                                            {% assign active_product_tag = '' %}
                                            {% for tag in product.tags %}
                                                {% assign tagged_handle = tag | handle %}
                                                {% if tagged_handle == handled_cur_tag %}
                                                    {% assign active_product_tag = tag %}
                                                {% endif %}
                                            {% endfor %}

                                            {% if product.tags contains active_product_tag %}
                                                {% if curIndex == 8 %}{% break %}{% endif %}

                                                {% assign group_name = 'group' | append: collection.handle %}
                                                {% capture featuredClass %}
                                                    {% cycle group_name: '', ' collectionProduct--featured--middle', ' collectionProduct--featured--end js-adjustFeaturedContent' %}
                                                {% endcapture %}
                                                {% if product.tags contains 'featured' and has_featured == false %}
                                                    {% assign default_giw = 'large--one-third one-half' %}
                                                    {% assign grid_item_width = default_giw | append: ' collectionProduct--featured' | append: featuredClass %}
                                                    {% assign has_featured = true %}
                                                {% else %}
                                                    {% assign grid_item_width = defailt_giw %}
                                                {% endif %}
                                                {% include 'product-grid-item' %}
                                                {% assign curIndex = curIndex | plus: 1 %}
                                            {% endif %}

                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                {% endpaginate %}
                </div>
                </div>
            {% endfor %}
            </div>
        {% endif %}
        </div>
        <div id="bc-sf-filter-bottom-pagination"></div>
    </div>
</div>

<script>
$( document ).ready(function() {
  $('.de-loading').hide();
  $('.de-collection-multi').css('opacity', 1);
});
</script>

{% include 'collection-footer-js' %}
