<!-- /templates/index.liquid -->
{% comment %} {% include 'promo-band' %} {% endcomment %}

<h1 style="display:none">{{ shop.name }}</h1>
<div id="bannerHero" class="banner banner--slideshow js-slick--attr js-de-banner-loading de-banner-loading" data-slick='{ "dots": true,
  "infinite": true,
  "autoplay": true,
  "autoplaySpeed": 7000,
  "slidesToShow": 1,
  "arrows": true,
  "adaptiveHeight": false }'>

    {% for i in (1..3) %}
      {% assign slideName = 'homepage_main_banner_' | append: i | append: '_'  %}
      {% assign slideImage = slideName | append: 'background_image.jpg'  %}
      {% assign slideBGPosition = slideName | append: 'background_position' %}
      {% assign slideIntro = slideName | append: 'intro'  %}
      {% assign slideTitle = slideName | append: 'headline'  %}
      {% assign slideDescription = slideName | append: 'subheadline'  %}
      {% assign slideLinkText = slideName | append: 'link_text'  %}
      {% assign slideLink = slideName | append: 'page_link'  %}
      {% assign slideShowCTAImage = slideName | append: 'show_cta_product'  %}
      {% assign slideCTAImage = slideName | append: 'cta_product_image.png' %}

      {% comment %}
        * When making updates to any of the following variables:
        * [slideName, slideImage, banner_bg_image_size, banner_bg_image]
        * make sure to also update the same variables present within
        * layout/theme.liquid <head> block.
        * The reason for the repeated use is to enable preloading of these images.
      {% endcomment %}
      {% assign banner_bg_image_size = '1600x' %}
      {% assign banner_bg_image = slideImage | asset_img_url: banner_bg_image_size, format: 'pjpg' %}

      {% if settings[slideShowCTAImage] %}
        {% assign button_cta_image = slideCTAImage | asset_url %}
      {% else %}
        {% assign button_cta_image = null %}
      {% endif %}

      {% if settings[slideTitle] != blank %}
      <div class="banner--slide">
        {% include 'banner--billboard',
          banner_wrapper_adtl_classes: ' u-centerVertically',
          banner_bg_position: settings[slideBGPosition],
          banner_title: settings[slideTitle],
          banner_subtitle: settings[slideDescription],
          button_wrapper: 'banner-btnContainer',
          button_url: settings[slideLink],
          button_title: settings[slideLinkText]
        %}
      </div>
      {% endif %}

    {% endfor %}

</div>

{% assign button_cta_image = null %}

{% comment %} {% include 'blue-band' %} {% endcomment %}

{% comment %} {% if settings['homepage_store_info_toggle'] == true %}
<div class="storeInfo">
  <div class="wrapper">
    <div class="grid--full">
      <div class="grid__item storeInfo-hoursFlex u-centerVertically">
        <div class="u-centerVertically-ie">
          <div class="storeInfo-hoursFlex-box u-bgLightGray">
            <h6 class="text-center">{{ settings['homepage_store_info_grey_box_title'] }}</h6>
            <p class="text-center u-marginBottom0x">{{ settings['homepage_store_info_hours'] }}</p>
          </div>
        </div>
      </div>
      <div class="grid__item storeInfo-btnsFlex u-centerVertically">
        <div class="u-centerVertically-ie">

          <h4 class="visitUsText">{{ settings['homepage_store_info_middle_title'] }}</h4>
          <div class="storeInfo-btnsFlex-box">
            <a class="btn btn--text btn--storeInfo" href="/pages/{{ settings['homepage_store_info_middle_link_1_page_link'] }}">{{ settings['homepage_store_info_middle_link_1_text'] }}</a>
            <a class="btn btn--text btn--storeInfo" href="/pages/{{ settings['homepage_store_info_middle_link_2_page_link'] }}">{{ settings['homepage_store_info_middle_link_2_text'] }}</a>
          </div>
        </div>
      </div>
      <div class="grid__item storeInfo-imgFlex">
        <img src="{{ 'homepage_store_info_image.jpg' | asset_url }}" alt="Decathlon Store Picture">
      </div>
    </div>
  </div>
</div>
{% endif %} {% endcomment %}

{% comment %} <div class="grid--full medium-down--hide large--show">
  {% assign banner_img = 'homepage_half_banner_left_image.jpg' | asset_url %}
  {% include 'banner--half',
    banner_image: banner_img,
    banner_title: settings['homepage_half_banner_left_title'],
    button_wrapper: 'u-zindex1x',
    button_url: collections[settings['homepage_half_banner_left_collection']].url,
    button_title: settings['homepage_half_banner_left_btn_text'],
    wrapper: 'banner-btnContainer'
  %}
  {% assign banner_img = 'homepage_half_banner_right_image.jpg' | asset_url %}
  {% include 'banner--half',
    banner_image: banner_img,
    banner_title: settings['homepage_half_banner_right_title'],
    button_wrapper: 'u-zindex1x',
    button_url: collections[settings['homepage_half_banner_right_collection']].url,
    button_title: settings['homepage_half_banner_right_link_text'],
    wrapper: 'banner-btnContainer'
  %}
</div> {% endcomment %}

{% comment %} {% include 'get-going-pack', index: 'top' %} {% endcomment %}

{% assign banner_bg_image = nil %}
{% comment %} {% assign video_banner_png = 'banner_transparent_png.png' | asset_url %} {% endcomment %}
{% comment %} {% include 'home-innovation-video-bg',
  banner_adtl_classes: ' banner--centeredContent',
  banner_title: settings['homepage_video_banner_headline'],
  banner_transparent_png: video_banner_png,
  video_url: settings['homepage_video_banner_youtube_url'],
  button_title_image: settings['homepage_video_banner_video_link_text'],
  button_url: settings['homepage_video_banner_page_link'],
  video_button: '{ "url": "/pages/the-joy-of-innovation", "text": "Learn How We Innovate" }'
 %} {% endcomment %}

{% comment %} <div id="innovationBanner" class="banner banner--slideshow js-slick--attr" data-slick='{ "dots": true, "infinite": true, "autoplay": true, "autoplaySpeed": 7000, "slidesToShow": 1, "arrows": true, "adaptiveHeight": true }'>

    {% for i in (1..3) %}
      {% assign slideName = 'homepage_slider_banner_' | append: i | append: '_'  %}
      {% assign slideImage = slideName | append: 'background_image.jpg'  %}
      {% assign slideBGPosition = slideName | append: 'background_position' %}
      {% assign slideIntro = slideName | append: 'intro'  %}
      {% assign slideTitle = slideName | append: 'headline'  %}
      {% assign slideDescription = slideName | append: 'subheadline'  %}
      {% assign slideLinkText = slideName | append: 'link_text'  %}
      {% assign slideLink = slideName | append: 'product_link'  %}
      {% assign slideProduct = all_products[settings[slideLink]] %}
      {% assign slidePrice = slideProduct.price | money %}

      {% assign banner_bg_image = slideImage | asset_url %}
      {% assign button_url = slideProduct.url %}
      {% assign button_title = settings[slideLinkText] | replace: '{price}', slidePrice %}

      <!--{{ slideProduct.url }}-->
      <div class="banner--slide">
        {% include 'banner--billboard',
          banner_wrapper_adtl_classes: ' u-centerVertically',
          banner_bg_position: settings[slideBGPosition],
          banner_title: settings[slideTitle],
          banner_intro: settings[slideIntro],
          banner_subtitle: settings[slideDescription],
          button_wrapper: 'banner-btnContainer'
        %}
      </div>

    {% endfor %}

</div> {% endcomment %}

{% comment %} {% include 'get-going-pack', index: 'bottom' %} {% endcomment %}

{% comment %} {% include 'trending-products' %} {% endcomment %}

{% comment %} <!-- blog cards -->
<div class="blogCards">
  <div class="wrapper">
    <h3 class="text-center u-marginBottom2x">{{ 'homepage.sections.news_title' | t }}</h3>
    <div class="grid-uniform u-flex-list u-flex-list--line js-slick--attr" data-slick='{ "infinite": true, "autoplay": false, "slidesToShow": 1, "dots": true, "arrows": false, "mobileFirst": true, "responsive": [ { "breakpoint": 768, "settings": "unslick" } ] }'>
    {% assign featured_articles = false %}
    {% for blog in linklists['all-blogs'].links %}
      {% if featured_articles %}
        {% assign featured_articles = featured_articles | concat: blog.object.articles %}
      {% else %}
        {% assign featured_articles = blog.object.articles %}
      {% endif %}
    {% endfor %}

    {% assign featured_articles = featured_articles | sort: 'published_at' | reverse %}
    {%- for article in featured_articles -%}
      {% if forloop.index > 3 %}{% break %}{% endif %}
      {% include 'get-blog-for-article', blogs: linklists['all-blogs'].links, article: article %}
      {% include 'blog-grid-item', size_classes: 'large--one-third' %}
    {%- endfor -%}

    </div>
    {% include 'elements-button',
      button_wrapper: 'text-center blogCards-moreButton u-marginTop4x u-block',
      button_url: '/pages/all-blogs',
      button_title: 'More from Our Playbook'
    %}
  </div>
</div> {% endcomment %}

{% comment %} {% include 'videos-script' %} {% endcomment %}

{{ content_for_index }}

<script>
$(window).load(function(){
  $('.js-de-banner-loading').removeClass('de-banner-loading');
});
</script>
