<!-- /templates/list-collections.liquid -->

<div class="de-padding10 de-u-padTop de-u-padBottomNone de-u-textSizeBase">
    <h2 class="de-u-textBold de-u-textCapitalize de-u-textGrow de-u-spaceBottom06">What's Your Sport?</h2>
    <hr class="de-blue-hr de-u-bgBlue de-u-spaceNone">
    <p class="de-u-textDarkGrasy de-u-spaceBottom06 de-u-textShrink1 de-u-spaceEnds06">Shop By Sport</p>
</div>
<div class="template-collection">
    <div class="de-wrapper wrapper">
        <div class="grid--full">
            {% for link in linklists['shop-homepage'].links %}
                {% capture desktop-image %}{{ link.object.handle }}-desktop.jpg{% endcapture %}
                {% capture mobile-image %}{{ link.object.handle }}-mobile.jpg{% endcapture %}
                <div class="grid__item large--one-third medium-down--one-half text-center de-collectionTile">
                    <a href="{{ link.url }}">
                        <img class="de-collectionTileImage medium-down--hide" alt="{{ link.object.title }}" src="{{ desktop-image | file_img_url: '200x', format: 'pjpg' }}" data-src="{{ desktop-image | file_img_url: '1200x', format: 'pjpg' }}">
                        <img class="de-collectionTileImage large--hide" alt="{{ link.object.title }}" src="{{ mobile-image | file_img_url: '200x', format: 'pjpg' }}" data-src="{{ mobile-image | file_img_url: '800x', format: 'pjpg' }}">
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
