{% assign main_banner_subtitle = page.content | strip_html %}

{% assign banner_bg_image =  'innovations_main_banner_background_image.jpg' | asset_url %}
{% include 'banner--billboard',
  banner_adtl_classes: ' banner--centeredContent banner--wide banner--centeredContent--narrowContent',
  banner_title_adtl_classes: ' u-marginBottom025x',
  banner_title: settings['innovations_main_banner_headline'],
  banner_subtitle: settings['innovations_main_banner_subheadline'],
%}


<div class="u-block">
  <div class="wrapper u-paddingTopBottom6x">
    {% for i in (1..5) %}
      {% assign blockName = 'innovations_content_block_' | append: i | append: '_'  %}
      {% assign blockCircleImage = blockName | append: 'circle_image.jpg'  %}
      {% assign blockProductImage = blockName | append: 'product_image.png'  %}
      {% assign blockTitle = blockName | append: 'title'  %}
      {% assign blockDescription = blockName | append: 'description'  %}
      {% assign blockLinkText = blockName | append: 'link_text'  %}
      {% assign blockProductLink = blockName | append: 'product_link'  %}
      {% assign blockProductVideo = blockName | append:'video_url' %}
      {% assign blockProduct = all_products[settings[blockProductLink]] %}
      {% assign blockPrice = blockProduct.price | money %}
      {% assign blockVideoId = settings[blockProductVideo] | split: '?v=' | last %}

      {% assign button_title = settings[blockLinkText] | replace: '{price}', blockPrice %}
      {% assign button_url = blockProduct.url %}
      {% assign split_image_url = blockCircleImage | asset_url %}

      {% assign hideBtn = blockName | append: 'hide_btn' %}

      {% capture split_content_adtl_classes %}{% cycle '', ' splitContent--swapped' %} u-block{% endcapture %}

      <div class="grid{% cycle ' grid--rev', '' %} u-paddingTopBottom4x">
        <div class="grid__item large--one-half{% cycle ' text-right', '' %} innovation-circles">
          <div class="innovationVideo">
            <div class="innovationVideo-wrap" style="background-image:url('{{ blockCircleImage | asset_url }}')">
              <div id="video-{{ blockVideoId }}" class="innovationVideo-iframe"></div>
            </div>
            {{ blockProductImage | asset_url | img_tag: '', 'innovationVideo-product' }}
          </div>
        </div>
        <div class="grid__item large--one-half u-marginTop2x">


          <h3>{{ settings[blockTitle] }}</h3>
          <div class="splitContent-description u-marginBottom3x"><p>{{ settings[blockDescription] | newline_to_br }}</p></div>

          {% if settings[hideBtn] == false %}
            {% include 'elements-button',
            button_url: blockProduct.url,
            button_wrapper: 'split-content-btn'
            %}
          {% endif %}
        </div>
      </div>

      {% comment %}
      {% include 'split-content',
      split_content_title: settings[blockTitle],
      split_content_description: settings[blockDescription],

      button_url: settings[blockPageLink],
      button_title: settings[blockLinkText],
      button_wrapper: 'split-content-btn'
      %}
      {% endcomment %}
    {% endfor %}

  </div>
</div>

{% assign banner_bg_image =  'innovations_banner_2_background_image.jpg' | asset_url %}
{% include 'banner--billboard',
  banner_adtl_classes: ' banner--centeredContent banner--black-font behindHikers',
  banner_title: settings['innovations_banner_2_headline'],
  banner_title_adtl_classes: ' h4 u-paddingTopBottom1x',
  banner_subtitle: settings['innovations_banner_2_subheadline'],
  button_wrapper: 'u-marginBottom0x',
  button_url: settings['innovations_banner_2_page_link'],
  button_title: settings['innovations_banner_2_link_text'],
  button_adtl_classes: ' btn--blue',
  new_window: true
%}

{% assign banner_bg_image =  'innovations_banner_3_background_image.jpg' | asset_url %}
{% include 'banner--billboard',
  banner_adtl_classes: ' banner--centeredContent banner--black-font behindHikers',
  banner_title: settings['innovations_banner_3_headline'],
  banner_title_adtl_classes: ' h3 u-paddingTopBottom1x',
  banner_subtitle: settings['innovations_banner_3_subheadline'],
  button_wrapper: 'u-marginBottom2x',
  button_url: settings['innovations_banner_3_page_link'],
  button_title: settings['innovations_banner_3_link_text'] ,
  new_window: true
%}

{% include 'innovations-videos-script' %}
