<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% include 'section-clips' %}

{% comment %}
  From existing Decathlon Product template START BLOCK 1
{% endcomment %}
{% assign product_has_size_chart = false %}
{%- for tag in product.tags -%}
  {%- if tag contains 'Model Code: ' -%}
    {%- assign model_code_tag = tag | split: 'Model Code: ' -%}
    {%- assign model_code = model_code_tag[1] -%}
  {%- endif -%}
  {%- if tag contains 'Size Chart: ' -%}
    {% assign product_has_size_chart = true %}
  {%- endif -%}

{%- endfor -%}

{% if model_code == blank %}
	{% capture model_code %}{{ product.variants.first.option3 }}{% endcapture %}
{% endif %}

{% comment %}
  From existing Decathlon Product template END BLOCK 1
{% endcomment %}

{% comment %}
  From existing Decathlon Product template START BLOCK 2
{% endcomment %}
<div id="ProductWrap"
  class="timber-activeProduct {% if product.options.size < 2
  %}product-singleOption{% endif %}
  itemscope
  itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

{% comment %}
  From existing Decathlon Product template END BLOCK 2
{% endcomment %}

  {% comment %}
    From existing Decathlon Product template START BLOCK 3
  {% endcomment %}
  <div class="de-Wrapper de-u-lg-spaceBottom3">

    {% comment %} Breadcrumbs {% endcomment %}
    <div class="de-u-hidden de-u-md-block">
      {% include 'breadcrumb' %}
    </div>

    <div class="de-u-lg-flex de-u-lg-flexJustifyBetween">
      <div class="ProductGallery ProductGallery--large">
        <div class="ProductGallery-thumbnails">
          {% for i in (1..16) %}
            <img
              class="ThumbnailImage de-u-block de-u-padBottom03"
              src="https://cdn.shopify.com/s/files/1/1330/6287/products/00164127-432c-4479-b71b-04d30eae0301_400x400.jpg"
              alt="">
          {% endfor %}
        </div>
        <div class="ProductGallery-showcase">
          <img
            class="GalleryImage de-u-block"
            src="https://cdn.shopify.com/s/files/1/1330/6287/products/cf438995-20ba-44e5-8afa-4d5eb628cfcd_1024x1024.jpg"
            alt="">
        </div>
      </div>
      <div class="ProductBuyBox">
        {% include 'product-proto-buybox' %}
      </div>
    </div>

    {% comment %} <div class="product-description rte" itemprop="description">
      {{ product_intro }}
    </div> {% endcomment %}

    {% comment %} <div class="addons-list">
      <a class="u-textBold u-marginBottom0x">Included:</a>
      <small class="addons-list__items"></small>
    </div> {% endcomment %}

    {% comment %}
      {% include 'product-detail--collection-control' %}
    {% endcomment %}

    </div>
  </div>{% comment %}/.wrapper{% endcomment %}

</div>

{% if product_video.size > 0 %}
<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Videos
  </h3>
  {% include 'product-videos' %}
</div>
{% endif %}

<div class="de-ProductInfoSection de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Features
  </h3>
  <div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet soluta
    beatae quibusdam recusandae inventore vitae sapiente commodi iste eius
    maxime fugiat ex aut maiores, aliquam sequi vel. Molestiae, quisquam
    nihil.</p>
  </div>
  {% comment %}
    {{ product_features }}
  {% endcomment %}
  {%- assign start = product.description | split: '<p>---specs---</p>' -%}
  {%- assign end = start[1] | split: '<p>---/specs---</p>' -%}
  {%- assign product_specs = end[0] -%}
  {{ product_specs }}
</div>

<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Image Gallery
  </h3>
</div>

<div class="de-ProductInfoSection de-u-padEnds de-u-md-padSides js-de-Reviews" data-model-code="{{model_code}}">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Customer Reviews
  </h3>
  {% comment %}
    Customer Reviews Prototype Markup
    {% include 'product-proto-customer-reviews' %}
  {% endcomment %}
  {% comment %} Dynamic Customer Reviews {% endcomment %}
  {% include 'product-customer-reviews' %}
</div>

<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Product Information
  </h3>
  <div class="product-description rte" itemprop="description">
    {{ product.description }}
  </div>
</div>

{% comment %}
  From existing Decathlon Product template END BLOCK 3
{% endcomment %}

{% include 'product-single-timber' %}

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{% comment %}
  From Shopify Timber Product template START BLOCK 2
{% endcomment %}
<script>
  var productJSON = {{ product | json }},
      colorOption = null,
      selectCallbackInitialized = false,
      activeColor;

  productJSON.rating = '{{ product.metafields.ratings.product_rating }}';

  for(option in productJSON.options) {
    if (productJSON.options[option] === 'Color') {
      colorOption = 'option'+ (parseInt(option) + 1);
    }
  }

  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  {% comment %} jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  }); {% endcomment %}
</script>
{% comment %}
  From Shopify Timber Product template END BLOCK 2
{% endcomment %}

{% comment %}
  From existing Decathlon Product template START BLOCK 4
{% endcomment %}
{% include 'sizechart' %}
{% comment %}
  From existing Decathlon Product template END BLOCK 4
{% endcomment %}
