<!-- /templates/product.liquid -->
{% comment %}

  Rich snippets (itemscope, itemtype, etc.) for products are a theme requirement,
  and allow search engines to easily understand what the content is.

  For more information on these Scheme.org tags, visit:
    - http://schema.org/docs/gs.html

{% endcomment %}

{% include 'section-clips' %}

{% comment %}
  From existing Decathlon Product template START BLOCK 1
{% endcomment %}
{% assign product_has_size_chart = false %}
{%- for tag in product.tags -%}
  {%- if tag contains 'Model Code: ' -%}
    {%- assign model_code_tag = tag | split: 'Model Code: ' -%}
    {%- assign model_code = model_code_tag[1] -%}
  {%- endif -%}
  {%- if tag contains 'Size Chart: ' -%}
    {% assign product_has_size_chart = true %}
  {%- endif -%}

{%- endfor -%}

{% if model_code == blank %}
	{% capture model_code %}{{ product.variants.first.option3 }}{% endcapture %}
{% endif %}

{% comment %} Product Flags {% endcomment %}
{% if product.tags contains 'Innovation' %}
  <span class="productFlagz productFlag--productDetailz">Innovation</span>
{% endif %}

{% comment %}
  From existing Decathlon Product template END BLOCK 1
{% endcomment %}

{% comment %}
  From existing Decathlon Product template START BLOCK 2
{% endcomment %}
<div id="ProductWrap"
  class="timber-activeProduct {% if product.options.size < 2
  %}product-singleOption{% endif %}{% if product.tags contains 'Innovation' %}
  has-productFlag{% endif %}"
  itemscope
  itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: 'grande' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {% assign current_variant = product.selected_or_first_available_variant %}

{% comment %}
  From existing Decathlon Product template END BLOCK 2
{% endcomment %}

    {% comment %}
      From existing Decathlon Product template START BLOCK 3
    {% endcomment %}
    <div class="de-u-padSides">

      {% comment %} Breadcrumbs {% endcomment %}
      <div class="de-u-hidden de-u-md-block">
        {% include 'breadcrumb' %}
      </div>

      {% comment %} Small Screen Title Lockup {% endcomment %}
      {% include 'product-sm-title-lockup' %}

      {% comment %} <div class="product-description rte" itemprop="description">
        {{ product_intro }}
      </div> {% endcomment %}

      <div class="addons-list">
        <a class="u-textBold u-marginBottom0x">Included:</a>
        <small class="addons-list__items"></small>
      </div>

      {% comment %}
        {% include 'product-detail--collection-control' %}
      {% endcomment %}



      </div>
    </div>{% comment %}/.wrapper{% endcomment %}

    {% comment %}
      From existing Decathlon Product template END BLOCK 3
    {% endcomment %}

  {% include 'product-single-timber' %}
</div>

<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Videos
  </h3>
</div>

<div class="de-ProductInfoSection de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Features
  </h3>
  <div>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Amet soluta
    beatae quibusdam recusandae inventore vitae sapiente commodi iste eius
    maxime fugiat ex aut maiores, aliquam sequi vel. Molestiae, quisquam
    nihil.</p>
  </div>
  {% comment %} {{ product_features }} {% endcomment %}
</div>

<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Image Gallery
  </h3>
</div>

<div class="de-ProductInfoSection de-u-padEnds de-u-md-padSides">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Customer Reviews
  </h3>

  {% comment %}
    Review Summary
  {% endcomment %}

  <div class="de-Grid de-u-padTop3">

    <div class="de-u-md-size1of2 de-u-lg-size1of3 de-u-padSides
      de-u-md-padSidesNone">
      <div class="de-ReviewSummary de-u-padBottom06">
        <div class="de-StarRating de-u-textGrow1">
          <div class="de-StarRating-fill" style="width: 89%"></div>
        </div>

        <div class="de-u-textGrow2 de-u-flex de-u-flexJustifyBetween
          de-u-flexAlignItemsBaseline">
          <div>
            <span class="de-u-textBold">4.9</span> out of 5 stars
          </div>
          <div class="de-u-textNormal de-u-textAlignRight">212 Reviews</div>
        </div>
      </div>

      {% comment %}
        Review Matrix
      {% endcomment %}
      <div class="de-ReviewMatrix de-u-padTop03">

        <div class="de-u-flex">
          <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
            <div class="de-StarRating">
              <div class="de-StarRating-fill" style="width: 100%"></div>
            </div>
            <div class="de-u-textDarkGray de-u-padLeft06" style="position: relative; bottom: 3px;">90</div>
          </div>
          <div class="de-ReviewMatrix-graph">
            <svg height="10px" width="100%">
              <rect class="total" width="100%" height="7px" fill="#d8d8d8"></rect>
              <rect class="completed" width="90%" height="7px" fill="#0082c3"></rect>
            </svg>
          </div>
        </div>

        <div class="de-u-flex">
          <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
            <div class="de-StarRating">
              <div class="de-StarRating-fill" style="width: 80%"></div>
            </div>
            <div class="de-u-textDarkGray de-u-padLeft06" style="position: relative; bottom: 3px;">60</div>
          </div>
          <div class="de-ReviewMatrix-graph">
            <svg class="progress-bar" height="10px" width="100%">
              <rect class="total" width="100%" height="7px" fill="#d8d8d8"></rect>
              <rect class="completed" width="60%" height="7px" fill="#0082c3"></rect>
            </svg>
          </div>
        </div>

        <div class="de-u-flex">
          <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
            <div class="de-StarRating">
              <div class="de-StarRating-fill" style="width: 40%"></div>
            </div>
            <div class="de-u-textDarkGray de-u-padLeft06" style="position: relative; bottom: 3px;">22</div>
          </div>
          <div class="de-ReviewMatrix-graph">
            <svg class="progress-bar" height="10px" width="100%">
              <rect class="total" width="100%" height="7px" fill="#d8d8d8"></rect>
              <rect class="completed" width="22%" height="7px" fill="#0082c3"></rect>
            </svg>
          </div>
        </div>

        <div class="de-u-flex">
          <div class="de-ReviewMatrix-stars de-u-flex de-u-padRight">
            <div class="de-StarRating">
              <div class="de-StarRating-fill" style="width: 40%"></div>
            </div>
            <div class="de-u-textDarkGray de-u-padLeft06" style="position: relative;
            bottom: 3px;"><span style="opacity:0;">0</span>4</div>
          </div>
          <div class="de-ReviewMatrix-graph">
            <svg class="progress-bar" height="10px" width="100%">
              <rect class="total" width="100%" height="7px" fill="#d8d8d8"></rect>
              <rect class="completed" width="10%" height="7px" fill="#0082c3"></rect>
            </svg>
          </div>
        </div>

      </div>

      <div class="btn btn--productReviews de-u-block de-u-spaceTop2
        de-u-textGrow1 de-u-padEnds">
        Write a Review
      </div>

      <img
        src="https://cdn.shopify.com/s/files/1/1330/6287/products/cf438995-20ba-44e5-8afa-4d5eb628cfcd.jpg"
        class="de-u-spaceTop6 de-u-hidden de-u-md-block"
        alt="">

    </div>

    {% comment %}
    Customer Reviews
    {% endcomment %}

    <div class="de-u-md-size1of2 de-u-lg-size2of3 de-u-padTop6 de-u-md-padTopNone
      de-u-padSides de-u-md-padRightNone de-u-md-padLeft6">

      <div class="de-u-flex de-u-flexAlignItemsCenter de-u-spaceBottom6">
        <div class="de-u-padRight de-u-textBold de-u-textSizeBase">Sort by</div>
        <select name="ReviewSort" id="ReviewSort" class="de-u-textSizeBase">
          <option value="Newest">Newest</option>
          <option value="Newest">Oldest</option>
        </select>
      </div>

      {% for i in (1..5) %}
      <div class="de-CustomerReview de-u-padBottom3 de-u-spaceBottom3">
        <div class="de-u-flex de-u-flexAlignItemsBaseline de-u-flexCol de-u-lg-flexRow">
          <div class="de-u-textGrow1 de-u-padRight06 de-u-padBottom06
          de-lg-padBottomNone de-u-flex de-u-flexAlignItemsCenter ">
            <div class="de-StarRating">
              <div class="de-StarRating-fill" style="width: 80%"></div>
            </div>
          </div>
          <div class="de-u-textGrow3 de-u-textMedium
            de-u-lineHeight2 de-u-padBottom06">
            Extremely pleased with this version
          </div>
        </div>

        <p class="de-u-spaceNone">
          I'm extremely pleased with this version of the bag -
          an upgrade from the all-fabric version ealier. Purchased this because I lost
          the other one. Love the semi-rigidity of it. With this I can pack: 1 inner
          tube, 2 levers, 1 set allen key, 3 AAA batteries, 1 CO2 cartridge, 1 nozzle
          & 1 patch kit. Superb!
        </p>

        <div class="de-Grid de-u-padTop06">

        <div class="de-u-size4of6 de-u-textDarkGray">
          <div class="de-u-textMedium">
            Lois Lane
          </div>
          {% comment %} <span class="de-u-textMedium">Size:</span> M | <span
              class="de-u-textMedium">Color:</span> chartreuse {% endcomment %}
          <div class="de-u-flex de-u-flexAlignItemsCenter">
            <svg xmlns="http://www.w3.org/2000/svg"
              class="de-Icon de-u-textGrow5 de-u-padRight06"
              xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 24 24"><defs><clipPath
              id="a"><circle cx="12" cy="12" r="12" style="fill:none"/></clipPath><clipPath
              id="b"><rect x="-919.5" y="-5427" width="2148" height="9648"
              style="fill:none"/></clipPath><clipPath id="c"><path
              d="M11.117,15.59471a.57242.57242,0,0,0,.37758-.219L15.98628,9.2429a.54929.54929,0,0,0,.054-.55157.56283.56283,0,0,0-.9654-.09262l-4.16626,5.7076L8.79948,12.7087a.5873.5873,0,0,0-.78118.09019.57568.57568,0,0,0,.09114.773l2.53882,1.93259a.64246.64246,0,0,0,.33852.12884A.25031.25031,0,0,1,11.117,15.59471Z"
              style="fill:none"/></clipPath><clipPath id="d"><rect x="-919.49871"
              y="-5427.63795" width="2148" height="9648"
              style="fill:none"/></clipPath></defs><title>icon-circle-checkmark</title><rect
              x="-704" y="-3204" width="1432" height="6432" style="fill:#fff"/><g
              style="clip-path:url(#a)"><g style="clip-path:url(#b)"><rect x="-7.5" y="-7.5"
              width="39" height="39" style="fill:#cbfb00"/></g></g><g
              style="clip-path:url(#c)"><g style="clip-path:url(#d)"><rect x="0.40941"
              y="0.86664" width="23.18119" height="22.26672" style="fill:#2a2b2c"/>
              </g></g></svg>
            <span class="de-u-textGrow1z">verified purchase 03/13/2018</span>
          </div>
        </div>

        <div class="de-u-size2of6 de-u-flex de-u-flexJustifyEnd de-u-flexAlignItemsEnd">
          <button class="de-u-textBlue de-u-textMedium">
            Helpful?
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
              class="de-Icon de-u-spaceLeft06 de-u-textGrow1">
              <path d="M22.99967,11.69005a2.70757,2.70757,0,0,1-.13442.41205c-.12339.24239-.271.47375-.39882.71393a.30627.30627,0,0,0-.04848.22035,2.18091,2.18091,0,0,1-.36137,2.22771.238.238,0,0,0-.05068.26882,2.13383,2.13383,0,0,1-.28645,2.08008.52222.52222,0,0,0-.10356.47816,2.33248,2.33248,0,0,1-.55087,2.2894,2.02059,2.02059,0,0,1-1.10174.58613,6.37479,6.37479,0,0,1-1.13038.12119H10.4597a2.56488,2.56488,0,0,1-1.41243-.46052.52879.52879,0,0,0-.41866-.10577,3.01564,3.01564,0,0,1-.033.40323.88139.88139,0,0,1-.80868.791,1.75126,1.75126,0,0,1-.1917,0H2.0226a.9431.9431,0,0,1-1.01719-.86265q-.00248-.03024-.003-.06061V12.07787a.98273.98273,0,0,1,1.03123-1.04445H8.32453a3.54251,3.54251,0,0,1,.4407.08373.29964.29964,0,0,0,.22034-.02644,6.81788,6.81788,0,0,0,.64122-.71613A29.30724,29.30724,0,0,0,11.914,6.61766a1.35294,1.35294,0,0,0,.16526-.70291c-.02864-.72494-.02864-1.45209-.05509-2.177A1.20311,1.20311,0,0,1,12.661,2.59191a2.3423,2.3423,0,0,1,2.54942.141,1.45214,1.45214,0,0,1,.39222.58613c.271.661.52883,1.33751.758,2.01838a4.36517,4.36517,0,0,1,.09255,2.28721c-.11458.57951-.19832,1.16563-.29747,1.74735-.033.19831-.02644.22035.17628.22035h4.7617a2.03816,2.03816,0,0,1,1.10174.26221,1.66367,1.66367,0,0,1,.73376,1.04885c.01762.06831.03966.13442.05949.20052v.59714Zm-7.97878-1.18987c.17187-1.02021.34594-2.01838.50459-3.01656a4.43488,4.43488,0,0,0,.09916-1.07529,8.82971,8.82971,0,0,0-.85936-2.71468.661.661,0,0,0-.49137-.4407,1.48954,1.48954,0,0,0-1.10174.097.39442.39442,0,0,0-.24018.401q.04407,1.20309.04407,2.40619a1.63716,1.63716,0,0,1-.09474.56189,3.84591,3.84591,0,0,1-.32171.661c-.661,1.08191-1.32209,2.16822-2.00076,3.2369a4.14693,4.14693,0,0,1-1.18326,1.32209c-.31289.20272-.628.40984-.93207.62358a.29747.29747,0,0,0-.12119.20272v6.5355c0,.13.05509.14323.16746.15645a3.17716,3.17716,0,0,1,.62579.13,1.73414,1.73414,0,0,1,.39.23577,1.948,1.948,0,0,0,1.12378.33714h8.29387a3.761,3.761,0,0,0,.49138-.02865,1.43666,1.43666,0,0,0,1.018-.58832,1.00738,1.00738,0,0,0,.05729-1.23836,2.68592,2.68592,0,0,0-.509-.38561.39456.39456,0,0,1,.141-.152,1.42563,1.42563,0,0,0,1.02682-.98935.89241.89241,0,0,0-.282-1.02462,3.65258,3.65258,0,0,0-.49357-.271.63227.63227,0,0,1,.19611-.1895,1.35738,1.35738,0,0,0,.83732-.59714.96734.96734,0,0,0-.4407-1.57328.1917.1917,0,0,1-.11458-.119.16306.16306,0,0,1,.1411-.18239l.00433-.0005a1.37054,1.37054,0,0,0,1.05106-1.18326.88138.88138,0,0,0-.48036-1.0158,1.613,1.613,0,0,0-.61257-.11458H15.02309ZM7.50043,11.96769c-.07051,0-.12339-.011-.17407-.011H2.10853a.152.152,0,0,0-.18729.1895v8.468a.16747.16747,0,0,0,.20492.20713H7.27348c.22034,0,.22034,0,.22034-.23137V11.9765Z"/>
            </svg>
          </button>
        </div>
      </div>

      </div>
      {% endfor %}

    </div>

  </div>
</div>

<div class="de-ProductInfoSection de-ProductInfoSection--silver de-u-pad">
  <h3 class="de-ProductInfoTitle de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceNone
    de-u-hidden de-u-md-inlineBlock">
    Product Information
  </h3>
  <div class="product-description rte" itemprop="description">
    {% comment %} {{ product.description }} {% endcomment %}
    {%- assign start = product.description | split: '<p>---specs---</p>' -%}
    {%- assign end = start[1] | split: '<p>---/specs---</p>' -%}
    {%- assign product_specs = end[0] -%}
    {{ product_specs }}
  </div>
</div>

{% comment %}
  To take advantage of a callback on the select dropdown, add option_selection.js
  and customize the JS in timber.productPage as needed.

  Currently, timber.productPage does the following:
    - Hides your <select> tag from above
    - Breaks out the product variants into separate product options, if more than one exists
    - Generates a <select> tag for each product option
    - Enables/disables elements based on variant availability

  Callback notes:
    - Keep the callback available to the global scope (window.selectCallback) so that advanced
      addons can override it.
      * E.g. multiple currencies http://docs.shopify.com/manual/configuration/store-customization/currencies-and-translations/currencies/how-to-toggle-between-two-currencies
{% endcomment %}

{{ 'option_selection.js' | shopify_asset_url | script_tag }}

{% comment %}
  From Shopify Timber Product template START BLOCK 2
{% endcomment %}
<script>
  var productJSON = {{ product | json }},
      colorOption = null,
      selectCallbackInitialized = false,
      activeColor;

  productJSON.rating = '{{ product.metafields.ratings.product_rating }}';

  for(option in productJSON.options) {
    if (productJSON.options[option] === 'Color') {
      colorOption = 'option'+ (parseInt(option) + 1);
    }
  }

  var selectCallback = function(variant, selector) {
    timber.productPage({
      money_format: "{{ shop.money_format }}",
      variant: variant,
      selector: selector
    });
  };

  {% comment %} jQuery(function($) {
    new Shopify.OptionSelectors('productSelect', {
      product: {{ product | json }},
      onVariantSelected: selectCallback,
      enableHistoryState: true
    });

    // Add label if only one product option and it isn't 'Title'. Could be 'Size'.
    {% if product.options.size == 1 and product.options.first != 'Title' %}
      $('.selector-wrapper:eq(0)').prepend('<label for="productSelect-option-0">{{ product.options.first | escape }}</label>');
    {% endif %}

    // Hide selectors if we only have 1 variant and its title contains 'Default'.
    {% if product.variants.size == 1 and product.variants.first.title contains 'Default' %}
      $('.selector-wrapper').hide();
    {% endif %}
  }); {% endcomment %}
</script>
{% comment %}
  From Shopify Timber Product template END BLOCK 2
{% endcomment %}

{% comment %}
  From existing Decathlon Product template START BLOCK 4
{% endcomment %}
{% include 'sizechart' %}
{% comment %}
  From existing Decathlon Product template END BLOCK 4
{% endcomment %}
