<script id="AddedItemTemplate" type="text/template">
{% raw %}
<section class="de-PostAddToCartContainer">
  <section class="de-PostAddToCart">
    <section class="de-PostAddToCart-content de-PostAddToCart-info">
      <h3 class="de-u-textGrow de-u-md-textGrow2 de-u-textBold de-u-spaceBottom06">
        Great Choice! Added {{ added_quantity }} item{{#if added_multiple}}s{{/if}}
      </h3>
      <section class="de-CartItemInfo-grid de-u-padTop06 de-u-md-padEnds06">
        <div class="de-CartItemInfo-images de-u-flex de-u-flexNone de-u-flexAlignItemsCenter de-is-loading">
          <div class="de-u-flex de-u-padRight06">
            <svg width="26px" height="26px" viewBox="0 0 26 26">
            <path d="M8.56591313,23 L8.55915517,23 C8.25778143,22.9975013 7.96990825,22.8649608 7.75991373,22.632019 L0.326157411,14.3864291 C0.0411391726,14.0763895 -0.0674580557,13.6253338 0.0417364197,13.205094 C0.150930895,12.7848541 0.461103291,12.4601388 0.854091777,12.35465 C1.24708026,12.2491612 1.66237241,12.3791421 1.94176045,12.6950758 L8.5771764,20.057123 L24.0912006,3.34068829 C24.5331474,2.88074577 25.235644,2.8873236 25.6701063,3.35547236 C26.1045686,3.82362113 26.1106731,4.58058654 25.6838266,5.05680017 L9.36200085,22.6441556 C9.15091486,22.8718059 8.8645634,23 8.56591313,23 L8.56591313,23 Z" id="Path" fill="#0380C5" fill-rule="nonzero"></path>
            </svg>
          </div>
          <img alt="{{ product_title }}" class="de-ProductThumbnail de-u-block" src="{{ image }}">
        </div>
        <div class="de-CartItemInfo-price de-u-padLeft03 de-u-sizeFull de-u-md-textGrow">
          <h3 class="de-u-textGrow1 de-u-md-textGrow2 de-u-textMedium de-u-spaceBottomNone" itemprop="name">{{ product_title }}</h3>
          <div class="de-u-textDarkGray">
            <span>{{ variant_title }}</span>
            <div class="de-postAddToCart-pricerow de-postAddToCart-pricerow--md de-u-md-textGrow de-u-spaceBottom06">
              <div class="de-postAddToCart-priceInfo de-u-sizeFull">
                <div class="de-u-flex de-u-flexJustifyBetween de-u-sizeFull">
                  <div>
                    <span class="de-ProductTile-price de-u-padRight06" id="ProductPrice">
                      <span class="de-u-hiddenVisually">Sale price:</span>
                      <span>{{ price_dollars }}</span>
                    </span>
                  </div>
                  <span>Qty: {{ added_quantity }}</span>
                  <span class="de-u-textMedium">{{ line_price_dollars }}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div class="de-postAddToCart-pricerow de-postAddToCart-pricerow--sm de-u-md-textGrow de-u-spaceBottom06">
        <div class="de-postAddToCart-priceInfo de-u-sizeFull">
          <div class="de-u-flex de-u-flexJustifyBetween de-u-sizeFull">
            <div>
              <span class="de-ProductTile-price de-u-padRight06" id="ProductPrice">
                <span class="de-u-hiddenVisually">Sale price:</span>
                <span>{{ price_dollars }}</span>
              </span>
            </div>
            <span>Qty: {{ added_quantity }}</span>
            <span class="de-u-textMedium">{{ line_price_dollars }}</span>
          </div>
        </div>
      </div>
      <section class="de-FreeShippingIndicator de-u-bgWhite de-u-overflowXNone de-u-overflowYNone de-u-padRight06 de-u-hidden de-u-lg-block de-u-padBottomNone de-u-borderTopMd de-u-borderLightGray de-u-padEnds06 de-u-md-padBottom03 de-is-loading de-Skeleton">
        <div class="de-u-spaceTop06 de-u-textMedium de-lineMessage">
          {% endraw %}{% include 'assets-icons-returns'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_one }}
        </div>
        <div class="de-u-spaceNone de-u-textMedium de-lineMessage">
          {% endraw %}{% include 'assets-icons-delivery-truck'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_two }}
        </div>
        <div class="de-u-spaceBottom06 de-u-textMedium de-lineMessage">
          {% endraw %}{% include 'assets-icons-store'
          with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_three }}
        </div>
      </section>
    </section>

    <section>
      <h2 class="de-u-textGrow de-u-md-textGrow2 de-u-spaceBottom03">
        Cart Subtotal
        <span class="de-u-textDarkGray de-u-textNormal de-CartCount"> ({{ cart_count }} item{{#if cart_multiple}}s{{/if}})</span>
      </h2>

      <div class="de-CartSubtotal de-u-borderLightGray de-u-borderSm de-u-textShrink1 de-u-md-textGrow de-is-loading de-Skeleton">
        <div class="de-u-pad03">
          <span class="de-u-flex de-u-flexJustifyBetween de-u-padBottom06">
            <span>Subtotal</span>
            <span>{{ subtotal_before_discounts }}</span>
          </span>
          {{#if has_compare_at_difference}}
          <span class="de-u-flex de-u-flexJustifyBetween de-u-padBottom06 de-u-textRed">
            <span>Discount</span>
            <span>{{ compare_at_difference_dollar }}</span>
          </span>
          {{/if}}
          <span class="de-u-flex de-u-flexJustifyBetween de-u-padBottom06">
            <span>Shipping</span>
            <span>Calculated at checkout</span>
          </span>
        </div>
        <div class="de-u-borderTopSm de-u-borderLightGray de-u-bgSilver">
          <span class="de-u-textGrow1 de-u-textMedium de-u-flex de-u-flexJustifyBetween de-u-pad03">
            <span>Estimated Total</span>
            <span class="de-u-textBold">{{ subtotal }}</span>
          </span>
        </div>
      </div>
      
      <div class="de-u-md-flex de-u-padTopNone de-u-spaceEnds1 de-md-u-padBottomNone">
        <a class="btn de-u-flexInline de-u-flexJustifyCenter de-u-flexAlignItemsCenter de-u-textSizeBase de-u-md-spaceRight06 de-u-spaceBottom06 de-u-md-spaceBottomNone de-u-padSides06 de-u-sizeFull js-de-PostAddToCart-viewCart" href="/cart">
          View Cart
        </a>
        <form action="/cart" method="post" class="drawer-checkout-form">
          <input type="hidden" name="checkout" value="Checkout">
          <button class="de-Button btn btn--fill de-u-textSizeBase de-u-sizeFull de-u-padSides06 js-de-checkout js-de-PostAddToCart-checkout" type="submit">
            Check Out
          </button>
        </form>
      </div>
    </section>

    <section class="de-FreeShippingIndicator de-u-bgWhite de-u-overflowXNone de-u-overflowYNone de-u-padRight06 de-u-block de-u-lg-hidden de-u-padBottomNone de-u-borderTopMd de-u-borderLightGray de-u-padEnds06 de-u-md-padBottom03 de-is-loading de-Skeleton">
      <div class="de-u-spaceTop06 de-u-textMedium de-lineMessage">
        {% endraw %}{% include 'assets-icons-returns'
      with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_one }}
      </div>
      <div class="de-u-spaceNone de-u-textMedium de-lineMessage">
        {% endraw %}{% include 'assets-icons-delivery-truck'
      with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_two }}
      </div>
      <div class="de-u-spaceBottom06 de-u-textMedium de-lineMessage">
        {% endraw %}{% include 'assets-icons-store'
        with class: 'de-u-textBlack de-Icon de-u-textGrow6 de-u-spaceRight03' %}{% raw %}{{ line_three }}
      </div>
    </section>
  </section>

  <section class="de-PostAddToCart-FrequentlyBought">
    <section class="de-u-borderTopMd de-u-borderLightGray de-u-spaceTop de-u-lg-spaceTopNone">
      {% endraw %}
      {% assign associated_product_handles = '' %}

      {% assign metafield_associated_product_handles = product.metafields.merchandising.associated_products.products %}
      {% for h in metafield_associated_product_handles %}
        {% if all_products[h] != blank %}
          {% assign associated_product_handles = associated_product_handles | append: '|' | append: h %}
        {% endif %}
      {% endfor %}

      {% assign associated_product_handles = associated_product_handles | remove_first: '|' | split: '|' %}

      {% if associated_product_handles.size < 1 %}
        {% assign associated_product_handles = collections['trending-products'].products | limit: 8 | map: 'handle' %}
      {% endif %}

      {% if associated_product_handles.size > 0 %}
        <div class="js-de-DYProductTileGrid de-u-padTop03 de-u-md-padTop3">
          <h2 class="de-u-borderBottomLg de-u-borderLime de-u-textGrow2 de-u-md-textGrow3 de-u-lg-textGrow4 de-u-spaceBottomNone de-u-inline">
            Frequently Bought Together
          </h2>
          <div class="trendingProducts associated-products-carousel-container">
            {% if associated_product_handles %}
              {% for handle in associated_product_handles limit: 8 %}
                {% assign carousel_product = all_products[handle] %}
                {%- if carousel_product.available -%}
                  {% comment %} Product Tile Carousel Slide {% endcomment %}
                  {% include 'components-product-tile',
                    product: carousel_product,
                    class: "de-ProductTileCarousel-item",
                    delivery_options: delivery_options,
                    inventory_status: inventory_status,
                    added_item_drawer: true
                  %}
                {%- endif -%}
              {% endfor %}
            {% endif %}
          </div>
        </div>
      {% endif %}
      {% raw %}
    </section>
  </section>
</section>
{% endraw %}
</script>
